[2013-07-26 22:09] jbphet opened #1 "Sliders can't be slid to minimum values"
The sliders only allow the user to set the mass to 2kg, and the arrow buttons must be used to get it to one.

[2013-07-26 22:11] jbphet opened #2 "The dotted line for the center of mass position doesn't match the spec"
If you look closely at the spec, the red and blue dotted lines that indicate the center of mass position has a white dotted line just behind it.  This is so that it can be seen better when over the mass.

Also, the size of the dashes don't match the spec.  The size was carefully chosen, and should be matched, at least roughly.

[2013-07-26 22:12] jbphet opened #3 "Color on the control panels doesn't match spec"
The control panel color is darker than what is shown in the spec.

[2013-07-26 22:15] jbphet opened #4 "Ruler should only have markings on the top"
In the current version, the ruler has marks on both the top and bottom.  In the spec, they are only on the top.

[2013-07-26 22:18] jbphet opened #5 "Slider knobs can be hard to grab in touch environments"
This was noticed on an iPad 2.  The sliders can sometimes be a bit tricky to grab.  I would suggest turning on touchToSnag to see if that solves the problem and, if not, making an extended hit area.

[2013-07-26 22:20] jbphet opened #6 "Arrow knobs should gray out when limits reached"
The arrow knobs should gray out when the limit is reached.  For an example of this behavior, please look at the slider at the bottom of tab 2 of Beers Law Lab here: http://www.colorado.edu/physics/phet/dev/html/beers-law-lab/0.0.0-17/beers-law-lab.html.

[2013-07-26 22:23] jbphet opened #7 "Add credits"
Credits should be added to match what was in the original simulation.  Please see the build-an-atom-main.js file for an example of how credits should be added, and adjust the credits to match those in the Java version of the GFL simulation, which can be found under Help->About...->Credits

[2013-07-29 13:55] #1 closed, assigned to nobody

[2013-07-29 13:55] #2 closed, assigned to nobody

[2013-07-29 13:55] #3 closed, assigned to nobody

[2013-07-29 13:55] #5 closed, assigned to nobody

[2013-07-29 13:55] #6 closed, assigned to nobody

[2013-07-29 13:55] #7 closed, assigned to nobody

[2013-08-07 01:42] ariel-phet opened #8 "Checkbox fill color should be white"
For the "Show Values" checkbox, the checkbox color is currently yellow, it should be white as detailed in the mockups

[2013-08-07 01:48] ariel-phet opened #9 "Too little negative space above navbar"
The Mass control panels have too little negative space above navbar. Please move the mass controls, the show values and the reset button vertically upwards as shown in the attached screenshot.

It would also be good to have the sim start with the ruler vertically centered in the negative space between the mass controls and the masses, which I have also shown in the mockup
![gfl_modifiedspacing](ht

[2013-08-08 13:53] #8 closed, assigned to vasily-shakhov

[2013-08-08 13:53] #9 closed, assigned to vasily-shakhov

[2013-08-08 23:56] jbphet opened #10 "Move number markers to the top of the slider"
The numbers are currently shown below the slider.  The UI designers have requested that they go on top of the slider track instead.  Please see the screenshot below for an example of the desired appearance.

This is an enhancement request, so if MLL can do it within the original budget they should go ahead.  If not, let PhET know and we will do it.

![beers-law-slider](https://f.cloud.github.com/a

[2013-08-08 23:59] jbphet opened #11 "There should be more space between the mass readout and the up/down buttons"
The current spacing between the up/down arrow buttons and the mass value is quite tight, and there should be more space.  The spec depicts more space, and the screen shot below shows roughly the sort of spacing that we are looking for.

![beers-law-slider](https://f.cloud.github.com/assets/3082831/935527/9eab7c5a-0086-11e3-8bf9-97d97bf0b476.png)

[2013-08-09 00:09] jbphet opened #12 "Replace the slider knobs with drawn version like that used in Beer's Law Lab"
The current version uses the slider knob that was originally specified, but the UI designers have requested that the slider knob used in BLL be used instead.  The slider can be seen on the second tab of this version of BLL: http://www.colorado.edu/physics/phet/dev/html/beers-law-lab/1.0.0-0/beers-law-lab.html and the code can be found in the "ConcentrationSlider.js" class.

Note to MLL: This is an

[2013-08-09 01:24] jonathanolson opened #13 "ArrowButton shouldn't be duplicated between scenery-phet and gravity force lab"
What is the reason for the duplication? Hopefully we can edit the common version so that it can be used here.

[2013-08-09 03:44] jonathanolson opened #14 "Slider track is very hard to click"
Right now, you have to click on the thinly stroked line. mouseArea / touchArea should be added to the track, so that it is easy to activate a bit more above/below the line.

[2013-08-09 23:31] #11 closed, assigned to nobody

[2013-08-12 23:54] pixelzoom opened #15 "initial layout is lopsided"
See screenshot below. Any reason why everything is off to the right a bit?  Any reason why things can't be centered?

![gfl-initial-layout](https://f.cloud.github.com/assets/3046552/951646/6d2e7cc8-03aa-11e3-999b-1713900ed006.jpg)

[2013-08-13 00:02] pixelzoom opened #16 "missing image reported on startup"
Console reports:

GET http://localhost/~cmalley/Github/gravity-force-lab/images/rope.png 404 (Not Found) PxLoaderImage.js:46

[2013-08-13 00:03] pixelzoom opened #17 "images/license.txt is not complete"
Many images are missing from the license.txt file. All images that are in images/ should be accounted for.

[2013-08-13 00:10] pixelzoom opened #18 "unused dependencies in gravity-force-lab-contrib.js"
Some of the entries here look suspect...

NITROGLYCERIN is typically used by chemistry sims, and I don't see any imports.

stats (path and shim) is required by phetcommon.PerformanceMonitor, which this sim is not using.

[2013-08-13 00:19] pixelzoom opened #19 "English strings should be in nls/root/gravity-force-lab-strings.js"
There are 2 places that the "root" strings can be located: either in the top-level strings file, or under nls/root/.  PhET decided to put them under nls/root/.

So the English strings should be moved to nls/root/gravity-force-lab-strings.js

And nls/gravity-force-lab-strings.js should look like this:

[code]

[2013-08-13 00:24] #13 closed, assigned to pixelzoom

[2013-08-13 00:33] #14 closed, assigned to pixelzoom

[2013-08-13 00:35] #18 closed, assigned to nobody

[2013-08-13 00:37] pixelzoom opened #20 "package.json errors"
phetLibs: shows build-an-atom as a dependency, and it's missing axon and gravity-force-lab

preload: missing ../phetcommon/js/util/check-accessibility.js

[2013-08-13 15:49] #20 closed, assigned to nobody

[2013-08-13 15:52] #19 closed, assigned to nobody

[2013-08-13 16:20] ariel-phet opened #21 "Pullers should have a shadow underneath"
As detailed in the mockups (and seen in the original sim) the pullers should have a shadow underneath as shown in the attached screenshot
![puller-shadow](https://f.cloud.github.com/assets/4051174/955958/47a70558-0434-11e3-852e-eaae5a5f4284.png)

[2013-08-13 16:50] #16 closed, assigned to nobody

[2013-08-13 17:32] #17 closed, assigned to nobody

[2013-08-13 17:36] pixelzoom opened #22 "Mass control should use relative layout"
Layout of the Mass control (ControlMass.js) is done using absolute values, some of which are duplicated (eg, centerX: 85).  This approach results in brittle code that can easily be broken, and often results in localization issues. Relative layout is the preferred approach.

@ariel-phet requested that I address this, as a demonstration of the preferred approach.

[2013-08-13 17:43] pixelzoom opened #23 "prevent Mass control panels from resizing when slider thumb is moved to far left or right"
This can be solved by adding a horizontal strut to the control panel, or turning off dynamic resizing of the control panel.

[2013-08-13 17:47] #15 closed, assigned to nobody

[2013-08-13 18:14] #12 closed, assigned to pixelzoom

[2013-08-13 18:18] #23 closed, assigned to pixelzoom

[2013-08-13 18:44] pixelzoom opened #24 "Mass slider has hard-coded range"
The range (0-100) is hard-coded into the code as literal values, and those values are repeated at least 4 times, as is the width of the track.

There are also 2 LinearFunctions used to convert between value and track position, when a single LinearFunction would suffice.

[2013-08-13 18:47] #22 closed, assigned to pixelzoom

[2013-08-13 19:19] #24 closed, assigned to pixelzoom

[2013-08-13 19:28] pixelzoom opened #25 "Mass label is not properly localized"
ControlMass sets the mass label like this:

197   valueLabel.text = value + " " + Strings["GFL.unitKg"];

This is not sufficient for internationalization, as ordering of the value and units is locale specific.  Here's the correct way to do this:

(1) Define a pattern like this in the string file (similar to Java's MessageFormat syntax):

[code]

(2) Use StringUtils.format to populate the pattern:

[2013-08-13 19:40] #25 closed, assigned to nobody

[2013-08-13 19:48] #10 closed, assigned to pixelzoom

[2013-08-13 20:16] pixelzoom opened #26 "force range should be defined in the model"
view.MassObject defines these constants:

var FORCE_MIN = ( 2.8287421332465277e-13 );
var FORCE_MAX = ( 4.387797501643656e-8 );

These should be defined in the model, not in the view.  Also consider using dot.Range.

[2013-08-13 20:25] pixelzoom opened #27 "PullObject has repeated literal values"
PullObject uses 15 (number of puller images) and 50 (not sure what this is) multiple times.  These values should be factored out.

[2013-08-13 20:38] pixelzoom opened #28 "MassObject abuses options parameter"
The options parameter should be used for things that are optional, and the construction function should provide default values for all options via _.extends.

MassObject is passing everything via the options parameter.  Things that are required and cannot be defaulted (title, label,...) should be passed as parameters that preceed the options parameter.

MassObject is also not providing default val

[2013-08-19 13:28] #21 closed, assigned to vasily-shakhov

[2013-08-19 13:28] #26 closed, assigned to vasily-shakhov

[2013-08-19 13:28] #27 closed, assigned to vasily-shakhov

[2013-08-19 13:28] #28 closed, assigned to vasily-shakhov

[2013-08-20 16:34] ariel-phet opened #29 "Minor misalignment of slider knob when tweaker is pressed on Firefox"
There is a minor Firefox 23.0.1 bug that appears on multiple platforms. When you increment or decrement the mass with the tweaker, the slider knob appears to shift slightly off the center line, and then pop back. @samreid had a similar issue in FAMB and I believe he had a fix.

It is very minor, and you have to be looking for it to notice.

[2013-08-21 17:37] #29 closed, assigned to pixelzoom

[2013-08-22 21:16] gruneich opened #30 "Touch area too small to grab"
On the iPad, the touch movement of the masses became difficult at about 15kg. The 1 kg objects where very difficult to select and move. The touch zone seems to shrink below what the iPad can recognize.

Name: Gravity Force Lab URL: http://phet.colorado.edu/sims/html/gravity-force-lab/1.0.0-rc1/gravity-force-lab_en.html Version: 1.0.0-rc1 Features missing: flexbox, touch User Agent: Mozilla/5.0 (Ma

[2013-08-23 15:24] gruneich opened #31 "Pedagogical Question by beta tester"
It is not a bug, just a point to consider: "Mass 1" and "Mass 2" represent bodies having masses m1 and m2, respectively. The same holds for "m1" and "m2". If I want to interpret the latter as actual mass (physical quantity) in the translation, I would like to see the "m" in italic (see: http://en.wikipedia.org/wiki/ISO_31-0). Can I do that as a translator? In other words. Will the translation stri

[2013-08-23 16:48] #30 closed, assigned to pixelzoom

[2013-08-28 19:08] jbphet opened #32 "Refactor to use PhetFont"
PhetFont should be used in all locations where fonts are specified.

[2013-08-28 20:35] #32 closed, assigned to nobody

[2013-08-28 20:38] #4 closed, assigned to nobody

[2013-08-30 15:48] #31 closed, assigned to nobody

[2014-04-17 18:32] pixelzoom opened #33 "adjust names of masses"
The masses are labeled m1 and m2.
On the controls, they are referred to as Mass 1 and Mass2.

Consider using subscripts: m<sub>1</sub> and m<sub>2</sub>
And labeling the controls "Mass m<sub>1</sub>" and "Mass m<sub>2</sub>"

[2014-04-25 17:24] #33 closed, assigned to nobody

[2014-06-18 21:23] orejolaphet opened #34 "Possible to remove ruler from screen."
There exist no border for the location of the ruler allowing you to completely remove it from the screen without the ability to retrieve it. The only way to retrieve it is to use the reset button. I know for most sims most movable objects have a boundary. Is this an issue or was it designed with this purpose?

[2014-07-09 20:18] #34 closed, assigned to nobody

[2015-01-16 22:09] pixelzoom opened #35 "directory structure violates PhET convention"
Source-code directory structure for a 1-screen sim should look like this:

[code]

[2015-01-16 23:10] pixelzoom commented on #35
Fixed, closing.

[2015-01-16 23:10] #35 closed

[2015-09-15 16:46] oliver-phet opened #36 "Address user suggestion: ability to change mass without changing size of object"
We're currently working on the Gravity Force Lab Simulation. It's a great way to collect data and graph the relationship between mass, distance, and gravitational force.

We did notice something though. Because the size of the ball increases when we increase the mass, it sometimes interferes with the distance between the balls. In addition, it seems to reinforce the misconception that size is rela

[2015-09-15 16:56] ariel-phet commented on #36
@arouinfar when we make the teacher tips for GFL we should include these points in the model/student thinking sections

1. The spheres are assumed to be solid and of constant density, so changing the mass increases the size. we made this decision for the sake of clear feedback

2. Consider reminding students that mass and size are not in general related, but in the case of a solid constant density

[2015-10-22 06:16] samreid opened #37 "`rope_lenght` appears 4 times"

[2015-10-28 21:49] jbphet opened #38 "long strings not handled well"
Long strings currently mess up the layout pretty badly.  This sim is being redeployed to allow translation, so this should be addressed.

[2015-10-28 21:54] jbphet commented on #38
Before fixes:
![gfl-before](https://cloud.githubusercontent.com/assets/3082831/10804235/14834af0-7d8c-11e5-8627-5d57c32073c3.png)

[2015-10-28 21:54] jbphet commented on #38
After fixes:
![gfl-after](https://cloud.githubusercontent.com/assets/3082831/10804246/212c2b8c-7d8c-11e5-95d0-33cc9a5ae76d.png)

[2015-10-28 21:58] jbphet commented on #37
Replaced all occurrences of this variable name with ```ropeLength```.  Closing.

[2015-10-28 21:58] #37 closed

[2015-10-28 21:58] jbphet commented on #38
Fixed, closing.

[2015-10-28 21:58] #38 closed

[2015-10-28 23:25] jbphet opened #39 "The sim suddenly enlarges on iPad 3 iOS 9"
I was testing the master version of this sim after making some changes, and on Disessa, which is an iPad 3 running iOS 9.0.2, I kept hitting a case where the screen would suddenly appear to zoom way in.  After a bunch of testing to try to find a way to duplicate consistently, I finally figured out that it happens regardless of what the user does.  So, to duplicate this, all you have to do is load

[2015-10-28 23:26] jbphet commented on #39
Seems scenery-ish to me, so I'll assign to @jonathanolson for now and he and I can take a look when he is in tomorrow.

[2015-10-29 18:59] pixelzoom commented on #39
Dev meeting:  test on iOS 9.1.

[2015-10-29 22:58] jbphet commented on #39
I upgraded the iPad 3 (Disessa) to 9.1, and the problem did *not* go away.

[2015-10-29 23:11] jbphet commented on #39
Tested this on an iPad 2 (Tycho) running iOS 9.0 and the problem occurs there too.  The problem does *not* occur on an iPad 2 (@jbphet's test iPad) running iOS 8.3.

[2015-10-30 03:46] jonathanolson commented on #39
Doesn't occur in built sims, and is fixed with require.js-mode by including some of the standard production template headers. Specifically this one prevents the behavior:
[code]

I'll briefly dig a bit deeper to try to find out the root cause. Also, there is a noticeable gap on the bottom and right where the navbar doesn't extend to the screen edge fully (it's white), and it's probably Safari tryi

[2015-10-30 04:29] jonathanolson commented on #39
This looks like it was triggered by the length of the heartbeat div. After the sim resizes incorrectly, removing the heartbeat div also brought it back to normal.

I added more advanced styling so that it wouldn't affect the layout code, and tested OS X 10.11 Safari and iOS 9.1 Safari (MBA and iPad3), and 4-5 minute delays didn't trigger the symptoms of https://github.com/phetsims/joist/issues/140

[2015-11-03 14:27] samreid commented on #39
Testing graphing lines with this line commented out reveals a problem after 60 sec in Safari OS X Version 9.0.1 (11601.2.7.2)

[code]

Re-enabling the above line, with the styles applied to the heartbeat div the pause goes away.  So I think these styles are safe and good.  Closing.

[2015-11-03 14:27] #39 closed

[2016-01-11 16:36] elisemorgan opened #40 "Random Lines Appear on iPad 2 iOS 8.4"
Test device: iPad 2, Lave

Operating System: iOS 8.4.1

Browser: Safari 600.1.4

Problem description: When the ruler is moved around thin black lines will appear randomly around the screen. Typically only 2-3 so they don't interfere with the sim.

Steps to reproduce: Move ruler around screen.

Severity: Minor

Screenshots:
![image](https://cloud.githubusercontent.com/assets/12610678/12239575/a473b

[2016-01-11 16:52] elisemorgan opened #41 "Text Issues on iOS 9 HTML download"
Test device: iPad 2, Tycho

Operating System: iOS 9.2 (13C75)

Browser: Safari 601.1

Problem description: The force text initially appears to be squished. Once the masses are moved, the text becomes repetitive. See screenshots.

Steps to reproduce: Save sin to home screen. Open sim from home screen.

Severity:

Screenshots:
After moving masses:
![image](https://cloud.githubusercontent.com/assets/

[2016-01-11 17:11] phet-steele opened #42 "Extreme Left and Right Behaviour"
Two different things happen depending if you are on the left or right side.

Left side:
1. Drag m1 and m2 as far to the left as possible with both at 1 kg.
2. Increasing the mass of m1 does not push m2 out of the way, instead it overlaps:
![1 ate 2](https://cloud.githubusercontent.com/assets/5863899/12240449/b814d456-b84a-11e5-9d03-8b2b9adba7aa.PNG)
Looks way cooler if you increase the mass of m2

[2016-01-11 17:20] phet-steele opened #43 "iPad left and right bounds"
@jbphet the bounds on an iPad seem to be too far, a user can drag the masses all the way to the edge of the screen. This doesn't break the sim (at least not as far as I can tell, yet), but it's sort of a nuisance to drag the masses back towards the center. Note, this is regardless of landscape or portrait view.

![img_0088](https://cloud.githubusercontent.com/assets/5863899/12240766/88b74b88-b84c-

[2016-01-11 18:12] elisemorgan commented on #43
Also seen on IE11and Firefox in iFrame

[2016-01-11 18:34] elisemorgan commented on #43
Also present on Chromebook but only in *fullscreen*

[2016-01-11 20:28] phet-steele opened #44 "Ruler exits screen bounds"
The ruler can be dragged past the top and bottom bounds and can be lost!

[2016-01-11 20:57] ariel-phet commented on #44
@phet-steele ....nice light saber

[2016-01-13 19:07] BryceAG commented on #43
Also present on Edge in iFrame, but not while full screen (and masses are still 1).

[2016-01-13 19:28] jbphet commented on #41
Assigned to @aadish to investigate, he will assign to @jonathanolson if nothing obvious can be found.

[2016-01-13 19:34] brroberts1231 opened #45 "Resetting when masses are touching"
Test device: Dirac

Operating System: 10.11.12

Browser: Firefox, Safari, Chrome

Problem description: When the two masses are dragged as close to each other as possible, if the blue mass is to the left of where it starts out, and you click reset, the blue mass will stay where it is rather than going back to its initial position. If the masses are changed before doing this, the size of the masses

[2016-01-13 19:51] elisemorgan commented on #40
It does not appear on iOS 9.

On Wednesday, January 13, 2016, John B <notifications@github.com> wrote:

[2016-01-19 23:32] aadish opened #46 "Bounds are not correct"
Bounds for the gravity force lab are not right and don't match for the iPad layout

Current Bounds are (768, 504)
Expected Bounds are (768, 464) to maintain the aspect ratio

[2016-01-25 05:53] ariel-phet opened #47 "Current implementation does not keep a constant density assumption"
The current published version of the sim has several issues.

Currently, the sim does not assume a constant density. You will notice that the lowest value on the slider is 1 kg, whereas the lowest value on the slider for the java implementation is 0.01 kg. This causes multiple issues,

From @samreid

In addition, in both the original simulation and in the current implementation the density is unre

[2016-01-25 05:55] ariel-phet commented on #47
@aadish please try implementing a slider with max value 1000 kg, minimum value 1kg and using a constant density of around 150 kg/m^3 for scaling the radius. When you have made this change please publish a dev version so I can take a look and see how it feels.

[2016-01-25 05:56] ariel-phet commented on #47
@arouinfar as another physics expert in the group please see the comments above and let me know if you agree or have further thoughts!

[2016-01-25 06:07] ariel-phet commented on #47
For reference in current 1.1.0 version published on the web

- At 1 kg, radius ~ 0.1 m, volume of ~ 0.0042 m^3, implies density ~ 240 kg/m^3
- At 100 kg, radius ~ 1.9 m, volume of ~ 28.7 m^3, implies density ~ 3.5 kg/m^3

[2016-01-25 19:15] aadish opened #48 "Code Review for Gravity Force Lab"
# PhET code-review checklist

**Build and Run Checks**
- [x] Does the sim pass lint?
- [x] Does the sim build without errors?
- [x] Does the sim start up? (requirejs and built versions)
- [x] Does the sim experience any assertion failures? (run with query parameter 'ea')
- [x] Does the sim pass a scenery fuzzer test? (run with query parameter 'fuzzMouse')

**Strings**
- [x] Are there any unused st

[2016-01-25 19:43] ariel-phet commented on #36
@aadish since we are making some other changes to the sim...I am now curious....

How difficult would it be to have a checkbox that says "constant size" and to have a mode of the sim where the masses are held at a fixed size (in terms of radius) and as you adjust the mass the shading of the ball varies from dark to light?

Please comment on how difficult of an enhancement you think this would be,

[2016-01-25 19:55] arouinfar commented on #47
@ariel-phet thanks for including me in this issue. Changing the density to 150 kg/m^3 seems reasonable to me.

For comparison, here are the radii at the new specs
* At 10 kg, density of 150 kg/m^3, volume of 0.067 m^3, implies radius ~ 0.25 m
* At 1000 kg, density of 150 kg/m^3, volume of 6.67 m^3, implies radius ~ 1.2 m

Here's what the new max/min sizes would look like.
![image](https://cloud.gi

[2016-01-25 19:57] arouinfar commented on #36
@ariel-phet, this is an excellent suggestion. I would really like to see a "constant size" feature implemented, if feasible. I think it would add a lot of investigative power to the sim.

[2016-01-25 19:58] arouinfar commented on #47
I just realized I calculated for 10 kg minimum instead of 1 kg... I'll update the calculations and screenshots above in a minute.

[2016-01-25 20:07] arouinfar commented on #44
I've also lost the ruler by resizing the browser in such a way that the ruler is no longer within screen bounds.

[2016-01-25 20:25] aadish commented on #36
@ariel-phet estimated time will be 20 hrs this also includes the time for refactoring the code for maintainability and pulling out things from the view and put it in the model.
Once with the code refactoring implementing this feature will be easy, only thing to look will be how to change the color for this feature

[2016-01-25 20:54] ariel-phet commented on #36
OK @aadish lets plan on implementing this feature after the refactor and code cleanup.

@arouinfar please make a mockup (could just be a screenshot with an additional check box) and put it in this issue.

[2016-01-25 21:27] arouinfar commented on #36
@ariel-phet @aadish Here's a mockup. I noticed that the dev boundary is not at the correct aspect ratio (which has been noted in #46) so I pushed down the force labels. With the new scaling, the max radius will be a bit smaller, so it should work.

I added the Constant Size checkbox below Show Values. To accommodate the slightly larger string, I expanded the panel 15 px to the left and shifted the

[2016-02-01 19:16] jbphet commented on #36
@arouinfar - @aadish and I have several questions about this:
+ Should the objects look any different when in "Constant Size" mode?  I feel like this would be a good cue to the user that something is different, but I don't see any differences in the mockup.
+ Should the objects change to some fixed size in "Constant Size" mode?  Or should it be possible for the user to use the sim in the regular m

[2016-02-01 19:32] ariel-phet commented on #36
My suggestion would be the objects change to a fixed size in "constant size" mode and be of equal size, with some clear cue that "density" is changing (light to dark seems like a simple easy cue).

My thoughts - obviously wait to hear @arouinfar opinion

[2016-02-03 19:32] aadish commented on #47
This has been implemented and put as a dev version. You can find it [here](http://www.colorado.edu/physics/phet/dev/html/gravity-force-lab/2.0.0-dev.1/gravity-force-lab_en.html)

Assigning to @ariel-phet for feedback

[2016-02-03 19:34] aadish commented on #36
This has been implemented and put as a dev version. You can find it [here](http://www.colorado.edu/physics/phet/dev/html/gravity-force-lab/2.0.0-dev.1/gravity-force-lab_en.html)

Assigning to @ariel-phet  for feedback

[2016-02-03 23:09] ariel-phet commented on #36
@aadish this feature is generally working as expected. Two issues:

1. The force vector arrows are not scaling properly (for one they do not seem to be affected by the separation distance, and they are not scaling linearly with the mass)

2. We probably need to adjust the range of the color change, but the behavior is correct. Perhaps you and I should just sit down and tweak this range in person a

[2016-02-03 23:15] ariel-phet commented on #47
@aadish, this feature is now working as expected. One improvement:

Please set the default starting state of the sim to Mass 1 = 50 kg and Mass 2 = 200 kg

[2016-02-04 18:59] aadish commented on #47
Referencing the commit 1521ce5d398a30055d92562c6870f890c4333a32 for the default values of masses

[2016-02-08 18:56] aadish commented on #36
@samreid Fixing this issue required adding the button listener to the periodic table cell. The piece of code change also has the tandem emitters.
Here is the code change https://github.com/phetsims/shred/commit/a1fe879177bb988efa0ac3f4e3bd4e0e04538f6f

Can you review it to see the change has no effect on tandem emitters

[2016-02-09 17:28] phet-steele opened #49 "Automated Testing Error"
[code]

[2016-02-09 19:15] jbphet commented on #49
@aadish and I will look at this today.

[2016-02-10 20:02] jbphet commented on #40
@ariel-phet - we can pursue this issue by checking in with @jonathanolson on it, and I know we've done things to tackle problems like this in the past (e.g. added an extended invisible edge).  I thought I'd ask you first whether we should make the effort on an iOS8 issue.  Note that the ruler is a common code element.

[2016-02-11 01:34] ariel-phet commented on #40
@jbphet not worth fixing, since it is an iOS 8 bug (current app store numbers are 77% users are on iOS9). Going to leave open, but tagging as won't fix. We can close once the sim is redeployed, but will be good to leave open and report as a known issue when we do the RC.

[2016-02-11 01:36] ariel-phet commented on #40
Assigning to @aadish to include a note when we do the RC testing.

[2016-02-16 15:31] aadish commented on #36
@ariel-phet have made changes so that force vector scales properly. Can you pull and check if this looks good

[2016-02-16 15:42] aadish commented on #47
setting the new default masses, closing it

[2016-02-16 15:42] #47 closed

[2016-02-16 15:43] aadish commented on #46
fixed closing

[2016-02-16 15:43] #46 closed

[2016-02-16 15:43] aadish commented on #44
fixed closing

[2016-02-16 15:43] #44 closed

[2016-02-16 15:44] aadish commented on #45
fixed closing

[2016-02-16 15:44] #45 closed

[2016-02-16 15:44] aadish commented on #41
fixed closing

[2016-02-16 15:45] aadish commented on #42
fixed closing

[2016-02-16 16:32] ariel-phet commented on #36
@aadish yes, I can take a look. In future, any time you need something from me, please assign the issue to me, thanks!

[2016-02-16 16:32] ariel-phet commented on #36
self assigning

[2016-02-16 17:28] ariel-phet commented on #36
@aadish two change requests:

1. The vectors are scaling properly now, but lets make a change so that when both masses are 1000 kg and at the default separation (~4 m) the vectors just hit the dev bounds. If they are brought closer, the vectors will go off the screen. This will mean that for small masses the vectors are very small or nearly invisible, but that is OK.

2. For the constant radius mo

[2016-02-16 17:31] ariel-phet commented on #36
Just a note, this scaling will match the java version more closely. Although those masses only go up to 100 kg, the dynamic range is about the same (from .1 kg to 100 kg).

[2016-02-16 23:00] jbphet opened #50 "question about leaning behavior of the 'pullers'"
This sim has undergone some significant changes recently with respect to the range of masses that are supported.  The way that the puller figures lean has been tweaked a bit, but because the current calculation for the amount of leaning is linear, and the pullers go from upright to fully leaned over pretty quickly.  @aadish and I have made some adjustments, but we'd like to get feedback from the d

[2016-02-17 00:05] ariel-phet commented on #50
Current leaning behavior looks fine. The leaning behavior is a subtle cue anyhow, but good attention to detail @jbphet and @aadish. I think since we have the force vectors always active that is by far the more important representation, and in playing with several situations, the current leaning "feels" pretty good. Closing

[2016-02-17 00:05] #50 closed

[2016-02-17 19:42] aadish commented on #49
fixed closing

[2016-02-17 19:42] #49 closed

[2016-02-17 19:43] aadish commented on #43
fixed closing

[2016-02-17 20:33] BryceAG commented on #42
The right side interaction still slightly happens, but only about 1/5th of an inch using the ruler. When moving the right mass back it jumps to the correct bound. Additionally, if the right mass is pushed past the bounds, and then the left mass is reduced to the smallest mass and moved to the right bound, it is not able to be dragged left unless the mass is changed. Tested on Win 7 chrome

[2016-02-17 20:34] BryceAG commented on #42
The left mass can also be pushed 1/5th of an inch past the bounds by changing the right mass size, but the right mass can still be moved easily

[2016-02-17 20:39] brroberts1231 commented on #42
Only when you click and drag on the mass itself will it not drag. If you click on the person or the string it will drag

[2016-02-17 20:42] brroberts1231 commented on #42
Seems to be that the area where you can click on the red mass extends a little beyond the actual size of the mass so when you try to click on the blue mass, it is really trying to move the red one.

[2016-02-18 18:04] elisemorgan commented on #43
The figures no longer go out of the screen bounds, but the text still does. This still differs from the Win 8 screenshot above, where the text is contained in the bounds

[2016-02-18 18:04] elisemorgan commented on #43
![image](https://cloud.githubusercontent.com/assets/12610678/13153070/64154478-d62f-11e5-9f94-6c33f04d8f3a.png)

[2016-02-18 18:11] elisemorgan commented on #41
This issue is still present on Tycho @aadish

[2016-02-19 18:58] BryceAG commented on #42
Reproduced on Win 8 and 10 with chrome. Also @brroberts1231 is right, the problem with not sliding the left mass is due to the right mass having a larger click-box that overlaps the left mass. This can anywhere in the bounds, not just on the edges

[2016-02-19 19:25] BryceAG opened #51 "Click-boxes extend beyond smaller mass sizes"
Test device:
Schrodinger, Bates, Galileo

Operating System:
Windows 7, 8.1, and 10

Browser:
Chrome

Problem description:
The click-boxes can extend beyond the size of the mass. They start being bigger when the mass is 30 kg and below, and constant radius is turned off. If the masses are as close together as possible, the click-box can partially overlap the other mass object below 10 kg. This is m

[2016-02-19 19:26] aadish commented on #41
@jonathanolson Can you take a look at this and see why this would happen.

This does not happen when opened in Safari Browser but if we save it on the Home Screen and then open from the home screen the text becomes as shown in the screen shot. Tested on iOS 9.2 and 9.3

[2016-02-19 19:27] brroberts1231 commented on #51
Related to #42

[2016-02-19 19:30] aadish commented on #43
me and @jbphet discussed this and decided that images should be in the bounds and text can go out of bounds and that will be fine.

@ariel-phet what do you think about it?

[2016-02-19 19:38] brroberts1231 commented on #42
Not related to the click-box topic above:
When you take a 1kg mass and pull it all the way to the edge and then change its size by either raising the mass or clicking constant radius, the ball will extend the 1/5 inch outside the bound without needing to be pushed by the other mass.
The edge past which they can't be dragged is at the 1 inch mark.
![screen shot 2016-02-19 at 12 32 07 pm](https://cl

[2016-02-22 16:51] ariel-phet commented on #43
@aadish I think in this case it is fine for the text to go our of bounds. Usually in such an instance, I would ask for a change, but since the forces are symmetric in value, you can still tell what the value of the force would be in this case (even though slightly cut off on the right).

Fine to leave as is, closing.

[2016-02-22 16:51] #43 closed

[2016-02-22 18:14] elisemorgan commented on #42
@aadish The original issue reported by @phet-steele is resolved. While the bounds shift, the figure is not lost in any way. Assigning to @ariel-phet to confirm that this can be closed.

[2016-02-23 17:26] ariel-phet commented on #42
All seems resolved in latest pull, closing

[2016-02-23 17:26] #42 closed

[2016-02-23 23:04] aadish commented on #51
fixed, closing

[2016-02-23 23:04] #51 closed

[2016-02-23 23:12] aadish commented on #48
for the images used in the sim we don't have the original files as it was created by Ron Le Master

[2016-02-26 23:22] ariel-phet opened #52 "Pixel polishing session with AP"
@aadish when you feel the code is in a stable state and *before* @jbphet performs his formal code review, you and I should sit down in person and do some final "pixel polishing"

Please assign this issue back to me when you feel the sim is in a good state for you and I making a few layout/design tweaks (colors, positions, and sizes of a few elements).

[2016-03-01 22:17] aadish commented on #52
@ariel-phet the sim is in good state and we can both together do some changes. Let me know when will it be good time to meet you. I can't do it tomorrow every other day will be fine to meet and do it.

[2016-03-02 23:26] ariel-phet commented on #52
@aadish are you available on Friday? If so, could you please send me an email with a time that would work I should be free after about 12:30 pm on Friday

[2016-03-05 02:54] aadish commented on #52
@ariel-phet the thumb colors of the sliders have been changed to the ones of mass objects, have a look at it

[2016-03-05 03:08] ariel-phet commented on #52
@aadish all looks excellent! Closing

[2016-03-05 03:08] #52 closed

[2016-03-08 21:27] jbphet opened #53 "add types to JSDoc headers"
Many of the types do not have type information in the headers.  In some cases, the headers aren't there at all.  These should be added to improve maintainability.  Here's an example from ControlMass.js:

[code]

[2016-03-08 21:40] jbphet opened #54 "ControlShowValues should be renamed"
ControlShowValues has been expanded to included a constant radius control. Its original name wasn't the greatest, but now it definitely should be renamed.  Something like "ParameterControlPanel" would probably suit.

[2016-03-08 21:42] jbphet opened #55 "ControlPanel should be removed and contents put in GravityForceLabView"
There is a class named "ControlPanel" that isn't a panel, it's just a collection of the mass controls, the parameter controls, and the reset button.  It doesn't add much value, and it doesn't really match PhET convention to have this.  Please move the contents of this class into GravityForceLabView and get rid of ControlPanel.

[2016-03-08 21:46] jbphet opened #56 "MassObject should be MassNode"
Using the suffix "Object" is not a PhET convention, MassNode would be more conventional.

[2016-03-08 21:47] jbphet opened #57 "screenHeight is unused in MassObject"
There is an unused parameter ```screenHeight``` that should be removed if possible from the MassObject constructor.

[2016-03-08 21:50] jbphet opened #58 "MassObjects seems unnecessary"
There is a class called "MassObjects" that just puts the two masses into a single parent node.  This doesn't seem to add much value and in fact makes the code a bit more complicated.  Why not just put both mass objects into GravityForceLabView?

[2016-03-08 22:00] jbphet opened #59 "PullObject should be PullerNode"
The name PullObject is unclear and unconventional, please change it to PullerNode.

[2016-03-08 22:09] jbphet opened #60 "ControlMass should be MassControl"
The name PullObject is unclear and unconventional, please change it to PullerNode.

[2016-03-08 22:23] jbphet opened #61 "ControlMass should extend Panel"
ControlMass currently extends Node, and adds a Panel to itself, and manually pass through a collection of options.  It would simplify the scene graph if this were made to extend Panel, and the options were sent through using the ```mutate``` call.

Also, there is a default scale option of 0.8 that doesn't seem to be passed anywhere, and there is currently code in ControlPanel that sets the scale o

[2016-03-08 23:10] jbphet opened #62 "add visibility annotations"
Publicly accessible properties and methods should have visibility annotations, please see https://github.com/phetsims/tasks/issues/307 for a discussion of what these are.

[2016-03-08 23:13] jbphet opened #63 "GravityForceLabModel updateForce method should be defined in inherit block"
There is a method defined in the constructorfor GravityForceLabModel called updateForce.  It seems to me that this method can and should be in the inherit block so that it is on the prototype.

[2016-03-08 23:18] jbphet opened #64 "ControlShowValues should extend panel"
ControlShowValues currently extends Node, and adds a Panel to itself, and manually passes through a collection of options.  It would simplify the scene graph if this were made to extend Panel, and the options were sent through using the ```mutate``` call.

[2016-03-08 23:24] jbphet opened #65 "return the value of the inherit call"
There are a number of places in the code where I'm seeing things like this:

[code]

This can be done more compactly as:
[code]

[2016-03-09 04:15] aadish commented on #64
@jbphet ControlShowValues currently extends panel only, could not understand this commit

[2016-03-09 04:49] aadish commented on #60
code change 54043bc017327205cb1071a6cc3adcfdb56f6a3b

[2016-03-09 15:47] jbphet commented on #64
My bad - I thought I saw the same pattern here that I'd seen in some other code, but this one was indeed just an extension of Panel.  Closing.

[2016-03-09 15:47] #64 closed

[2016-03-11 00:21] jbphet commented on #65
Looks good, closing.

[2016-03-11 00:21] #65 closed

[2016-03-11 00:21] jbphet commented on #63
Looks good, closing.

[2016-03-11 00:21] #63 closed

[2016-03-11 00:22] jbphet commented on #62
Looks good, closing.

[2016-03-11 00:22] #62 closed

[2016-03-11 00:23] jbphet commented on #61
Looks good, closing.

[2016-03-11 00:23] #61 closed

[2016-03-11 00:23] jbphet commented on #60
Looks good, closing.

[2016-03-11 00:23] #60 closed

[2016-03-11 00:24] jbphet commented on #59
Looks good, closing.

[2016-03-11 00:24] #59 closed

[2016-03-11 00:25] jbphet commented on #57
Looks good, closing.

[2016-03-11 00:25] #57 closed

[2016-03-11 00:26] jbphet commented on #56
Looks good, closing.

[2016-03-11 00:26] #56 closed

[2016-03-11 00:26] jbphet commented on #55
Looks good, closing.

[2016-03-11 00:26] #55 closed

[2016-03-11 00:27] jbphet commented on #54
Looks good, closing.

[2016-03-11 00:27] #54 closed

[2016-03-11 00:28] jbphet commented on #53
Looks good, closing.

[2016-03-11 00:28] #53 closed

[2016-03-14 21:44] ariel-phet commented on #36
This all looks great! Closing

[2016-03-14 21:44] #36 closed

[2016-03-14 21:46] ariel-phet opened #66 "Add AP and AR to "team" credits"
@aadish before we publish, please add "Ariel Paul" and "Amy Rouinfar" to the team credits

(Just tested the RC on windows, and all looked great by the way)

[2016-03-15 21:29] phet-steele opened #67 "Panel Capitalization is inconsistent"
@ariel-phet the "R" in radius is capitalized, but the "v" in values is lower case. May you make a decision on which to do so both are the same? I have no preference. For phetsims/tasks/issues/543.

![gflcap](https://cloud.githubusercontent.com/assets/5863899/13794643/96c1c0f2-eac2-11e5-9ec8-af3139d33334.PNG)

[2016-03-15 21:32] aadish commented on #66
added the names, closing

[2016-03-15 21:32] #66 closed

[2016-03-15 21:39] ariel-phet commented on #67
Good catch @phet-steele

@aadish this should be "Show Values"

[2016-03-15 22:28] aadish commented on #67
fixed closing

[2016-03-15 22:33] aadish commented on #41
in place of util.toFixed java script toFixed was used and correcting that seems to resolve this issue but would have to test with the next build

[2016-03-16 20:08] phet-steele opened #68 "Mass Gradient"
@ariel-phet  @aadish can we move the gradient on the masses to the upper left instead of upper right in order to match the reset all button? It is more a less a standard to have our light source coming from the top left. For phetsims/tasks/issues/543.

[2016-03-16 20:11] ariel-phet commented on #68
@aadish @phet-steele is correct, that is the standard lighting direction

[2016-03-16 21:41] phet-steele opened #69 "Mass gradient doesn't update as mass resizes"
The gradient does not update until "Constant Radius" is checked then unchecked. The gradient will then resize to match the radius of the red and blue masses, but will then continue to not be updated.

1. Mess with the mass of the masses just to see that the gradient isn't changing, then set both masses to 1 kg
2. Check "Constant Radius"
3. Uncheck "Constant Radius"
4. Increase the masses of both t

[2016-03-16 22:15] phet-steele opened #70 "Labels on slider appear clickable"
@aadish both the "1" and "1000" labels on the mass sliders appear to be clickable due to my cursor changing to a hand. Clicking or dragging them does nothing though. What's up with these labels? Can they be changed to not have a changing cursor on mouse over? For phetsims/tasks/issues/543.

![gfllabel](https://cloud.githubusercontent.com/assets/5863899/13830447/5143a114-eb92-11e5-9d4b-0a976a9c50d4

[2016-03-18 17:08] jbphet commented on #70
This should be fixed.  I just checked the behavior on the currently published version, and the cursor does not change when hovering over these labels.

[2016-03-18 17:10] jbphet opened #71 "slider track should be black"
The slider track on v2.0.0-rc.1 is white with a black stroke.  In the currently published version, it's simply black.  I prefer the original look, so place match that unless there was some reason for the change.

[2016-03-18 20:46] ariel-phet commented on #71
Looks good, closing

[2016-03-18 20:46] #71 closed

[2016-03-18 20:48] ariel-phet commented on #70
Resolved, closing

[2016-03-18 20:48] #70 closed

[2016-03-18 20:48] ariel-phet commented on #68
Gradient looks correct now, closing

[2016-03-18 20:48] #68 closed

[2016-03-18 20:49] ariel-phet commented on #67
fixed, closing

[2016-03-18 20:49] #67 closed

[2016-03-18 20:52] ariel-phet commented on #69
fixed in 2.0.0-rc.2

[2016-03-18 20:52] #69 closed

[2016-03-18 21:37] ariel-phet commented on #41
Tried on iPad2 iOS 9.2.1, problem is fixed.

[2016-03-18 21:37] #41 closed

[2016-06-23 22:10] oliver-phet opened #72 "User suggestion: improve usability for younger students"
Hello,

I am a middle school science teacher and I absolutely love your online simulations, and my students do too! With the new science standards, NGSS, one of the standards relates to how gravity force is impacted by changes in distance and mass. Your online simulation is the best way I have found to communicate this idea to my students. The problem that I encounter is that the simulation is not

[2016-06-30 18:20] pixelzoom commented on #72
6/30/16: @ariel-phet will talk with @kathy-phet about creating "Gravity Force Lab: Basics".

[2016-07-02 01:45] ariel-phet commented on #72
@kathy-phet said this seemed reasonable...we should run through the numbers and see what might work.

[2016-07-05 20:06] ariel-phet commented on #72
@arouinfar you and I should discuss sometime. I have a few simple thoughts. Might be good to have a mockup for when Aadish returns. I am guessing this would be quite quick to turn around.

[2016-07-06 17:04] arouinfar commented on #72
@ariel-phet sounds good. I play around with GFL abut and see if I have any ideas to address the teacher's concerns in Basics. Mockups should be straightforward.

Do you have time to chat after design meeting tomorrow or perhaps sometime Friday?

[2016-07-06 18:29] ariel-phet commented on #72
After design meeting should work...my basic idea was to change the mass sliders to pickers (so we could do millions of kg or such), and make the numbers easier to work with. then perhaps have a distance slider to vary the distance. But yes, lets talk.

[2016-07-11 19:23] ariel-phet commented on #72
@kathy-phet suggested using "snap to" sliders. @arouinfar is going to make a mock up, assigning to her for the moment

[2016-08-22 17:34] arouinfar opened #73 "Force strings extend off-screen"
At maximum separation, the strings describing the force run off-screen if Values is on. Currently, the text is always centered over the mass.

<img width="1094" alt="screen shot 2016-08-22 at 11 13 38 am" src="https://cloud.githubusercontent.com/assets/8419308/17864049/8b90ca1a-6859-11e6-9805-b937052f5a82.png">
<img width="1093" alt="screen shot 2016-08-22 at 11 12 15 am" src="https://cloud.github

[2016-08-22 17:58] phet-steele commented on #73
A comment from @ariel-phet https://github.com/phetsims/gravity-force-lab/issues/43#issuecomment-187261724 to serve as a memory refresher 😄 :

[2016-08-22 18:15] arouinfar commented on #73
Thanks for finding this @phet-steele.

I would argue that noticing the values are the same is one of the learning goals. It's possible that the students may notice this before the values go off-screen, but I don't know if I would count on it.

For Gravity Force Lab: Basics, I think we would definitely want to make this change given the target audience is younger. Perhaps we can sit on this until i

[2016-08-22 20:32] ariel-phet commented on #73
@arouinfar if we make the change for GFL:B we will want it to also be present in GFL

A big chunk of the work of making GFL:B will be setting up the repos so GFL:B borrows almost all of its code from GFL, so the more consistency between the two the better (much like the relationship between something like SOM and atomic interactions)

Pushing the text inwards once it reaches the bounds sounds good

[2016-08-24 16:36] arouinfar commented on #73
@aadish has been working on this behavior, and gave me a preview yesterday.

In the demo, the string stopped moving outward once it hit the dev boundary, even at wider aspect ratios where the text would still be on-screen, but out-of-dev. While this slightly different than what I had first described, I think it looks great. No need to make further changes @aadish.

[2016-08-25 23:19] pixelzoom opened #74 "sim relies on align:'right' default for Panels"
Related to phetsims/sun#252, this sim uses Panel option `minWidth` and relies on the old default of `align:'right'`. Below are the stack traces for occurrences that need to be checked. These are the occurrences noted when loading the sim in requirejs mode. If the sim creates Panels dynamically, you should do further checking with fuzzMouse.

[code]

[2016-08-29 19:30] pixelzoom opened #75 "adjust touchArea options for HSlider thumb"
In https://github.com/phetsims/sun/issues/254, the touchArea defaults for HSlider thumb were changed so that they default to pixels, not a percentage of the thumb size.  Sims that use HSlider's `thumbSize` option will therefore need to also specify `thumbTouchAreaXDilation` and `thumbTouchAreaYDilation`.

[2016-08-30 18:34] aadish commented on #74
fixed closing

[2016-08-30 18:34] #74 closed

[2016-08-30 18:52] aadish commented on #75
compared the version on the website and the master both looks same, no modification needed closing

[2016-08-30 18:52] #75 closed

[2016-10-19 23:43] arouinfar commented on #72
When developer bandwidth permits, we will be creating a Gravity Force Lab: Basics simulation. The sim has a preliminary design, which addresses the teacher's concerns. The design doc can be found here: https://docs.google.com/document/d/1JTGePaScn9PkWIdTXFAuBc_RaEJQ6Jg7Q2murRIBbSE/edit#

Closing.

[2016-10-19 23:43] #72 closed

[2016-10-22 03:39] ariel-phet opened #76 "Instrument sim for PhET-iO"
This sim is scheduled to be outfitted for PhET-iO by @jbphet after his work with States of Matter is finishing up.

@samreid will be available when @jbphet works on the sim and work through the instructions contained in the following file:

https://github.com/phetsims/phet-io/blob/master/doc/how-to-instrument-a-phet-simulation-for-phet-io.md

Part of the goal will be to refine this documentation

[2016-10-24 17:13] aadish opened #77 "Deprecate usage of PropertySet"
See phetsims/axon#102 for background.

[2016-11-02 19:12] samreid commented on #76
@jbphet can you speculate when we may begin working on this?

[2016-11-04 15:44] jbphet commented on #76
We discussed my priorities in the 11/3/2016 status meeting, and once States of Matter is in RC phase I will start spending ~1day/week on this, so I suspect there will be some action on it next week or the week after.

[2016-11-13 13:06] samreid commented on #76
On Thursday's status meeting, I suggested working on instrumenting Balloons and Static Electricity with @jbphet instead of Gravity Force Lab, in order to address https://github.com/phetsims/a11y-research/issues/2 and get "2 birds with one stone", but after review in phetsims/balloons-and-static-electricity#201 I discovered there is a lot of new code related to accessibility that would complicate t

[2016-11-13 13:07] samreid opened #78 "code review"
Step 1 of PhET-iO instrumentation is a code review.  @aadish did a code review in #48 starting in Jan 2016, which is mostly complete.  So I'll do a cursory look, mostly through the code style, organization, etc as it pertains to PhET-iO instrumentation.

[2016-11-13 13:34] samreid opened #79 "Remove notifyObserversStatic calls"
During code review in #78 I noticed this commit: 98f0ea9221a85b587c2c227a4be25393578abbf4 which adds these two lines of code:

[code]

It seems these lines of code should not be doing anything, so I wanted to ask @aadish why they were introduced and if they can be removed.

[2016-11-13 13:40] samreid opened #80 "Pi is approximated as 22/7"
During #78 I saw this code:

[code]

Aside from this being an awkward way to represent the density of a sphere, it appears pi is approximated as 22/7.

[2016-11-13 13:44] samreid commented on #80
It looks like this formula was introduced in 58d8b6698ecc8ee71d84bbc594b785cd0da8316d

@aadish do you have time to look into simplifying this formula?

[2016-11-13 13:46] samreid commented on #80
To be more specific, we should use V = (4/3) pi* R^3 and density = m/v to compute the radius of the mass.

[2016-11-13 14:22] samreid opened #81 "Can MassControl be replaced by a number control?"
Discovered during #78, I noticed that MassControl has 129 lines of code to render this:

![image](https://cloud.githubusercontent.com/assets/679486/20246324/dd50eac0-a971-11e6-9344-651c1a72678e.png)

Can we instead use some pre-existing number control?

[2016-11-13 14:24] samreid commented on #81
Here are some pre-existing number controls from scenery-phet:

![image](https://cloud.githubusercontent.com/assets/679486/20246347/3245a066-a972-11e6-8a9c-7d649ac22221.png)

[2016-11-14 06:33] samreid commented on #81
Using NumberControl, I have nearly matched the look of the original:

![image](https://cloud.githubusercontent.com/assets/679486/20255412/8c6769bc-a9f9-11e6-8f8a-21178cb1b29c.png)

To Do:
1. black stroke around text box
2. fix text box width
3. center text in text box
4. fix i18n

[2016-11-14 16:32] samreid commented on #81
I noticed this in the old code.  How important is this to be a floor and not a round?

[code]

[2016-11-14 16:45] samreid commented on #81
First commit above, lint is passing, most features working.

I no longer recommend to do this, after testing with right-aligned it seems to better convey the change in numbers.

To Do:
1. black stroke around text box
2. fix text box width

[2016-11-14 18:14] aadish commented on #80
@samreid thanks for pointing it out will simplify the formula

[2016-11-14 21:53] samreid commented on #81
@pixelzoom said:

[2016-11-14 22:08] samreid commented on #81
Here's the original:
![image](https://cloud.githubusercontent.com/assets/679486/20284805/06d8e3d8-aa7c-11e6-8a39-1c5b77330b34.png)

Here's how far I got by eliminating duplicated code and Reusing NumberControl:
![image](https://cloud.githubusercontent.com/assets/679486/20284820/18797706-aa7c-11e6-868b-e908ad037639.png)

@ariel-phet is this close enough?  You can test on phettest.colorado.edu to se

[2016-11-15 00:46] aadish commented on #79
was using this as a hack to keep the arrow text in bounds when the force changes, fixed with better logic

closing

[2016-11-15 00:46] #79 closed

[2016-11-15 00:48] aadish opened #82 "Reset Functionality is Broken"
I was testing the sim and found when trying to reset sim breaks with error message

"cannot reset derived property"

[2016-11-15 00:53] aadish commented on #82
fixed, closing

[2016-11-15 00:53] #82 closed

[2016-11-15 01:08] aadish commented on #80
fixed, closing

[2016-11-15 01:08] #80 closed

[2016-11-15 06:31] ariel-phet commented on #81
@samreid

1. Yes we should round the corners of the text box (changed directly in NumberControl)

2. The original has a bit more negative space between the text box and the tweakers, I think that is aesthetically preferable (leave defaults in NumberControl, but generalize so this case can be accomodated)

3. In the original text box the value and unit remain centered in the text box as the value g

[2016-11-15 06:36] samreid commented on #81
Sounds good, thanks for the review.

After experimenting with both, it much easier to visually understand the orders of magnitude in the "right-aligned" one, because the "kg" marker stays in the same spot and you can see the numbers bumping to the left as they go up by orders of magnitude.  In the centered strategy (which I originally thought looked more appealing), this effect is washed out.  But

[2016-11-15 16:36] pixelzoom commented on #81
Use `layoutFunction: NumberControl.createLayoutFunction1( { ySpacing: YOU_VALUE } )`

Use NumberControl option `valueAlign:'center'`, added in above commit.

[2016-11-15 17:48] jbphet commented on #76
Below is the checklist of items that must be completed in order to implement the instrumention, extracted from https://github.com/phetsims/phet-io/blob/master/doc/how-to-instrument-a-phet-simulation-for-phet-io.md.  Refer back to the original document for explanations of the checklist items if needed.

- [ ] [Understand the goal](#understand-the-goal)
 - [ ] [Code review](#code-review)
 - [ ] [Imp

[2016-11-15 19:29] aadish commented on #77
fixed closing

[2016-11-15 19:29] #77 closed

[2016-11-15 19:30] aadish commented on #73
the dev enhancement has been made and will be published in future release

[2016-11-16 18:37] samreid commented on #81
@pixelzoom argued that the amount of rounding should remain application specific, since it is in pixels, and he recommended to just supply the corner radius from the sim.  Hence I'll proceed with that for now.

[2016-11-16 18:40] samreid commented on #81
I changed the spacing from the default of 5 to 10.

Old one:
![image](https://cloud.githubusercontent.com/assets/679486/20360534/4f5580aa-abf1-11e6-99d5-377f7ebbe494.png)

New one:
![image](https://cloud.githubusercontent.com/assets/679486/20360543/57a5dfe8-abf1-11e6-8d18-080aa9c4a68d.png)

[2016-11-16 18:41] samreid commented on #81
@ariel-phet would you like to review?

[2016-11-16 20:33] ariel-phet commented on #81
@samreid looks good to me. However, we should also check with @arouinfar since she is the lead designer for this sim. @arouinfar this looks pretty good to me but I would have two main questions unless you see other tweaks:

1. Are you OK with the readout being fixed, (not dynamically centering as in the published version). Take a look on phettest to see the difference
2. What should the alignment

[2016-11-16 21:40] arouinfar commented on #81
In general, things look pretty good to me @samreid @ariel-phet.

It looks fine to me, since the text at max width is centered within the readout.

At first glance it looks reasonable, though when comparing the slider track the alignment seems a bit off. I have a slight preference for aligning the tweakers to the edge tick marks instead.

Agreed. I think 1 or 2 px would do the trick.

[2016-11-20 04:14] samreid commented on #76
@jbphet is taking the lead on this, I'll be supporting him with scheduled meetings.

[2016-11-20 05:00] samreid commented on #78
Seems pretty good, and @jbphet and I addressed a few other issues as we instrumented the simulation.

[2016-11-20 05:00] #78 closed

[2016-12-05 05:31] samreid commented on #81
In the above commit, I reduced the tickLabelSpacing from 6 to 2, it now looks like this:

![image](https://cloud.githubusercontent.com/assets/679486/20874671/51f232ca-ba71-11e6-84c9-f21440579149.png)

@arouinfar anything else to do here?  You can test in context on phettest if you wish.

[2016-12-05 18:26] arouinfar commented on #81
Looks good to me @samreid.

[2016-12-05 19:06] #81 closed

[2016-12-14 18:12] jbphet commented on #76
A test task has been created to test the result of this instrumentation effort, see https://github.com/phetsims/tasks/issues/743.  I'm going to unassign myself from this issue and link it to the test task.

[2017-01-13 17:58] oliver-phet opened #83 "User reported issue: force of gravity is not calculating correctly"

[2017-01-13 19:12] ariel-phet commented on #83
@oliver-phet the sim is doing the calculation correctly. For the users parameters the answer should be 0.50 nN (not 5.00 nN).

Perhaps have the user send a screenshot, and then forward the email to me and I can respond.

[2017-01-13 19:18] oliver-phet commented on #83
I'll have the user send a screenshot, but I tried to set up this situation, it did seem the distance was off?
<img width="896" alt="screen shot 2017-01-13 at 12 16 58 pm" src="https://cloud.githubusercontent.com/assets/5090275/21942424/4a236702-d98a-11e6-8f9d-176a66e31187.png">

[2017-01-13 23:17] oliver-phet commented on #83
Here's the image by the user:
![image](https://cloud.githubusercontent.com/assets/5090275/21948966/ce4e6830-d9ab-11e6-9f9a-947d5a2942c4.png)

[2017-01-13 23:57] ariel-phet commented on #83
@oliver-phet yes, it looks like there might be some slight discrepancy between the actual distance in the sim, and the scaling of the ruler.

@jessegreenberg can you let me know what the default separation distance is when you first load the sim? I assume it is meant to be a round number like 4 m? If so we may need to adjust the scaling of the ruler a bit.

[2017-01-13 23:58] ariel-phet commented on #83
@oliver-phet please email the user back and let them know there might be a minor scaling issue in the sim that we will look into and fix promptly, and thank them for pointing it out.

[2017-01-14 00:11] jessegreenberg commented on #83
![capture](https://cloud.githubusercontent.com/assets/6396244/21949906/3324935e-d9b3-11e6-8a1a-cfecae6f44f8.PNG)

That is correct, 4m on sim load.

[2017-01-14 00:19] jessegreenberg commented on #83
The scaling looks a bit better for me:
![capture](https://cloud.githubusercontent.com/assets/6396244/21950059/6c1db3ec-d9b4-11e6-90fb-c64f699dce78.PNG)

[2017-01-14 00:59] jessegreenberg commented on #83
@oliver-phet could you please provide platform details?

[2017-01-14 01:06] jessegreenberg commented on #83
Could not reproduce on a MacBook pro, Windows 10, or Chromebook, but I was able to see the bug on Windows 7 (Bates) for Chrome, Firefox, and IE.

[2017-01-14 01:35] jessegreenberg commented on #83
This is a model issue, not a scaling issue.  If you modify the masses with the sliders, you will likely see incorrect forces like https://github.com/phetsims/gravity-force-lab/issues/83#issuecomment-272574145.  If you modify it with the tweakers, the values are correct.

By modifying the sliders, I was able to see the bug in Windows 10 Chrome.

[2017-01-19 17:08] jessegreenberg commented on #83
By changing the mass with the sliders I can consistently reproduce this issue.

[2017-01-19 17:45] jessegreenberg commented on #83
When the slider is used, the mass values aren't rounded to the nearest integer, so in the screen shots above, the masses are incorrect.  Will check to see if this is happening in master, but the implementation in master is pretty different than the released version.

[2017-01-19 17:48] jessegreenberg commented on #83
Master uses a NumberControl which constrains the value correctly.  We could redeploy off of master (requires full testing) or patch 2.0, I will see how much needs to be done to patch 2.0.

[2017-01-19 19:01] jessegreenberg commented on #83
Should be fixed in the commit above.  This was a minor fix and a maintenance release could be deployed without any testing.

@ariel-phet it looks like #73 is also fixed and is waiting for a redeploy.  That issue required bigger changes and would require a new RC to be built off of master.  Would you like to do a maintenance release for this issue or would you like to go through QA testing to inclu

[2017-01-20 17:09] ariel-phet commented on #83
@jessegreenberg since this a relatively easy sim to test, I think it would good to do a release that includes much of the latest (#73, but also the new navbar/loading screen).

[2017-01-25 20:31] oliver-phet opened #84 "User suggestion: Coulomb's Law sim"
@ariel-phet wrote:

[2017-01-26 19:44] arouinfar commented on #84
@ariel-phet I think the general framework of GFL could transfer nicely to a Coulomb's Law sim. Off the top of my head, I can think of a few things we'd need to address
* Repulsive forces -- figures would need to push against the charges
* Scaling should be comfortably within the point-charge regime. (Distance between charges >> charge radius.)
* Charge diameter should be fixed and relatively small

[2017-01-26 21:07] ariel-phet commented on #84
@kathy-phet agreed this seems reasonable as a potential sim (perhaps for an intern...Martin...Jessy after GLF:B etc).

@arouinfar perhaps do a rough design in the next couple weeks and you and I can talk through it to see if there are any big hurdles?

[2017-01-26 21:09] arouinfar commented on #84
Sounds good @ariel-phet! I'll keep you posted.

[2017-01-30 18:38] jessegreenberg commented on #40
@ariel-phet @aadish can this issue be closed now?

[2017-01-30 18:51] ariel-phet commented on #40
@jessegreenberg yes. Closing

[2017-01-30 18:51] #40 closed

[2017-02-02 23:50] arouinfar commented on #84
Note to self: Consider integer multiples of e for charge and Å as a possible scale for distances. This would allow chem teachers to look at the force between the nucleus and a valence electron.

[2017-02-06 23:00] phet-steele commented on #73
Good to go in http://www.colorado.edu/physics/phet/dev/html/gravity-force-lab/2.1.0-rc.1/gravity-force-lab_en.html?dev 👍

[2017-02-06 23:11] phet-steele commented on #73
I take that back. There are *very* brief moments where text goes off screen:

1. Make both masses = 1 kg
2. Slide m2 all the way right
3. Slide m1 all the way right so the masses are as close to each other as possible
4. Increment m2's mass by ONE with the right tweaker. The text for m1 will go off screen.
5. Increment again and the text will fix itself, but increment a third time and it breaks...

[2017-02-06 23:51] EthanWJohnson opened #85 "Inconsistent Forces at the edges of the simulation"
When both masses are dragged to the very edge of the playing area, it doesn't seem that dragging the mass closest to the edge should be able to change the registered force at all; it has no "space" to maneuver being sandwiched between the edge and the other mass. Yet, in several circumstances, this is not the case.

![exhibit a](https://cloud.githubusercontent.com/assets/22551096/22671072/9b4b5a4c

[2017-02-07 18:47] BryceAG commented on #73
Additionally if you set both to one kg and slide to the left, and increment m2 up by 1 then back down by 1, m2 will be off screen until dragged, or do the same with m1 and both dragged to the right.

Just in general if the mass is 2 and at the boundary, when scaled down to one the text goes out of bounds.

[2017-02-07 18:57] phet-steele commented on #83
@jessegreenberg @ariel-phet I did quite a bit a math under different scenarios. Looks accurate.

[2017-02-07 20:28] phet-steele commented on #83
Reopening for @oliver-phet to send an email when the rc is released.

[2017-02-09 00:54] jessegreenberg commented on #85
Thanks @EthanWJohnson, this is also an issue for the deployed version as well.

[2017-02-14 23:42] jessegreenberg commented on #85
Should be fixed in the above commit.

[2017-02-14 23:50] jessegreenberg commented on #73
:0

[2017-02-14 23:51] jessegreenberg commented on #73
Thanks @aadish, with https://github.com/phetsims/gravity-force-lab/commit/e93ac13cbbee5d614759a9d0a66c7633a01ee527 I cannot reproduce the issue.

[2017-02-14 23:53] phet-steele commented on #73
You've never seen that slider?

[2017-02-15 00:10] jessegreenberg commented on #73
Thanks @phet-steele I see it now.

[2017-02-15 17:11] phet-steele commented on #73
@aadish @jessegreenberg the force string for mass 2 now, unnecessarily, starts to the right of the mass on sim startup (instead of centered over it). Dragging m(3-1) very lowly to the left will further detach the mass from its string.

![gfl01](https://cloud.githubusercontent.com/assets/5863899/22985860/fe80a6d8-f366-11e6-9fa8-5dcb3a823de9.gif)

[2017-02-15 17:14] phet-steele commented on #73
This process is true of both masses in any scenario. Slow drags in general do not move the force string along with the mass.

[2017-02-15 17:16] phet-steele commented on #73
@jessegreenberg oh, this is probably because of you commits in #85 that limit drag precision?

[2017-02-15 17:56] phet-steele commented on #73
@jessegreenberg said, "Probably not."

[2017-02-15 17:57] phet-steele commented on #85
Looks fixed to me! But I will let @EthanWJohnson verify.

[2017-02-15 18:25] aadish commented on #73
@phet-steele @jessegreenberg  my bad didn't commit a piece of code

 b13cbbd commit should hopefully fix this

[2017-02-15 22:21] EthanWJohnson commented on #85
Yep, everything seems fine. When the masses have their backs against the wall, there is now no room for error.

Closing.

[2017-02-15 22:21] #85 closed

[2017-02-15 23:37] jessegreenberg commented on #73
Thanks @aadish!

[2017-02-15 23:44] jessegreenberg commented on #73
I cherry-picked https://github.com/phetsims/gravity-force-lab/commit/b13cbbd44a0f6f171577a3500c17fa78a4483380 into 2.1, it is ready to be verified.

[2017-02-16 21:16] phet-steele commented on #73
Works, thanks @aadish and @jessegreenberg.

[2017-02-16 21:16] #73 closed

[2017-02-18 01:16] jessegreenberg commented on #84
I recently created https://github.com/phetsims/coulombs-law for this.

[2017-03-02 06:29] jessegreenberg commented on #83
@oliver-phet 2.1.0 has been deployed to the website and should fix this issue:
https://phet.colorado.edu/sims/html/gravity-force-lab/latest/gravity-force-lab_en.html

[2017-03-02 23:33] oliver-phet opened #86 "User suggestion: Electric Force lab"
Related to https://github.com/phetsims/gravity-force-lab/issues/84?

[2017-03-06 19:06] oliver-phet commented on #83
User emailed. Closing.

[2017-03-06 19:06] #83 closed

[2017-03-08 21:14] jessegreenberg opened #87 "Use inverse-square-law-common"
inverse-square-law-common repo was recently set up to hold common components for inverse-square-law sims such as this one.  Common code that is shared between this sim, gravity-force-lab-basics, and coulombs-law should move to that repo.

[2017-03-09 00:26] arouinfar commented on #86
@oliver-phet yes, this is the same request as #84. You can let the user know that we are in the process of designing a new Coulomb's Law simulation.  Our new a11y intern will be working on the development, but the design process is still in the early stages, so it'll be a while before the sim is out.

[2017-03-09 00:27] arouinfar commented on #84
We're moving forward with the design of the Coulomb's Law sim, so this issue seems stale.

@oliver-phet you can let the user know that we will be working on creating the new sim (but we're still in the early stages of the design process) and then close this issue.

[2017-03-09 00:44] oliver-phet commented on #86
Replied to user. Closing.

[2017-03-09 00:44] #86 closed

[2017-03-09 00:46] oliver-phet commented on #84
Replied to user. Closing.

[2017-03-09 00:46] #84 closed

[2017-03-09 07:51] jonathanolson commented on #87
Failing automated assertions:
[code]

[2017-03-09 15:41] jessegreenberg commented on #87
Sorry about that, should be fixed in the above commit.

[2017-03-14 17:00] phet-steele opened #88 "Automated Testing Sim Error (3/14/2017 10:00 AM)"
Only occurs in basics version, but from code in this repo.

In basics version:
1. Check Constant Radius
2. Drag m1 all the way right

[code]

[2017-03-22 20:45] jessegreenberg commented on #88
The above commit fixes this issue, closing.

[2017-03-24 19:30] phet-steele commented on #88
@jessegreenberg bayes still occasionally reports this error. I cannot reproduce it by hand with the way described above, though.

[2017-03-24 22:50] jessegreenberg commented on #88
Thanks @phet-steele, perhaps there is another way to get the distance to zero now.

[2017-03-24 22:56] jessegreenberg commented on #88
The above commit hides the mockup slider, maybe we will see the error with more consistency now?

[2017-03-25 02:14] jessegreenberg commented on #88
@phet-steele told me how to reproduce (thanks!!)

- move m1 all the way to the left
- move m2 to m1's initial position (use the mockup image to guide with query parameter ?mockup)
- press Reset All button

The problem is that the reset all button calls these in order in InverseSquareLawModel.
[code]

When object 1 is reset, it is moved on top of object 2 (since object 2 was moved to object 1's ini

[2017-03-25 04:24] mbarlow12 commented on #88
Sure thing. I'll have a closer look into it tomorrow.

Thanks,
Michael

On Mar 24, 2017 8:14 PM, "Jesse Greenberg" <notifications@github.com> wrote:

[2017-05-04 16:59] arouinfar opened #89 "Propagate snapping distance to GFL"
As discussed in status, now that the snapping distance feature has been added to `inverse-square-law` it would be nice to add it to the full version of GFL as well.

[2017-05-04 17:03] jessegreenberg commented on #89
@arouinfar what should the resolution be for snapping in this sim?

[2017-05-04 17:04] arouinfar commented on #89
@jessegreenberg let's start with the GFL:B grid and see how it looks.

[2017-05-04 17:49] jessegreenberg opened #90 "Use ISLRuler"
The ISLRuler needs to be used in order to support #89.

[2017-08-04 19:06] mbarlow12 commented on #88
Closing.

[2017-08-04 19:06] #88 closed

[2017-08-05 00:19] zepumph opened #91 "PhET-iO Fuzz error"
[code]

[2017-08-07 21:59] jessegreenberg commented on #91
Just noticed this today as well.  Possible that this is caused by https://github.com/phetsims/tandem/issues/18?

[2017-08-08 01:46] samreid commented on #91
@zepumph and I suspect the problem may be related to https://github.com/phetsims/inverse-square-law-common/issues/10 because there is a new Multilink in InverseSquareLawModel.js whose body changes one of the dependencies.

[2017-08-08 01:55] samreid commented on #91
Specifically, note how `object1.positionProperty` is in the dependencies and also gets its values changed in the callback.  This means the property starts callbacks, then invokes callbacks, then starts callbacks again (before ending), this is currently not supported by phet-io, and it does not seem like expected behavior for the sim.  @jessegreenberg and @mbarlow12 can you please investigate?  You

[2017-08-08 04:02] jessegreenberg commented on #91
Thanks for investigating @samreid and @zepumph, we will take a look!

[2017-08-08 16:55] zepumph commented on #91
@samreid do you think this sort of error should be documented in the "how to instrument" docs? I could imagine a bullet similar to a reminder to check form Random but instead to check for properties setting themselves.

[2017-08-08 18:59] mbarlow12 commented on #91
I reverted to the former step function. I'd discussed with Jesse about the issue of updating the properties within their linked function, and the issue of phet-io hadn't really come up.

It seems that—at least in theory—a recursive strategy wouldn't necessarily be a bad design. Would the group agree that it should generally be avoided? Thanks.

[2017-08-08 22:55] samreid commented on #91
It seems like it might be a rare thing, or something that is picked up by fuzz tests.  So I'm not sure if it needs to be specifically checked during a manual review.  Let me know your thoughts!

[2017-08-09 00:36] zepumph commented on #91
Sounds good to me.

[2017-08-17 17:59] mbarlow12 opened #92 "Implement proper ISL inheritance for all types"
MassNode was recently updated to inherit from ISL's ObjectNode, and this should be done for all other appropriate types.

[2017-08-30 17:54] mbarlow12 commented on #91
@samreid @zepumph Since the multilinked function has been removed, should this issue be closed? Or would you like to keep it open to discuss such cases in the future?

[2017-08-30 17:58] zepumph commented on #91
Close is great. Fuzz is passing now. Thanks.

[2017-08-30 17:58] #91 closed

[2017-08-31 00:34] mbarlow12 commented on #92
All types inheriting properly. Closing.

[2017-08-31 00:34] #92 closed

[2017-08-31 17:56] jessegreenberg opened #93 "continuous testing error"
[code]

[2017-08-31 23:10] arouinfar opened #94 "Add Scientific Notation checkbox"
In today's design meeting for Coulomb's Law, we discussed adding a Scientific Notation option to Gravity Force Lab. Originally, the sim did not use scientific notation so that it would be more accessible to a younger audience. Given that there will be a Basics version, it seems appropriate to add a Scientific Notation checkbox to GFL.

To accommodate the extra checkbox, we'll need to make a few la

[2017-08-31 23:11] arouinfar commented on #94
Just realized the mockups show all the checkboxes on. To clarify, only "Show Values" should be on by default.

[2017-09-01 21:55] mbarlow12 commented on #93
@jessegreenberg I added the tandem argument passed to the vertical checkbox group. I'm still pretty unsure about phet-io stuff, so would you mind reviewing?

[2017-09-01 23:23] jessegreenberg commented on #93
In general, me too, but sure!

[2017-09-05 18:06] #93 closed

[2017-09-06 22:07] jessegreenberg commented on #94
Changes made above - the list in https://github.com/phetsims/gravity-force-lab/issues/94#issue-254493518 did not produce exactly what is shown on the mockup, presumably because of minor layout changes in the refactor to use inverse-square-law-common.

@arouinfar can you please take a look at master and see how things look? Mockup layout can be compared to current layout with query parameter ?showM

[2017-09-06 22:13] arouinfar commented on #94
Looks great @jessegreenberg!! The mockup was meant as a guide, so no need to to make any further changes to the layout.

Scientific notation doesn't appear to be working just yet, but I suppose you're probably still working on that. :)

[2017-09-06 22:15] jessegreenberg commented on #94
Yikes, it was a moment ago sorry! Looking into it.

[2017-09-06 23:16] jessegreenberg commented on #94
Should be working now @arouinfar.

[2017-09-06 23:19] arouinfar commented on #94
👍

[2017-09-06 23:19] #94 closed

[2017-09-11 17:42] jessegreenberg opened #95 "tandem name issue (continuous testing)"
[code]

[2017-09-11 17:42] jessegreenberg commented on #95
Also, ```gravitForceLabParameterCheckbox``` is spelled wrong.

[2017-09-11 20:52] jessegreenberg commented on #95
Also fixed by https://github.com/phetsims/inverse-square-law-common/commit/46269f5277b4067780bdf404dbb558e3f817d7b4. Closing.

[2017-09-11 20:52] #95 closed

[2018-01-07 04:48] samreid opened #96 "Remove mock-up and code"
From https://github.com/phetsims/gravity-force-lab-basics/issues/22

Can we remove the mock-up and code in GravityForceLabScreenView now?

[2018-04-05 20:09] jbphet commented on #76
@samreid - this issue is old, but is assigned to me, and I'm not at all sure if this is done, still needed, or in general where it's at.  Do you have a sense, or can you assign to someone who does?  I'm certainly not spending any time on it at the moment and it's not on my radar for working on it anytime soon.

[2018-05-03 23:10] arouinfar opened #97 "Create sim primer"
- [ ] Draft script
- [ ] Record rough version for script verification
- [ ] Review script verification draft, and adjust script as necessary
- [ ] Record another draft
- [ ] Review 2nd draft
- [ ] Produce primer and upload
- [ ] Caption primer

[2018-05-03 23:12] arouinfar commented on #97
Should be done in conjunction with https://github.com/phetsims/gravity-force-lab-basics/issues/67 and https://github.com/phetsims/coulombs-law/issues/56.

[2018-05-29 20:48] arouinfar opened #98 "Create LoL Icons & Descriptions"
Will need these for when GFL is redeployed along with release of ISLC siblings.

[2018-05-31 22:03] jessegreenberg commented on #96
This was done by @mbarlow12 in 75f81ce

[2018-05-31 22:03] #96 closed

[2018-05-31 22:10] jessegreenberg commented on #89
The  masses snap in GFL now. But it looks like they don't quite snap exactly to the grid lines. Same with the ruler:
![capture](https://user-images.githubusercontent.com/6396244/40810993-c6a83228-64ec-11e8-99bf-ec52bc9ec621.PNG)

[2018-05-31 22:11] jessegreenberg commented on #89
Actually, I am seeing this in coulombs-law and gravity-force-lab-basics. So Ill make an issue for https://github.com/phetsims/gravity-force-lab/issues/89#issuecomment-393697135 in ISLC

[2018-05-31 22:11] jessegreenberg commented on #89
Is there anything else to do for this issue @arouinfar?

[2018-05-31 22:13] arouinfar commented on #89
Good catch @jessegreenberg! The grid size is excellent, but it should be aligned with the sim elements.

[2018-05-31 22:19] jessegreenberg commented on #89
Thanks @arouinfar, sounds good. We are going to look into that in  https://github.com/phetsims/inverse-square-law-common/issues/49. Closing this issue.

[2018-05-31 22:19] #89 closed

[2018-06-04 22:19] arouinfar commented on #97
The primer has been recorded and uploaded to Vimeo. Publication to the PhET site should wait until this sim redeploys.

[2018-06-15 16:55] arouinfar commented on #98
Icons and descriptions have been created.

[2018-06-15 16:55] arouinfar commented on #98
Icons and descriptions have been created.

[2018-06-15 16:55] #98 closed

[2018-06-28 16:13] mikewinters10 opened #99 "New PhET-iO version request"
The current PhET-iO version of Gravity Force Lab was published on November 29, 2016. We need an updated version for sound design purposes.

[2018-06-28 16:17] mikewinters10 commented on #99
@jbphet having trouble adding you as an assignee.

[2018-06-29 17:59] jbphet commented on #99
@samreid and/or @zepumph - is this sim in a state where we can deploy a phet-io version for the purposes of prototyping the sound design with a sonification wrapper?

[2018-06-29 18:06] jbphet commented on #99
@samreid responded to a Slack question on this topic just as I was creating this issue.  Here is what he said:

In response to a couple of the questions above, I'd rather not do a build and deploy until we hear from @zepumph just to make sure I'm not wasting my time.  Also, running locally isn't really and option, since the Georgia Tech folks will be doing the bulk of the wrapper development.

[2018-07-02 18:08] zepumph commented on #99
I ran tests and poked through studio, I think it is good enough to begin sonification design work.

https://phet-dev.colorado.edu/html/gravity-force-lab/2.2.0-dev.5/phet-io/wrappers/index/

@mikewinters10 let me know if you find any shortcomings in the current implementation. As @samreid said, it is not instrumented as thoughtfully as the final publication will be.

[2018-07-02 19:41] mikewinters10 commented on #99
I may be having an issue with using the API:

[code]

Gives me 'Uncaught ReferenceError: WrapperUtils is not defined.'

I'm not really sure what the error is.  The only difference I'm seeing with the usual implementation is that the source is coming from phet-dev.colorado.edu, where it has been bayes.colorado.edu.

[2018-07-02 19:45] samreid commented on #99
I think it is called `phet.WrapperUtils` now, please see the template at https://phet-dev.colorado.edu/html/gravity-force-lab/2.2.0-dev.5/phet-io/wrappers/index/

[2018-07-03 15:48] mikewinters10 commented on #99
I got it to work! Just copied the example API code from the link that you shared, and then added some specific code from the phet-osc-bridge.

Thanks!

[2018-07-03 15:48] #99 closed

[2018-07-16 15:04] samreid commented on #76
It looks like the PhET-iO instrumentation is pretty complete in the "instrument everything" approach, the next steps will be to:

1. Hold design meetings for PhET-iO API, and implement requested changes
2. QA Testing
3. Publish first PhET-iO version.

Assigned to @ariel-phet for priority and schedule.

[2018-07-17 20:52] arouinfar opened #100 "Update screenshots for redeploy"
This sim will need to be redeployed in conjunction with the publication of its ISLC siblings. Several changes have been made so the [current screenshots](https://github.com/phetsims/gravity-force-lab/tree/master/assets) will need to be retaken from the latest version of the sim.

With the addition of the scientific notation feature, I would recommend that we add an additional alternate screenshot,

[2018-07-17 21:01] arouinfar opened #101 "Toggling Scientific Notation shifts pullers, panels, resetAllButton by a px"
Observed on master on latest Mac/Chrome.

Turning on scientific notation shifts the panels, resetAllButton, and pullers up about a pixel. It's a really subtle shift, but the ruler can help make the shift a bit more obvious.

![image](https://user-images.githubusercontent.com/8419308/42845073-151a4d06-89d2-11e8-91bb-404a1e012e53.png)
![image](https://user-images.githubusercontent.com/8419308/428450

[2018-07-18 20:42] arouinfar commented on #101
What's a bit puzzling is scientific notation shifts things <i>up</i>. I would expect the opposite, given that the superscripts make the strings a bit taller, effectively pushing everything else down.

[2018-07-18 21:44] arouinfar opened #102 "Add Graphic Arts credits"
The updated puller artwork was created by Mariah Hermsmeyer, so she should be added to the credits for redeploy.

[2018-08-06 18:40] terracoda opened #103 "Focus order incorrect"
Just starting A11y work on this sim and noticed that the current focus order is a little wonky.
Focus order will eventually be:

1. m1, blue sphere position, slider
2. m2, Red Sphere position, slider
3. m1 mass, slider
4. m2 mass, slider
5. Ruler, move in 4 directions
6. Constant Size, checkbox, not checked
7. Force Values, checkbox, checked
8. Scientific Notation, checkbox, not checked
9. Reset A

[2018-09-06 18:48] terracoda opened #104 "Constrain movement of ruler?"
I am just looking at the accessibility of this sim, and I would like to ask if we could consider putting useful constraints on the movement of the ruler to simplify description. For example, preventing it from going off screen, or under the controls?

Question is not high priority, but just want to put it out there.

[2018-09-06 19:02] arouinfar commented on #104
@terracoda there are already limits on how far the ruler can be moved. Are you proposing tighter restrictions?

![gfl_ruler](https://user-images.githubusercontent.com/8419308/45178929-54482f00-b1d4-11e8-86a0-d84c4da4974a.gif)

Allowing for the ruler to go a bit off the left/right side of the screen is helpful for these sorts of situations:
![image](https://user-images.githubusercontent.com/8419308

[2018-09-06 19:12] terracoda commented on #104
I was thinking of tighter constraints, like not off the screen to the left or right, maybe even not beyond the edge of the robots, and not below the panels.

It may not be an issue for a11y, but it might simplify the movement of the ruler.

I would think that keeping the ruler above the panels would make it easier to grab for students with upper body dexterity issues, so restriction in the y-coord

[2018-09-06 19:16] terracoda commented on #104
It is not priority at the moment. Maybe we should return to this once I am working on the ruler alerts.

[2018-09-06 19:28] arouinfar commented on #104
Thanks @terracoda! Since I've got GFL on my mind, I'll go ahead and add my thoughts here, but I'm always happy to pick this discussion back up later.

I think it's helpful to allow for some portion of the ruler to go off the left/right side. That would give users a bit more freedom to line up the 0 or 10 tick mark with one of the masses.

As for vertical movement, I think we can limit the ruler to

[2018-09-06 19:33] terracoda commented on #104
@arouinfar, that's a very good point. We definitely would not want to constrain the end of the rule, but perhaps rather the zero mark if we constrain the left-right movement any further.

Thanks for these thoughts. They are helpful.

[2018-09-07 12:28] terracoda commented on #104
I am marking this _onhold_ until I am directly working on the ruler.

[2018-09-13 13:45] terracoda opened #105 "Mass Sliders not fully working with keyboard"
I'm just getting started with alerts for this, and noticed that keyboard interactions have been implemented which is awesome.

However, I noticed that while the Sphere position sliders seem to work fine with the arrow keys, the Mass sliders do not.

I tried both Safari and Firefox on MacOS 10.13.6.

The slider seems to get stuck on 500/549 when using just the arrow keys. The other key interactions

[2018-09-13 13:51] terracoda commented on #105
Perhaps recent changes to accessible slider have had an impact on these sliders?

[2018-09-13 13:54] terracoda commented on #105
@jessegreenberg, @zepumph tagging you both, so you know about this issue. This is not an immediate priority as far as I am concerned. This can likely wait until the full PDOM for this sim is implemented soon.

[2018-09-13 14:00] terracoda commented on #105
Another issue is that I can't decrease slider value with Left Arrow key. I can only move Right Arrow key to 500, then I get stuck in both directions.

[2018-09-13 20:27] terracoda opened #106 "Concepts to communicate with Mass sliders"
Tackling mass alerts first as it seems easier than proximity alerts.

From my perspective I think we need to communicate:
- Size (or density) of mass
- Forces get stronger as mass of sphere increases in size or density
- Force vectors get bigger as mass of sphere increases in size or density (but, maybe no direction in alert?)

while adjusting with Mass.

**Questions, do we also need to provide:**

[2018-09-14 11:02] emily-phet commented on #106
@terracoda

I think this looks great! I don't think we need to mention the other mass explicitly, or direction of vector. I think people will need to occasionally explore the PDOM to get individual descriptions of the representations for each mass, and that's where they can piece together that the forces are pointed towards each other.

[2018-09-14 12:42] terracoda commented on #106
Perfect, that's what I hope you were going to say, as that is what I was thinking as well.

[2018-09-14 12:47] terracoda commented on #106
I'll go ahead with this pattern and removing a couple of strings:
**On focus:**
    “Mass 1, slider. {{50}} kilograms{{, very small}}. [[Removing comparative size phrase]]”

**Default increase (50 kg)**
    {{100}} kilograms, forces {{a little stronger}} at {{0.000 000 083 423}} Newtons, force vectors {{very small}}

**Default decrease (50 kg):**
    {{1}} kilograms, forces {{now very weak}} at {{

[2018-09-14 22:13] jessegreenberg commented on #105
It looks like these are navigable because AccessibleSlider is mixed into ISLCObjectNode, but the default step size produced non integer values, and the sim wasn't having it. @terracoda can you please see if this is fixed in master?

[2018-09-18 09:02] terracoda commented on #105
Looks like it is fixed in master. Thanks @jessegreenberg.

[2018-09-18 09:02] #105 closed

[2018-09-28 00:09] terracoda commented on #106
@emily-phet, I have chopped the next iteration of the increase/decrease alert attempting to make the forces and the vectors seem less like two separate things.

**Mass alert version 3 - expected read out (increase)**
- {{100}} kilograms. As mass {{grows}} vectors {{grow}}, forces {{now {{0.083 423}} micronewtons}}.

**Mass alert version 3 - expected read out (decrease)**
 - {{1}} kilogram. As mass

[2018-09-28 10:41] emily-phet commented on #106
@terracoda Love it! I think this latest change helps a lot!

[2018-09-28 14:13] terracoda commented on #106
@terracoda to update design document to have just the above increase/decrease Mass Alert.

[2018-09-30 00:01] terracoda commented on #106
**I'm going to go with "gets bigger" and "gets smaller"**
- {{100}} kilograms. As mass {{gets bigger}} vectors {{get bigger}}, forces {{now {{0.083 423}} micronewtons}}.
- {{1}} kilogram. As mass {{gets smaller}} vectors {{get smaller}}, forces {{now {{0.083 423}} micronewtons}}.

I've updated the design doc, so I will close this issue.

[2018-09-30 00:01] #106 closed

[2018-09-30 01:46] terracoda opened #107 "Concepts to communicate with distance/position sliders?"
**On Focus:**
- m1 distance, slider. {{3 meter mark}}, {{somewhat close to}} m2, vectors {{small}}, forces {{0.041 712}} micronewtons.

**As m1 moves right decreasing distance**
- {{3.2 meter mark}}. Right, closer to m2, vectors bigger, forces now {{force value}} micronewtons.
- {{3.4 meter mark}}. Closer to m2, vectors get bigger, forces now {{force value}} micronewtons}}.

**As m1 moves left inc

[2018-09-30 01:47] terracoda commented on #107
Oops, hit enter prematurely, updating previous comment.

[2018-10-05 12:27] terracoda commented on #107
@emily-phet or @arouinfar what do you think of the above position alerts?
It's a similar approach as in #106, but with direction added in. There should be curly braces around the direction string as they are dynamic, uttered only when there is a change in direction:

-  {{3.2 meter mark}}. {{Right,}} closer to m2, vectors bigger, forces now {{force value}} micronewtons
- continuing right: {{3.4 me

[2018-10-05 13:59] terracoda commented on #107
Actually, the directional descriptions are a somewhat different approach from the Mass alerts which are more relational. My first thought for position changes was also more relational. For example:

**m1 moves closer to m2:**
- m1 position, slider. {{3.2 meter mark}}. As m1 gets {{closer to}} m2, vectors get bigger, forces now {{0.041 712 micronewtons}}.

**m1 moves further from m2**
- m1 position

[2018-10-05 16:32] emily-phet commented on #107
@terracoda I really like the second set above - the 'directional' style alerts. They're definitely shorter, and I think provide relevant information without sound like they're trying to 'tell' you the patter you're supposed to be inferring. I'm imaging if you hit the arrow key moderately quickly, repeatedly (with some alerts interrupting each other), you'd hear something like 'vectors smaller - ve

[2018-10-06 17:45] terracoda commented on #107
I'll update the design document and then close this issue. Thanks @emily-phet.

[2018-10-12 12:56] terracoda opened #108 "Mass sliders not working with shift key in built downloaded version"
This issue may be related to https://github.com/phetsims/gravity-force-lab/issues/105.

I am working offline, so yesterday I downloaded a built version from master. I noticed that the mass sliders do not advance when I try to use the shift key to take small steps on the mass sliders.

@jessegreenberg and @mbarlow12 tagging you both, so you can determine who should be assigned. This is not an urgen

[2018-10-17 22:08] mbarlow12 commented on #87
@jessegreenberg closing as this seems to be long done :)

[2018-10-17 22:08] #87 closed

[2018-10-17 22:13] mbarlow12 commented on #108
@terracoda I just created a fresh build from master and it seems to be working ok for me, so it may be a bug that was fixed more recently. I'll keep this open so that we can check when we have a new dev release. Thanks for the heads up.

[2018-10-17 22:28] jessegreenberg commented on #108
Hey I think this may be related to https://github.com/phetsims/scenery-phet/issues/411.  I agree this has been fixed, and can be closed if @mbarlow12 and @terracoda agree.

[2018-10-18 14:55] terracoda opened #109 "This sim is ready for Interactive Description Implementation"
### A11y Features for this sim:
- [x] Keyboard Navigation (except ruler details: shortcut keys, large and small steps)
- [x] Simple Description -  Started: July 23, 2018 ??
- [x] Full Description -  Started: July 23, 2018??; Implementation started October 18, 2018; Description design complete with the Grab,Move, Release responses for the ruler on Nov 28, 2019.
- [x] Sonification - (near complete,

[2018-10-18 14:56] terracoda commented on #109
@mbarlow12, this is check-list alert to get us started. Please let me know if this works for you. I am excited to work on this sim with you!

[2018-10-18 15:08] terracoda commented on #108
I downloaded a built version and the sliders now work great! Closing.

[2018-10-18 15:08] #108 closed

[2018-10-18 23:18] mbarlow12 commented on #109
@terracoda the checklist is great! I've been noticing that QA has done a lot of work with testing/issue templates, and I think we should bring this to the rest of the a11y team to review & refine as a general checklist for implementing these features.

[2018-10-22 22:38] mbarlow12 commented on #109
@terracoda @emily-phet I've completed work on the screen summary. Moving on to the other PDOM elements later this week.

https://phet-dev.colorado.edu/html/gravity-force-lab/2.2.0-dev.7/phet/gravity-force-lab_en_phet.html?ea&accessibility

https://phet-dev.colorado.edu/html/gravity-force-lab/2.2.0-dev.7/phet/gravity-force-lab_a11y_view.html

[2018-10-23 11:01] terracoda commented on #109
@mbarlow12, thanks for the update. I'll check it out.

[2018-10-23 16:05] emily-phet commented on #109
@terracoda I'm just seconding that this checklist looks helpful!

[2018-10-24 08:00] terracoda commented on #109
Oops, I didn't mean to close the issue, only comment.

[2018-10-26 07:47] terracoda commented on #109
@mbarlow12, I've updated the checklist to be more specific. I hope this is helpful.

I've checked off the items that are present in [2.2.0-dev.7](https://phet-dev.colorado.edu/html/gravity-force-lab/2.2.0-dev.7/phet/gravity-force-lab_en_phet.html?ea&accessibility)

[2018-10-26 07:51] terracoda commented on #109
Oh, just going to check [dev.8](https://phet-dev.colorado.edu/html/gravity-force-lab/2.2.0-dev.8/phet/gravity-force-lab_en_phet.html?ea&accessibility) now ;-)

[2018-10-26 09:03] terracoda commented on #109
@mbarlow12, PDOM is sounding much more complete and the focus order is good.

Any chance you can get an accessible Keyboard Shortcuts button in there, and potentially an accessible Keyboard Shortcuts dialog?

[2018-10-30 10:52] terracoda commented on #107
The design document has been updated. Example alerts for initial values for position and changing position are in section [Changing the Position of a Sphere](https://docs.google.com/document/d/1-37qAgde2XrlXBQae2SgjartM35_EnzDD9pdtd3nXAM/edit#heading=h.d6mb64l644i)

I'm closing this issue. These alerts are ready for implementation.

[2018-10-30 10:52] #107 closed

[2018-10-30 11:54] terracoda opened #110 "Scientific Notation is checkable when disbaled"
@mbarlow12, I am sure this on your radar or todo list, but just in case I am adding this issue about the Scientific Notation checkbox.

When Force Values is not checked, the Scientific Notation checkbox needs to be disabled.

Currently, I can still check the Scientific Notation checkbox when it is visually greyed-out.

According to the ARIA in HTML5 help https://www.w3.org/TR/html-aria/ we should:

[2018-10-30 12:12] terracoda opened #111 "Mass Sphere Position Sliders - best structure?"
@mbarlow12  you have implemented the Mass Sphere Position sliders in a list structure. Any particular reason why?

Ideally, I'd like the position sliders to be communicated as one slider with two thumbs and while this is difficult (possibly impossible from an a11y perspective), I am not sure a list structure is the best choice.

Marking this for discussion at today's design meeting.

[2018-10-30 17:46] mbarlow12 commented on #111
@terracoda It was ambiguous from the design doc as what sort of markup should wrap the sliders.

As to a slider with 2 thumbs, the `range` input only accepts a single input, so we'll have to use 2 distinct sliders but there may be some possibility of of using aria attributes to communicate to the user that they're linked.

For now, I'll remove the list and simply have the position sliders in a div

[2018-10-30 17:50] mbarlow12 commented on #111
List removed in https://github.com/phetsims/gravity-force-lab/commit/6e88d2ddc47b304c2ea99bfe29668eec43faacf8 and https://github.com/phetsims/inverse-square-law-common/commit/3bbcca0589c76275d97ef20a38386540db1d829f. Made an error in the commit messages.

[2018-10-30 20:34] terracoda commented on #111
@mbarlow12, I verified the change, so closing for now.

[2018-10-30 20:34] #111 closed

[2018-10-31 16:31] mbarlow12 commented on #110
@terracoda could you provide some more details on how you were able to check the checkbox? Were you using a screen reader? Was this the built version or from master?

Since this is a common component, @jessegreenberg and I would like to assess whether it's sim-specific or not. Have we not had a sim where a checkbox is disabled yet?

[2018-10-31 20:56] terracoda commented on #110
@mbarlow12, great question. Yes, while ussing VoiceOver on Safari I was using the cursor keys to read through the PDOM, and when passing over Force Values, I unchecked it and then I could still move on and check Scientific Notation...just going to verify on Master. I was using a downloaded built version.

[2018-10-31 21:04] terracoda commented on #110
Just verified issue on Master. Here's a screen shot after I checked the greyed out checkbox.
<img width="967" alt="screen shot 2018-10-31 at 10 00 33 pm" src="https://user-images.githubusercontent.com/1902116/47818631-96b36580-dd58-11e8-94ae-229c1af28683.png">

The behaviour of the visual checkbox is correct. It is greyed out when I uncheck Forces Values and I cannot check it.

In the PDOM, howeve

[2018-10-31 21:05] terracoda commented on #110
@mbarlow12, please re-assign if you have more questions :-)

[2018-11-06 12:03] terracoda opened #112 "Need "centers" when describing distance in dynamic state of the sim list"
@mbarlow12 thanks for pointing this out. For scientific accuracy and clarity we should be clear to learners that the distance is measure from the centers of the mass spheres:

Please update the string describing distance from:
- ‪m1‬ and ‪m2‬ are {{somewhat close to each other}}, exactly {{4}} ‪meters‬ apart.
To:
- m1 and m2 are {{somewhat close to}} each other, centers exactly {{4}} meters apart.

[2018-11-06 12:33] terracoda opened #113 "Small rounding difference in PDOM for newtons/micronewtons"
Apologies if I have mentioned rounding differences somewhere else. I do not see an issue for it.

@mbarlow12 is it possible to round the micronewtons in the PDOM so they have the same digits as the newtons in the visual sim?

I am tagging and assigning to @arouinfar to see if this is a significant difference or not.

See the small difference here in the A11y View:
<img width="919" alt="rounding-qu

[2018-11-06 12:34] terracoda commented on #113
Or perhaps, we need one less decimal place for micronewtons.
@arouinfar, can you verify the number of needed decimal places for micronewtons?

[2018-11-06 12:45] emily-phet commented on #113
@terracoda I think the number of significant figures in the PDOM just needs to match the number of decimal places shown in the visuals. If the same number of significant figures is shown, the rounding will take care of itself (note, this is not the same as just 'chopping off' the extra decimal places in the PDOM - as this would not round them final digit).

[2018-11-06 13:41] terracoda commented on #113
@emily-phet, understood, but right now there are 7 decimal places in PDOM, and in the visual sim, it looks like (to me anyways) that there are 6 significant figures (041 712).

I was wondering if the micronewtons in the PDOM need to be rounded to 0.041712 from 0.0417115?

[2018-11-06 18:21] emily-phet commented on #113
@terracoda agreed - please have the number of decimals place in the PDOM match that in the visuals. This will mean they need to have the same number of 'significant figures', so that the final number is rounded correctly and the PDOM and visuals match exactly.

[2018-11-06 21:50] arouinfar commented on #113
@terracoda I agree that the number of decimal places in the PDOM should match the visuals, so I'll reassign to @mbarlow12.

[2018-11-07 00:01] mbarlow12 commented on #113
Forgot to link the commits that address this issue:
https://github.com/phetsims/inverse-square-law-common/commit/47c7cf8c0d76a020eaca59a721f59cdd2a27b895
and
https://github.com/phetsims/gravity-force-lab/commit/8f6edc2844782a5ee3c9b63c4e70b6945936ebda

[2018-11-07 08:50] terracoda opened #114 "In non-visual expience, ok to switch between micronewtons and newtons?"
In yesterday's A11y design meeting for this sim, we were iterating on the alerts for when the Forces Values and Scientific Notation checkboxes become checked and unchecked.

We already agreed that micronewtons is indeed a useful format in "regular view" for the non-visual experience as it prevents a bunch of zero-filled decimal places from being read out.

I want to double-check that it is ok to b

[2018-11-07 09:08] terracoda commented on #113
Sounds great @mbarlow12! We 6 significant figures in our Parallel Experiences now. Closing this issue.

[2018-11-07 09:08] #113 closed

[2018-11-07 09:19] terracoda commented on #109
@mbarlow12, on Master I verified that all main PDOM items and the Simple UI alerts are in place. There are still a couple of tweaks to actual content for which I will create new separate issues.

[2018-11-07 09:33] terracoda opened #115 "Adjust UI alert text for Force Values and Scientific Notation checkboxes"
Once a decision is made in #114, please update alert text strings to match the updated alerts in the design document in Section [Simple Interactive Alerts for UI Options](https://docs.google.com/document/d/1-37qAgde2XrlXBQae2SgjartM35_EnzDD9pdtd3nXAM/edit#heading=h.mp3sseh3ze8h)

The constant size checkbox alerts are working great. Just the other 2 need adjusting.

Interactive Sim Controls | Alert

[2018-11-07 09:46] terracoda opened #116 "Change qualitative description for "a tiny bit" of force/pulling"
As discussed in Nov 6 design meeting and based on user feedback, we need to make the difference between "a tiny bit" and "a little" more clear.

Please change "a tiny bit" to "very little".

The slightly updated qualitative scale looks like this in section titled [Effort of the robots](https://docs.google.com/document/d/1-37qAgde2XrlXBQae2SgjartM35_EnzDD9pdtd3nXAM/edit#):

Description of Force Vec

[2018-11-07 13:47] terracoda opened #117 "Need latest text and sound version for GFL"
As mentioned in https://github.com/phetsims/friction/issues/145#issue-378221463 I will be meeting with consultants on Thursday afternoon (1 pm MT) and Friday morning (8 am MT).

It would be great to port the latest version of the descriptions to the sonification wrapper **if there is sound that is ready**. I am not sure there is. Tagging @jbphet to verify.

@mbarlow12, if sounds are not ready, I j

[2018-11-07 16:08] arouinfar commented on #114
Great question @terracoda. While I think micronewtons is handy for concise descriptions in standard notation, it would be a bit confusing in scientific notation since there would be an extra 10^-6 implied. For clarity, and in keeping with convention, I would prefer that scientific notation is described in Newtons, not micronewtons.

[2018-11-07 17:52] terracoda commented on #115
@mbarlow12, in #114 @arouinfar confirmed that it is best to describe scientific notation in newtons, so we will stick with switching between micronewtons to newtons when scientific notation checkbox is checked.

[2018-11-07 17:52] terracoda commented on #114
@arouinfar thanks, closing.

[2018-11-07 17:52] #114 closed

[2018-11-07 17:58] terracoda commented on #117
@jbphet, if the cooling sound is the latest, I can use the link above. It is the cooling sound I am most interested in.

[2018-11-07 18:07] terracoda commented on #117
@jbphet, oops, the link above is for Friction.

Are there any sounds ready for Gravity Force Lab?

[2018-11-07 18:10] terracoda commented on #117
@jbphet, I found one for Gravity Force Lab Basics:
https://phet-dev.colorado.edu/html/phet-io-wrapper-sonification/1.0.0-dev.83/phet-io-wrapper-sonification/gravity-force-lab-basics/html/gravity-force-lab-basics-sonification.html

[2018-11-07 21:50] terracoda commented on #117
@mbarlow12, I am just realizing now that I should have made the description port request for GFL:Basics, and not GFL. I see from the link above that the sonified version does not even have the latest visuals, so I am not sure a port is even possible.

The description in the sonified version above is really out of date, so I won't bother with it.

Could you please provide me with a dev link to late

[2018-11-07 22:00] terracoda commented on #117
@mbarlow12 I posted on the slack sonification channel that it would be a good idea to update the descriptions for GFL:Basics at their next convenience.

I just need regular dev links for tomorrow.

[2018-11-07 22:42] mbarlow12 commented on #116
Updated in above commit.

[2018-11-07 22:46] mbarlow12 commented on #115
I must have had some clairvoyance yesterday, as the commits below handled the readout with the micronewtons/newtons switch.
https://github.com/phetsims/inverse-square-law-common/commit/b25ac395bb5261471e4d71a66505c7618a7dab68
https://github.com/phetsims/gravity-force-lab/commit/87d995e8c4bbca5bf08bcd62fabe49c96b8fbd7c
https://github.com/phetsims/inverse-square-law-common/commit/47c7cf8c0d76a020eac

[2018-11-08 08:34] terracoda commented on #115
@mbarlow12, everything sounds great.
I found an issue that position values under 1.2 or 1.3 meters are not rounding to a single decimal point.

I'll close this issue and open a new one for the minor position value change.

[2018-11-08 08:34] #115 closed

[2018-11-08 08:43] terracoda opened #118 "Position values not rounding in very low range (under 1.4 meters)"
While testing @mbarlow12's awesome work in #115 I noticed that
- when I jumped left with Mac's Function-key + Left arrow (same as Home key shortcut on Windows) I got a very long position value. The value read out to many decimal places.

I verified that position values under 1.4 (perhaps 1.3 or 1.2) meter mark are not rounding properly. The meter mark values in this low range are read out to about

[2018-11-08 09:01] terracoda commented on #116
Thanks @mbarlow12, sounds great! I'll close this issue.

[2018-11-08 09:01] #116 closed

[2018-11-08 09:04] terracoda commented on #112
Sounds good @mbarlow12. I verified on master. Thanks, closing.

[2018-11-08 09:04] #112 closed

[2018-11-08 10:59] terracoda commented on #117
@mbarlow12 I found the latest described version for GFL:Basics
[https://bayes.colorado.edu/dev/html/gravity-force-lab-basics/1.0.0-dev.29/phet/gravity-force-lab-basics_all_phet.html?a11y](https://bayes.colorado.edu/dev/html/gravity-force-lab-basics/1.0.0-dev.29/phet/gravity-force-lab-basics_all_phet.html?a11y)

Could you post a dev link for the latest GFL regular in this issue for me today, ideall

[2018-11-08 16:44] mbarlow12 commented on #117
Sorry for the confusion @terracoda here's the latest from master:

https://phet-dev.colorado.edu/html/gravity-force-lab/2.2.0-dev.9/phet/gravity-force-lab_all_phet.html?ea&accessibility

[2018-11-08 16:45] jbphet commented on #117
The latest sound design for GFL:Basics is actually the version linked below with "Option 2" selected.  It's enclosed in an iframe, so that might not work for the current needs, but it is the actual latest.

https://phet-dev.colorado.edu/html/phet-io-wrapper-sonification/1.0.0-dev.84/phet-io-wrapper-sonification/gravity-force-lab-basics/html/gravity-force-lab-basics-sonification-options.html?sonifi

[2018-11-09 21:30] terracoda commented on #117
Thanks @jbphet and @mbarlow12. @jbphet, sadly I missed your post, and the older version https://github.com/phetsims/gravity-force-lab/issues/117#issuecomment-436721909, but it was not accessible with JAWS.

I will have to do some thinking as to why. It might be the iframe, but I am not sure. I will send links in advance to make sure they can be accessed before the next sessions.

Again, thanks to

[2018-11-09 21:30] #117 closed

[2018-11-12 10:39] terracoda commented on #118
@mbarlow12 this bug also exists in Gravity Force Lab Basics.

[2018-11-12 20:38] jessegreenberg commented on #118
Just took a look since it came up in resistance-in-a-wire. Verified in the a11y view for gravity-force-lab
![capture](https://user-images.githubusercontent.com/6396244/48373759-c46da800-e690-11e8-9485-eee76df40ed1.PNG)

I actually wasn't able to reproduce in gravity-force-lab-basics though.

[2018-11-14 22:30] terracoda commented on #118
@jessegreenberg, I thought I produced it in GFL:B, and I must be mistaken. In GLF:B the Mass 1 position slider actually goes to zero which is not correct. I do not think there should be any zero values. I will create a new issue for that in GFL:B repo for that issue.

[2018-11-15 09:41] terracoda opened #119 "Start position range at zero like in GFL:B"
As discussed in issue https://github.com/phetsims/gravity-force-lab-basics/issues/79#issue-380927797, @arouinfar and I feel that starting the meter mark position at zero makes more sense.

Please adjust the ranges for positions to be:
- m1 sphere position range: from 0 meters to its variable maximum (max limited by m2's position)
- m2 sphere position range: from its variable minimum (min limited b

[2018-11-15 09:43] terracoda commented on #118
@mbarlow12, please see issue #119 before trying to fix this issue. #119 might resolve this issue.

[2018-11-16 14:40] terracoda commented on #118
Awesome @mbarlow12, I'll close this issue and you can report about the new range in #119.

[2018-11-16 14:40] #118 closed

[2018-11-20 11:45] terracoda opened #120 "Don't always hear correct direction alert"
@zepumph, I don't know if yo have noticed this, but sometimes I hear left or right when I press up or down.

At first, I just though it might be a delay thing, but it is not. I very carefully press and I can get the incorrect direction.

I think it happens most often for vertical movement. For example, I just pressed down and I heard "right". And since the model thought I went right, I did not hea

[2018-11-20 15:03] terracoda commented on #120
Ooops wrong repo!

[2018-11-20 15:03] #120 closed

[2018-11-22 08:49] terracoda commented on #109
In design meeting Nov 20, @mbarlow12 and I discussed getting started with the Mass changing alerts as they are the least likely to be affected by needed changes to the qualitative scales I drafted.

[2018-11-27 13:59] terracoda commented on #119
Thanks @mbarlow12. The start position is now zero!

[2018-11-27 13:59] #119 closed

[2018-12-07 12:08] terracoda opened #121 "Change default step size of position distance to 0.5 meters"
As discussed on Monday, the default step size of 0.2 meters is too small for keyboard users to make productive changes.

Please change default step size to  0.5 meters.

If not too difficult, please provide a query parameter that allows me to change the step size (e.g. to 0.4, 0.6, or 0.8).

[2018-12-07 12:09] terracoda commented on #121
Oops, wrong button. I didn't mean to close the issue.

[2018-12-10 10:31] terracoda opened #122 "Change help text for checkboxes"
@mbarlow12, I updated the help text for the checkboxes in the design document based on some feedback.

**For reference, this is the current help text in the A11y View**
<img width="408" alt="checkboxes-a11y-view" src="https://user-images.githubusercontent.com/1902116/49726580-a3d44600-fc6e-11e8-9eff-6dc29591e003.png">

**Please change the help text of each checkbox to:**
- For Constant Size, check

[2018-12-10 15:01] terracoda opened #123 "Make help text for Mass sliders dynamic"
To help with the concept of density, please change the help text paragraph for the Mass sliders controls when the Constant Size checkbox is checked.

- When Constant Size checkbox is not checked:
  - Change mass of spheres in kilograms.
- When Constant Size checkbox is checked:
  - Change density of spheres in kilograms.

Please see [Mass Controls](https://docs.google.com/document/d/1-37qAgde2XrlX

[2018-12-10 16:14] terracoda opened #124 "Position slider information ready for implementation"
@mbarlow12, @emily-phet and I discussed changes to how we could provide position information.

Please see the design document for details. An example is provided here:

[https://docs.google.com/document/d/1-37qAgde2XrlXBQae2SgjartM35_EnzDD9pdtd3nXAM/edit#heading=h.ostp3ek0rn9e](https://docs.google.com/document/d/1-37qAgde2XrlXBQae2SgjartM35_EnzDD9pdtd3nXAM/edit#heading=h.ostp3ek0rn9e)

I'll be add

[2018-12-10 23:12] mbarlow12 commented on #123
@terracoda both GFL and GFL:B have this change in master. Please review and comment/close. Thanks!

[2018-12-10 23:13] mbarlow12 commented on #124
@terracoda the `aria-valuetext` has been implemented and should be functioning correctly in both GFL & GFLB. Let me know if we should tweak the region boundaries. The aria-live text will be forthcoming.

[2018-12-10 23:33] KatieWoe opened #125 "CT: resetAriaValueText must be implemented in subtypes"
[code]

[2018-12-10 23:38] mbarlow12 commented on #125
@KatieWoe I'm seeing all green on gravity-force-lab-basics & gravity-force-lab.

[2018-12-10 23:40] KatieWoe commented on #125
Sorry it was basics, and the failures were from 2:22 to 3:25.  If its already been fixed it can be closed.  And/or moved to the right repo.

[2018-12-11 09:03] terracoda commented on #124
@mbarlow12, this sounds great! It would be great to save this work for comparison with using "distance in meters".

@emily-phet and I discussed a new approach yesterday that still relies on aria-valuetext, but with different parameters. Using actual distance in meters.

Please see the updated focus examples and the updated 8-step interaction.

The  strings for vector alerts and force magnitude are

[2018-12-11 12:03] emily-phet commented on #103
As part of full description work, focus order will be finalized. Closing this issue, as it's part of other work (the only remaining question - I believe - being where to put the Ruler in the focus order).

[2018-12-11 12:03] #103 closed

[2018-12-11 12:05] terracoda commented on #124
@mbarlow12, oh, I missed that the object string containing mm1 or m2 is missing from the implementation. For example,

- closer to m2
- farther from m2
- closer to m2

We'll need that string in there, too.

[2018-12-12 19:08] mbarlow12 commented on #122
@terracoda The updates should be complete in the above commits. Assigning to you for review/closing.

[2018-12-12 21:05] terracoda commented on #122
@mbarlow12, changes sound great! Thanks!
I will close this issue!

[2018-12-12 21:05] #122 closed

[2018-12-12 22:14] terracoda opened #126 "Mass slider information ready for implementation"
@mbarlow12, I've reviewed the section on the Mass slider alerts in the design document. I added a little bit of clarifying text and crossed out some things that I think we should drop from our first iteration. I have marked the columns above the strings to show which ones I think should be `aria-valuetext` and which ones should be alerts with and `aria live` region.

I think you are in the middle

[2018-12-12 22:16] terracoda commented on #126
Referencing our main issue https://github.com/phetsims/gravity-force-lab/issues/109 in case that makes sense.

[2018-12-12 22:18] terracoda commented on #124
This is sounding good @mbarlow12. Please asign to me when you want me to review it :-)

[2018-12-13 17:53] terracoda opened #127 "Updates to Scene Summary are ready"
@mbarlow12, based on feedback from screen reader consultants and our in-house content experts we have made some changes to the text on the opening scene/screen summary, the state of the sim list and the initial interaction hint.

**Goals of changes were to:**
- shorten things
- break it up into more manageable chunks
- make the ruler less prominent
- AND ensure force vectors and force are describe

[2018-12-13 17:57] terracoda commented on #127
@mbarlow12, I highlighted the changed phrases to make them a little more obvious.

[2018-12-13 18:08] terracoda commented on #124
@mbarlow12, I think we can leave as-is, but it is possible that having the alert change on the step that actually reaches the last stop could be potentially useful in this case.

[2018-12-13 18:16] terracoda commented on #127
@mbarlow12, please note the small change from "pulling" to "pull". I think that was a typo on my part in the design document (sorry).

[2018-12-13 21:05] mbarlow12 commented on #124
New dev versions for GFL:
https://phet-dev.colorado.edu/html/gravity-force-lab/2.2.0-dev.10/phet/gravity-force-lab_en_phet.html?a11y
https://phet-dev.colorado.edu/html/gravity-force-lab/2.2.0-dev.10/phet/gravity-force-lab_a11y_view.html

Note: I somehow missed adding 'kilograms' to the interactive alerts for changing mass. Will be fixed in the next update.

[2018-12-13 21:06] mbarlow12 commented on #127
New dev versions for GFL (includes screen summary updates):
https://phet-dev.colorado.edu/html/gravity-force-lab/2.2.0-dev.10/phet/gravity-force-lab_en_phet.html?a11y
https://phet-dev.colorado.edu/html/gravity-force-lab/2.2.0-dev.10/phet/gravity-force-lab_a11y_view.html

Note: I somehow missed adding 'kilograms' to the interactive alerts for changing mass. Will be fixed in the next update.

[2018-12-13 21:52] mbarlow12 commented on #124
Mass alerts are a little messy in general—on my list to fix.

[2018-12-14 16:14] terracoda commented on #123
@mbarlow12, this is good in Gravity Force Lab. I made an issue in GFLB because I think it is reversed in that sim.

[2018-12-14 16:17] terracoda commented on #123
I think we can close this issue for GFL, regular.

[2018-12-14 16:17] #123 closed

[2018-12-14 16:36] terracoda opened #128 "Remove mass size in kilograms and described size from the Mass slider focus alert"
From https://github.com/phetsims/gravity-force-lab/issues/126#issuecomment-447378450

Please remove the following from the Mass Focus Alert
1. The actual size in kilograms repeats in the alert. Please remove it from the alert. It should only be provided by the slider (i.e., in the aria-valuetext).

2. Based on feedback from screen reader consultants, I've decided the described size of the spheres

[2018-12-14 16:49] terracoda opened #129 "Best place for comparable size description in Mass Slider interaction"
From https://github.com/phetsims/gravity-force-lab/issues/126#issuecomment-447378450

Where to provide the comparable size information?
- in an aria live alert or
- aria-valuetext?

Is it possible to move the described comparable size, i.e., {{comparative-mass-size-qualitative}} to aria-valuetext?

I think it makes sense to provide the mass value (in kilograms) and the state of the masses in aria-

[2018-12-14 16:51] terracoda commented on #129
@mbarlow12 I'll work on some examples in the design document, and point to them here.

[2018-12-14 17:27] terracoda opened #130 "Spheres do not move to true edge when being moved by changing Mass"
@mbarlow12 while exploring phrasing for how describe the movement of the spheres when you are changing the mass, I noticed that neither sphere can be pushed to the edge.

- m1 only goes to 0.1 meter mark when m2's mass is changing and pushing m1 further left, and
- m2 only goes to 9.5 meter mark when m1's mass is changing and pushing m2 further right

Specifically, when changing mass of m1, m2 wil

[2018-12-14 17:57] terracoda commented on #121
@mbarlow12, thanks for adding the query parameters.

It is safe to change the actual default step size to 0.5 meters for the position sliders. I ran this by Ariel and Kathy yesterday and they were fine with 0.5 meters as the default step size.

Please keep the query parameter for now in case we need to play with other values.

[2018-12-14 18:20] terracoda opened #131 "The times sign (HTML entity) is not correctly read by Voice Over"
@mbarlow12 in the scientific notation, `&times;` is read out literally by VoiceOver.
**Is it** being read out correctly as "times" in NVDA?

Edited: That was supposed to be a question.

[2018-12-15 07:42] terracoda commented on #131
Here's a screenshot of the problem.
I am wondering if we need a special character set for the browser to recognize the HTML entity?
<img width="844" alt="screen shot 2018-12-15 at 8 40 05 am" src="https://user-images.githubusercontent.com/1902116/50040513-309f4b00-0045-11e9-8035-1ddda75dcd36.png">

[2018-12-17 11:37] terracoda opened #132 "Mass slider list may benefit from aria-labelledby"
The Mass Controls are wrapped in a list structure to group them.

@mbarlow12, could you add an `aria-labelledby` on the `ul`. An explicit label for a group is not always necessary, but it in this case, the group may benefit from the name "Mass Controls".

[code]

[2018-12-17 18:00] mbarlow12 commented on #131
In our alert implementation, we're setting `textContent` of the `aria-live` elements which strips any html in the content. If we want html entities in the alerts, we'll need to set `innerHTML` instead.

@jessegreenberg I'll make an issue to discuss if we want to go this route or whether for cases such as this, we should simply spell out "times" (which is quite simple).

[2018-12-17 18:23] jessegreenberg commented on #131
I like the idea of using innerHTML for this, would there be any consequences in using AccessibilityUtil.setTextContent in AriaHerald?

[2018-12-17 21:55] mbarlow12 commented on #130
The former is a result of how we're constraining the sphere positions to allow either sphere to move when radii are changing; I've added a small check that should allow the extra 0.1 on either end.

For the movement when pushed, we always constrain positions to the nearest 0.1 point (regardless of the specific unit). Since we're rounding the position values, there is some space (0 - 0.049999...) w

[2018-12-18 09:21] terracoda commented on #130
@mbarlow12, thanks for the explanation, but I am still a little confused about what should be the proper behaviour, especially in the non-visual experience where the user is getting the position value (meter mark) on focus.

In the equation for calculating the force of gravity, it is the value for distance that matters, right? If I am understanding things properly, it is the distance that should n

[2018-12-18 10:11] terracoda commented on #131
@mbarlow12, great for trying to resolve this.

I agree, it is more likely that the difference is caused by the aria-live region, rather than whether the content is in a `<p>` versus a `<li>`. Both paragraphs and list items are meant for content and there should not be any difference between them.

I think it is best to use the word, "times", at least in the alert until we have time to investigate

[2018-12-18 10:17] terracoda commented on #131
@mbarlow12, just adding some references, in case we need them to investigate further:
- https://dev.w3.org/html5/html-author/charref
- other values for times: `&times;`, ` &#x000D7;`, and ` &#215;`

[2018-12-18 10:36] terracoda commented on #131
@mbarlow12, we are using a `<meta charset="utf-8">`. Did you try the other entities, `&#x000D7;`, or `&#215;` in case it matters?

It likely won't matter since the entity is correctly rendered in the PDOM, just not in the alert.

[2018-12-18 10:47] terracoda commented on #131
@mbarlow12, I also sent a question to the W3C WAI Interest Group list (w3c-wai-ig@w3.org)

[2018-12-18 11:14] terracoda commented on #127
@mbarlow12, the scene/screen summary sounds great. In the a11y view, I noticed a missing period and a missing phrase. I'm not sure it is possible to add the missing phrase to the end of the first paragraph. It is possible that that phrase should be part of common code. Unfortunately, I do not know when I added that phrase.

If you can't put the missing phrase in the the first paragraph, please jus

[2018-12-18 11:17] terracoda commented on #127
@mbarlow12, I think the missing phrase is actually part of common code.

[2018-12-19 08:28] terracoda opened #133 "Should Mass values round to an even 50 kg or 100 kg with default steps?"
@arouinfar, I have been playing a lot with GFL and I am wondering if it makes sense pedagogically to round the Mass values with using a keyboard to the nearest 50 kg or 100 kg?

For example, when I decrease a Mass to 1 kg and the start increasing again, the value goes up by 50 kg, so I get 1 kg, then 51 kg, **then 101 kg, 151 kg**, etc ...

Questions:
1. Should that first increase step from 1 kg t

[2018-12-20 11:01] terracoda opened #134 "What are helpful Keyboard Shortcuts for the Ruler Interaction?"
@arouinfar  and @emily-phet, on Tuesday Dec 17 @mbarlow12 and I discussed possible shortcuts that could be useful for moving the ruler in GFL.

These are the 3 that I came up with that would work the same as the Jump keys in BASE. The J key is semi-modal key (like a Shift key) and then a second letter is added to jump to the intended place:
- [J] + [S]: where S represents sphere. A shortcut combin

[2018-12-20 11:48] terracoda commented on #131
@mbarlow12, I think we decided at our design meeting on Dec 17, 2018 that we will use words for scientific notation, at least for sure for the alerts, and I'll move this issue to the a11y-research repo.

[2018-12-20 12:15] terracoda commented on #131
@mbarlow12, I assume the text-based strings for scientific notation in the design document are sufficient to implement this change. Let me know if you need anything else.

Once implemented, we can close this issue.
I have created a new issue in https://github.com/phetsims/a11y-research/issues/128 .

[2018-12-20 12:49] terracoda commented on #127
@mbarlow12, all the content changes looks good. We just need 2 small changes:
1. a period, at the end of the sentence "Spheres can be moved closer or further from one another.", and
2. change "labelled" to "labeled", unless there is a PhET practice to use British spelling?

Then we can close this issue.

[2018-12-20 12:53] terracoda commented on #130
Thanks @mbarlow12, nice work!
I verified this issue that the spheres can now be pushed to the edges.
Closing the issue.

[2018-12-20 12:53] #130 closed

[2018-12-20 13:56] terracoda commented on #129
@mbarlow12, I updated the Mass Focus alert table in the design document. It now includes the description of the Force vector arrows.

Please comment your plans on how you will implement the mass information for the Mass focus alert.

It is not a huge priority to move mass information to `aria-valuetext` if the alert sounds good without moving it. But if the change is straight forward, please go ah

[2018-12-20 14:24] terracoda opened #135 "Edge case alerts for when position changes when changing a mass"
@mbarlow12, we discussed the edge case alerts on Tuesday Dec 17. You mentioned they were working at some point. I am just opening this issue so we can track their implementation and any necessary changes if needed.

**Here's edge case 1:**
- When increasing the mass of m1 with the Mass 1 slider, the increase pushes m2 a little to the right:
  - Changed mass value: {{200}} kilograms.
  - Alert: As

[2018-12-20 17:35] arouinfar commented on #134
Love this idea! We will need to change the bounds of the ruler so that it's possible to place the 0 mark on m1 when it's on the far right side of the play area. Currently, this is the limit:

<img width="696" alt="screen shot 2018-12-20 at 10 29 25 am" src="https://user-images.githubusercontent.com/8419308/50300693-6cba1d80-0442-11e9-8989-2889da0e99be.png">

Great idea! I'd be in favor of this cha

[2018-12-20 21:35] emily-phet commented on #134
@terracoda I agree with @arouinfar re J+V (let's not) and J+H (let's do this one). For the J+S, do the descriptions in GFL and GFLB refer to them as a sphere, or mass? We should use whichever one is the word we use most to indicate the sphere/mass thing.

[2018-12-21 13:01] terracoda opened #136 "Constant size checkbox - not changing and unchanging radius"
@mbarlow12, I just noticed some funny business with the Constant Size checkbox. I am marking it as a bug. I am not sure it is a11y-related.

When checked, color changes, but the radius doesn't until I do something else.
<img width="536" alt="screen shot 2018-12-21 at 1 52 02 pm" src="https://user-images.githubusercontent.com/1902116/50343638-f7c11380-0527-11e9-9a22-febd1d1ca4cf.png">

For example,

[2018-12-21 13:40] terracoda opened #137 "Comparative density descriptions for Mass"
@mbarlow12, I have a draft for describing density when the constant size checkbox is check and a user puts their focus on a mass slider.

We will likely have to do some manual tweaking, but if you could evenly split the 7 categories for now for the range in the model, we'll see how it works.

Here's the current scale:
- much less dense than
- a lot less dense than
- a little less dense than
- as d

[2018-12-21 13:41] terracoda commented on #137
@mbarlow12, if you have any questions, please assign back to me.

[2018-12-21 13:45] terracoda commented on #137
@mbarlow12, I removed the word "alert" in the title as I am not sure where this information will be going from a technical perspective. The main thing is it is text that will read out on focus of the mass slider when the Constant Size checkbox is checked.

[2018-12-21 17:45] mbarlow12 commented on #136
This was a side effect from ISLC common changes to address Coulomb's Law RC issues. Handled in the above commit and working on master.

[2018-12-22 09:10] terracoda commented on #134
Great, thanks for the enthusiastic feedback. @mbarlow12 and I are in agreement that the vectors are not something that should be measured quantitatively with the ruler.

@emily-phet, regarding wording, we do use the word, "Sphere" in the scene summary, when describing the objects ("m1, Blue Sphere", "m2, Red Sphere"), and when describing position ("Sphere Position" heading). Direct references to t

[2019-01-08 11:04] terracoda opened #138 "Create 2 jumping Keyboard Shortcuts for the grabbed ruler"
In issue https://github.com/phetsims/gravity-force-lab/issues/134 we decided that the following 2 "jumping" keyboard shortcuts for the ruler interaction would be helpful:

  - [J] + [C]: where C represents a centers of spheres. A shortcut combination to measure distance between the centers of the mass spheres. Pressing J+C when the ruler is grabbed would place the zero mark of ruler at the center

[2019-01-08 11:05] terracoda commented on #138
@zepumph, this is a new issue so assigning to you, but no rush as you transfer over to this sim.

[2019-01-08 11:06] terracoda commented on #134
I'll close this issue as I created a new one for implementation.

[2019-01-08 11:06] #134 closed

[2019-01-08 11:45] terracoda opened #139 "Update Visual Keyboard Shorcuts dialog"
@arouinfar, based on decisions to create a Grab interaction for the Ruler and 2 jumping keyboard shortcuts in https://github.com/phetsims/gravity-force-lab/issues/134, we will need some visual additions to the Keyboard Shortcuts dialog for Gravity Force Lab.

**Question:**
@arouinfar, based on the current visual design and the red-highlighted additions in the A11y Content in the design document, d

[2019-01-08 19:16] arouinfar commented on #139
@terracoda here's a mockup of the updated dialog contents. (I used the official GFL screenshot as a stand-in.)
![image](https://user-images.githubusercontent.com/8419308/50853300-105e6580-133f-11e9-9268-c819c781cfa1.png)

For the Change Mass section, I thought "mass" pretty repetitive. I mocked up this alternative, where the later commands mirror typical slider shortcuts. I think the commands are

[2019-01-09 13:18] terracoda commented on #139
@arouinfar, it looks good except I forgot the WASD keys for the "move grabbed ruler in smaller steps" section, do you think you could squeeze a set of WASD keys them in below the Arrow Keys? It should be like this maybe:

- Move is smaller steps [Shift]+ [Up Arrow][Left Arrow][Down Arrow][Right Arrow] or
                                       [Shift]+ [W][A][S][D]

Or, however, we did it for BASE'

[2019-01-09 13:20] terracoda commented on #139
@arouinfar, and I agree the second dialog seems to be less repetitive. I think we could go with that.

[2019-01-09 21:37] arouinfar commented on #139
Here you go @terracoda :)

![image](https://user-images.githubusercontent.com/8419308/50930002-0c544580-141c-11e9-8023-57004478d208.png)

[2019-01-09 23:53] terracoda commented on #139
Thanks @arouinfar for doing this so quickly. I'll update the accessible content in the design document to match, and assign for implementation!

[2019-01-10 09:58] terracoda commented on #139
@zepumph, the Visual Keyboard dialog and the A11y content for the dialog have been updated in the Design Document.

Please see [Keyboard Shortcuts Dialog](https://docs.google.com/document/d/1-37qAgde2XrlXBQae2SgjartM35_EnzDD9pdtd3nXAM/edit#heading=h.nnkdju7p2tyn) in design document.

Please implement as you can, likely after you implement the grab and move ruler interaction.

[2019-01-10 10:10] terracoda commented on #136
@mbarlow12, looks good. I am closing this issue.

[2019-01-10 10:10] #136 closed

[2019-01-10 10:13] terracoda commented on #104
This issue is related to issue #138
When the new Keyboard Shortcuts are implemented the constraints on the ruler's movement will need updating.

[2019-01-10 10:15] terracoda commented on #104
@zepumph, we can discuss this issue when it comes time to work on #138.

[2019-01-10 16:34] zepumph commented on #139
@mbarlow12 this seems modular, and I may get to this before our meeting Tuesday unless there are concerns from you.

[2019-01-11 10:16] terracoda commented on #139
@zepumph, no serious concerns if you get to it before implementing the grab button.

The grab button for the ruler might be straight forward now that you have created a common type for that. In the scheme of things, it's just another thing done, which seems good to me.

[2019-01-11 19:02] mbarlow12 commented on #109
Latest dev release at:
https://phet-dev.colorado.edu/html/gravity-force-lab/2.2.0-dev.11/phet/gravity-force-lab_en_phet.html
and
https://phet-dev.colorado.edu/html/gravity-force-lab/2.2.0-dev.11/phet/gravity-force-lab_a11y_view.html

I believe the `aria-valuetext` content is correct for the mass and position sliders for most if not all edge cases. Alerts for the position sliders also appear to be

[2019-01-11 20:08] terracoda commented on #109
@mbarlow12, thanks for all your hard work and these new links!

[2019-01-14 15:33] terracoda commented on #137
@zepumph, I am assigning this issue back to me because I need to iterate on these density descriptions.

[2019-01-15 22:39] zepumph commented on #90
This seems to have been accomplished. @mbarlow12 could you please close or reframe what work needs to be done in this issue?

[2019-01-15 22:40] zepumph commented on #138
For now I'm going to try to keep only high priority issues assigned to me to keep a better todo list; as such unassigning for now.

[2019-01-15 23:57] zepumph opened #140 "Add grab interaction to the ruler"
Related to https://github.com/phetsims/gravity-force-lab/issues/138, I think we should add grab/drag interaction before adding shortcuts.

[2019-01-16 00:07] zepumph commented on #140
This was a very simple change to implement, and I got it working with only one small bug. There is a bug that this introduced. It seems like when I added the grab/drag interaction, the modelViewTransform was off a bit. On first drag, it would jump to a point a bit down and to the left, like that was its origin, then on reset the ruler goes back there, now where it starts at.

After investigating f

[2019-01-16 01:04] zepumph commented on #140
I tracked down the bug. The RulerNode was being set in the view via its `center`, but when adding the grab/drag interaction there are a few nodes added to the focusHighlight passed in. Normally this wouldn't matter, but since this was using `focusHighlightLayerable`, the focusHighlight was a Node that was actually added as a child to the `RulerNode`. Thus the `center` and `bounds` changed because

[2019-01-16 01:06] zepumph commented on #138
On hold until https://github.com/phetsims/gravity-force-lab/issues/140 is sorted out.

[2019-01-16 05:44] zepumph commented on #121
From meeting with @terracoda tonight:

0.5 meters in GFL
0.5 km in GFL:B

[2019-01-16 05:44] zepumph commented on #139
Unassigning as GFLB is the priority.

[2019-01-16 05:57] zepumph commented on #128
Discussed with @terracoda tonight (this morning) and we think this may be already fixed. Assigning to @terracoda to verify.

[2019-01-16 06:44] terracoda commented on #128
@zepumph, I verified that the described mass size information (i.e., {{mass-size-qualitative}} has been removed from the alert.

Also, to note, the implementation of the Mass sliders is now using aria-valuetext (like the position sliders) to provide the mass description information (mass of sphere in kilograms and a qualitative comparative size description). This is correct.

Thanks @mbarlow12 for

[2019-01-16 06:44] #128 closed

[2019-01-16 07:12] terracoda commented on #132
@zepumph, this might be another easy a11y issue to implement across both sims, Regular and Basics.

Actually, I just noticed that the in REGULAR the parent `ul` surrounding the Mass 1 and Mass 2 sliders has been changed to a `div`, but the elements inside the div are still `li` elements. In the BASICS sim the entire structure is correct list code (`ul` with 2 `li`'s).

Can you make these 2 structu

[2019-01-16 07:36] terracoda commented on #140
@zepumph, I verified the keyboard interactions for grabbing and moving the ruler. This seems to be working nicely.

There are additional details (specific help text and alerts) in the design doc that will support the ruler interaction.

I will close this issue and open a new one about help text and alerts, and point you to the correct place in the design doc.

However, further work ruler interacti

[2019-01-16 07:59] terracoda opened #141 "Helptext and grab/release alerts for Measure Distance button"
Re-writing this issue rather than posting a new one as there are several cross linked issues.

The "Grab Ruler" button has been renamed to be a "Measure Distance" button

Related to #138 and #140, so @terracoda will make sure those issues are up-to-date-/and still relevant.

With the name change, non-visual users should understand what the button is for, and since they already have access to the d

[2019-01-16 16:53] zepumph commented on #140
Sounds good @terracoda. I think it is still important for @jessegreenberg to have a look at the implementation, and some of their oddities, re-opening.

[2019-01-17 00:36] zepumph commented on #141
Unassigning until Ruler becomes a higher priority.

[2019-01-17 10:41] terracoda commented on #129
@mbarlow12 has implemented the comparable mass size descriptions as part of `aria-valuetext`.
The information provided on focus about the masses sounds very good. Mass and the comparable size are provided as the mass value changes and alerts describe the change in force.

I am going to close this issue as I think things are working well and as I requested! I'll open new issues for iterative change

[2019-01-17 10:41] #129 closed

[2019-01-17 12:01] terracoda commented on #127
@zepumph, the period has been added.
Just need to to change "labelled" to "labeled" and we can close this issue.

@zepumph, this might be another easy one you can do that would benefit both sims, Regular and Basics.

Assigning to @zepumph.

[2019-01-17 18:12] mbarlow12 commented on #90
@zepumph it looks like this is done as `GravityForceLabScreenView` uses `ISLCRulerNode` (ln 155).  Closing.

[2019-01-17 18:12] #90 closed

[2019-01-21 13:49] terracoda commented on #133
Just making a note that this is common issue with Gravity Force Lab Basics.

[2019-01-21 13:53] terracoda commented on #133
Actually, I lied this is only an issue for Gravity Force Lab REGULAR. There is no slider with tweakers in BASICS.

[2019-01-22 10:33] terracoda commented on #135
@zepumph, I am adding screenshots of the sim with these alerts:

**Edge case 1**
<img width="617" alt="m2-mass-increase--m1-moves-left" src="https://user-images.githubusercontent.com/1902116/51529410-eaee5300-1e38-11e9-8af1-e109e8017fb9.png">

**Edge case 2**
<img width="617" alt="m1-mass-increase-m1-moves-left" src="https://user-images.githubusercontent.com/1902116/51529196-8e8b3380-1e38-11e9-8f1

[2019-01-22 11:15] terracoda commented on #135
@zepumph, please review this issue before closing. The alerts are implemented correctly in REGULAR, though as I said they may need some tweaking.

However, in BASICS, the alerts are **NOT ALWAYS** correct. Perhaps @mbarlow12 was not able to complete the work in that sim yet.

I am going to open a related issue in the BASICS repo, so we can track BASICS's issues there.

[2019-01-22 11:55] terracoda commented on #133
@terracoda and @zepumph to discuss this issue when work on GFL BASICS is on track. Un-assigning for now.

[2019-01-22 11:57] terracoda commented on #133
Marking onhold until BASICS is in good shape. This issue is not directly relevant to BASICS.

[2019-01-22 11:59] terracoda commented on #139
Adding onhold label for same reason as above. We will return to this when work on GFLB resumes.

[2019-01-22 12:05] terracoda commented on #131
I just verified with VoiceOver that the multiplication sign has not been changed to the word, "times".

I'll mark this issue on hold until we resume work on this sim. There is no scientific notation in GFL:BASICS and that sim is our priority at the moment.

[2019-01-22 12:14] terracoda commented on #124
Re-assigned to myself to review.

[2019-01-22 12:17] terracoda commented on #110
@zepumph, marking onhold. We can fix this bug once we focus is back on this sim.

[2019-01-22 12:21] terracoda commented on #127
@zepumph, this should be an easy fix and we want "labeled" to be spelled the same across both sims, REGULAR and BASICS.

I am assuming it would be a good idea to address this issue before doing the wording simplifications for BASICS described in https://github.com/phetsims/gravity-force-lab-basics/issues/86

[2019-01-22 12:51] terracoda opened #142 "Mass controls showing same value in PDOM when mass values are different"
@zepumph, I am not sure when this bug popped up. I just noticed it, and I verified that the bug does yet appear in BASICS.

Both mass controls are showing the same value in the PDOM, even when they are are visually different.

Could you investigate. I wouldn't want this bug to show up in BASICS.

<img width="908" alt="screen shot 2019-01-22 at 1 46 26 pm" src="https://user-images.githubusercontent

[2019-01-22 13:51] terracoda opened #143 "Add a Mass control focus alert that describes size of Force vectors"
Now that aria-valuetext is implemented for the Mass slider values (same as the position slider), please add the same force focus alert that is present on the position sliders.

This alert gives a brief qualitative description of the size of the force vector arrows giving an idea of the size of the force before it starts changing.

This would be common across both GFL REGULAR and BASICS, but the wo

[2019-01-23 02:24] zepumph opened #144 "KeyboardHelpDialog extends into nav bar"
from https://github.com/phetsims/friction/issues/158

![image](https://user-images.githubusercontent.com/6856943/51578604-88ae4600-1e6a-11e9-94c3-94935465da17.png)

This happens in GFL:B too

[2019-01-24 23:58] zepumph commented on #132
@terracoda aria-lablledby was added and `div` was converted to `ul` in REGULAR. Please review.

[2019-01-25 00:10] zepumph commented on #127
usages of 'labelled' have been converted above. Please review @terracoda, anything else here?

[2019-01-25 01:31] zepumph opened #145 "Issues with aria-valuetext"
There has been a lot of progress I can see with the aria-valuetext implementation, but there are a few inefficiencies and bugs I saw while working on #142

* resetAriaValueText is only called in the constructor. It should be called on reset
* in that method for some reason, `this.ariaValueText` is undefined in my chrome tools. Perhaps it's just a bug in chrome.
* For the most part I would hope tha

[2019-01-25 15:18] terracoda commented on #121
@zepumph, the default step size using the keyboard is working fine in GFL REGULAR, but there are some serious bugs in GFL BASICS.
- I can't move either sphere with the keyboard using the arrow keys

In addition (I think this might be unrelated) when I press an arrow key to move a sphere closer and the sphere does not move, I get  an incorrect alert that the spheres are extremely close, but they ar

[2019-01-25 19:59] zepumph commented on #121
I'm sorry about that! I thought we could use the same value but we couldn't. It should be fixed now. Please verify it is working as you would expect, and that there is nothing left to do for this issue.

[2019-01-25 20:08] zepumph commented on #135
Alright I''ll see you over in https://github.com/phetsims/gravity-force-lab-basics/issues/90 and https://github.com/phetsims/gravity-force-lab-basics/issues/91. Closing

[2019-01-25 20:08] #135 closed

[2019-01-25 21:36] zepumph commented on #143
The wording will be covered in https://github.com/phetsims/gravity-force-lab-basics/issues/86, but the alerts should be working as expected in master now. Over to @terracoda to review.

[2019-01-26 08:33] terracoda commented on #121
@zepumph, perfect! You fixed it. Closing issue.

You are right, the scales are a bit different in the 2 sims. I think this because mass in BASICS only has 10 values (1-10 billion kilograms) whereas in REGULAR mass has up to 1000 values (1-1000 kg). I haven't sorted out the differences in my head yet.

[2019-01-26 08:33] #121 closed

[2019-01-26 08:43] terracoda commented on #132
Thanks @zepumph, this looks and sounds good. We'll see from interviews if users prefer the "Mass Controls" with a label or without.

Closing issue.

[2019-01-26 08:43] #132 closed

[2019-01-27 07:54] terracoda commented on #127
@zepumph! Verified. Looks good! Closing.

[2019-01-27 07:54] #127 closed

[2019-01-27 07:56] terracoda commented on #142
Values appearing correctly in PDOM! Thanks @zepumph. Closing

[2019-01-27 07:56] #142 closed

[2019-01-27 08:07] terracoda commented on #143
Hearing and seeing the force vector alerts on mass controls now. Thanks @zepumph! Closing.

[2019-01-27 08:07] #143 closed

[2019-01-29 12:10] terracoda opened #146 "Provide comparative size of masses on focus only - not while changing mass"
Related to the implementation of `aria-valuetext` for the mass information (https://github.com/phetsims/gravity-force-lab/issues/129), I am wondering if it is possible to just provide the qualitative comparable mass size description upon focus, and not during changes to the mass sliders.

@zepumph, I am asking as I am not sure how dynamic we can make the arai-valuetext. I was not very explicit in

[2019-01-29 15:15] terracoda commented on #124
@zepumph, I have done a very careful review of all position/distance `aria-valuetext` (and alerts).

Much of the implementation is working, but of course I found some issues and have some questions.

I have updated the tables in the design document (green cells mark things working well and red cells and red text identify issues that I found & iterations that I would like to see if possible).

I am

[2019-01-30 06:15] zepumph commented on #124
2 potential improvements:

1. On focus, when "closest to" we don't have a "meter mark" alert like we do for (a) normal focus, and (b) focus alerts at the edge.
2. when moving a slider to the edge, we don't have an "at left edge" alert , we should.

See design doc table for best details before implementing.

[2019-02-01 11:11] terracoda commented on #124
@zepumph, I would say "meter mark" _string_ and "at left edge" _string_ rather than _alert_. Just a reminder, these strings are found in `aria-valuetext`. I think you know this, but just being clear as you are relatively new to the repo.

[2019-02-05 12:59] terracoda commented on #124
@zepumph, I just had a listen. It is sounding great!

I just added a new note in the design doc (assigned to you).

As I said, the dynamic `aria-valuetext` is sounding great! I am wondering if you might be able to add the mass sphere name "to m1" or "to m2" in this case where the user tries to go beyond the last available position?

In the opposite case, when the focused farthest sphere is "Farthe

[2019-02-05 19:25] pixelzoom opened #147 "dead code in MassControl"
Dead code in MassControl.  Please delete it or document why it's commented out with a TODO and issue number.

[code]

[2019-02-06 00:46] zepumph commented on #124
I implemented this so that all three strings use the same code to fill the position mark in. When implementing this, note that I didn't add this to the "Farthest" string because that is added when moving the masses, not on focus.

I gave that a go too, what do you think?

Please review.

[2019-02-06 02:07] zepumph commented on #146
I implemented this by having the slider update text to be the sparse version. Then changing the aria value text initially (on startup) to be the verbose one, and then setting the value text manually to the verbose version whenever the massControl is blurred (so that we get that when we come back to it). This isn't the most robust way of handling this, but I couldn't think of another way.

[2019-02-06 02:07] zepumph commented on #146
@terracoda please review.

[2019-02-06 06:06] zepumph commented on #124
From meeting today:

* Instead of having this be an alert, we want it to replace the "farthest from" part of the the aria valuetext, so in REGULAR it would look like: `At left edge, {{4 meters}} away`.
* In BASICS if distance checkbox isn't checked, then omit the second piece in exchange for qualitative alerts in the.
* In BASICS there is but where "closest to" is actually "farthest from"
* BASICS

[2019-02-06 06:50] terracoda commented on #147
@pixelzoom, we are actively working on changes to GFL Regular and GFL Basics which both use MassControl.

Our top priority is to have description in GFL Basics ready for interviews as soon as possible (hopefully by Feb 18).

I do not think we are ready for a code review yet. Hopefully, the comment is not in your way, and this issue is not too pressing.

[2019-02-06 08:58] terracoda commented on #146
@zepumph, this sounds good. There is one problem, however. The starting (focus) described size on the second mass sphere can be wrong after a change to the first and then a focus switch.

I think this will be tricky because the actual mass value in the `aria-valuetext` of the second mass sphere hasn't actually changed, only it's size in comparison to the other sphere has changed.

@zepumph, do you

[2019-02-06 15:57] pixelzoom commented on #147
@terracoda I understand, this was not a formal code review.  I was making changes in other common code, and the only way to change related things in Javascript is via string search.  And looking at this, I had no idea what the reason was for commenting out code, and I apparently did spend unnecessary time on it.  Which is why it's standard practice to document why code is commented out.  I believe

[2019-02-06 18:15] zepumph opened #148 "Convert usages of { var } object literals to { var: var }"
@samreid mentioned to me that this es6 feature didn't make it through his code review. I should convert usages.

[2019-02-09 15:02] pixelzoom commented on #147
Looks like the dead code was removed by @zepumph in https://github.com/phetsims/gravity-force-lab/commit/5193dcc0401425819902f6b86d148cc12602828f.   There's no issue number referenced in that commit.  Is there a GitHub issue for the work mentioned by @terracoda in https://github.com/phetsims/gravity-force-lab/issues/147#issuecomment-460918838?

[2019-02-11 17:10] zepumph commented on #147
I'm not sure I understand,  https://github.com/phetsims/gravity-force-lab/commit/5193dcc0401425819902f6b86d148cc12602828f points over to https://github.com/phetsims/gravity-force-lab/issues/146

I agree with @pixelzoom's analysis of the code. There is a fair bit of commented out code in these repos. Now that I am working through files, I am removing code that like as I get to it. I was working on

[2019-02-11 17:38] pixelzoom commented on #147
Mea cupla, https://github.com/phetsims/gravity-force-lab/commit/5193dcc0401425819902f6b86d148cc12602828f has a long commit message and WebStorm was truncating the issue number.

Thanks for the clarification on when dead code will be deleted. That all songs great.

Closing this issue since this code in question is gone.

[2019-02-11 17:38] #147 closed

[2019-02-12 20:09] zepumph commented on #124
The above commit (hopefully) handles:

[2019-02-12 20:34] zepumph commented on #124
The above commit was a bug found in BASICS where the relative distance strings were buggy because the distance was being converted from kilometers to meters when it was already in meters.

[2019-02-12 20:47] terracoda commented on #124
@zepumph,I finally finished updating the tables in the design docs for both GFL Regular and Basics.

I haven't reviewed your last commit, but I will now.

GFL Basic's design doc has a good summary of the position/distance interaction from focus to hitting and edge. I think I simplified things.

Here's a link to the relevant section in REGULAR's design doc, [Complex Interaction Alerts - Position/di

[2019-02-12 21:14] terracoda commented on #124
@zepumph, GFL Regular sounds really good, even without the new landmark, "last stop" for the "touching" scenarios.

[2019-02-12 21:21] terracoda commented on #124
@zepumph, as I said on slack "I changed the strings a little to simplify the logic to manage the different strings, but it looks like you have implemented the the "At left edge" and "away" strings just fine. No need to change your nice work. We can discuss at our meeting."

[2019-02-12 22:57] zepumph commented on #124
The above commits should update the sim according to this line in the REGULAR design doc table:
![image](https://user-images.githubusercontent.com/6856943/52669900-cb8c9800-2ec3-11e9-9a15-448f67c14092.png)

[2019-02-12 23:01] zepumph commented on #124
From here I feel like I need to focus on BASICS for interview. Though much of this may apply over there. I'm going to look at phetsims/gravity-force-lab-basics#88 for now.

[2019-02-13 06:17] zepumph commented on #146
@terracoda and I discussed perhaps looking into constantly updating the value text from the model instead of on blur. Nice edge case you found @terracoda! Sorry I didn't handle it.

[2019-02-13 08:45] terracoda commented on #146
@zepumph, you are doing awesome work. I think your are right that handling the aria-valuetext from the model will be good approach.

[2019-02-13 12:06] terracoda commented on #124
@zepumph, you have done a great job implementing the `aria-valuetext` and ARIA live alerts for position and distance. I tested everything and there just a few small issues. The issues are highlighted in red in right-hand column of the tables in the design doc, but I will list them here for you. I don't think would significantly impact being ready for interviews next week unless the mistake was cop

[2019-02-13 12:08] terracoda commented on #124
@zepumph, you only need to address the above checklist if they have a direct impact on GFL Basics.

[2019-02-13 12:56] terracoda opened #149 "Use "Force vectors" in place of "Vectors" in all alerts"
In  #124 I mentioned this item was still todo. It is also highlighted in red in the design document.
This content update does not affect GFL Basics, so it is not a high priority. Just get to it when there is nothing more pressing.

When the Force Values checkbox is not checked "Vectors" back to "Force vectors" in the changing force alerts. Note "Force vectors" is already used in the force focus al

[2019-02-13 13:00] terracoda opened #150 "Convert times symbol to the word "times" until we have a better solution"
As mentioned in #124 this little still-todo will need to be done eventually.
It does not affect GFL Basics, so just get to it when there is nothing more pressing to do.

When scientific notation is checked, the times symbols is read out as "multiplication" by VoiceOver. To make it more clear, and until we have a robust solution for reading math, please convert times symbol to the word “times”.

[2019-02-13 14:23] terracoda commented on #124
@zepumph, In Step 8, I swear I was hearing the correct alert (below) but minus the word "now" when I tested this morning.
- Vectors {{medium size}}{{, forces now {{0.463461}} micronewtons}}.

I am now hearing the regular changing force alert on the last stop, which does indeed contain "now", but on the last step (edge or last stop) I would like alert above. This special case alert appears in Step

[2019-02-13 14:45] terracoda commented on #124
@zepumph, I see, I am hearing two different alerts. The issue is is that **Step 8 has the correct alert with "now" missing**, and **Step 17 has the wrong alert**.

I would like the special "state information" alert in Step 17 as well. I would like this special case alert at all last steps, the ones that reach an edge and the ones that reach the opposite sphere. Apologies if that was not clear.

[2019-02-14 09:24] terracoda commented on #124
@zepumph I added the Step 17 issue into the check list, and I I added that the first 3 items are also in the **BASICS** sim.

Ideally, if you could address the first three items, that would be great. The first 2 items are the most important if you are short on time.

[2019-02-14 10:16] terracoda commented on #124
@zepumph, I have verified both sims, just tagging BASICS' related issue https://github.com/phetsims/gravity-force-lab-basics/issues/88

[2019-02-15 21:32] samreid opened #151 "Spelling error in comparitiveValue"
Discovered during https://github.com/phetsims/chipper/issues/739

`comparitive` should be spelled `comparative`

[2019-02-18 13:05] terracoda commented on #151
I'm tagging @zepumph, in case he would like to reassign this to himself.

[2019-02-19 03:28] zepumph commented on #146
this should be fixed in REGULAR now. @terracoda can you point me in the right direction for BASICS? I'm not sure what exactly I'm supposed to be doing there for this issue. I don't think anything in this issue so far effects BASICS.

[2019-02-19 03:31] zepumph commented on #124
@terracoda I think I got the first two bullets. Please review those, and I can work on them more tomorrow.

[2019-02-19 08:24] terracoda commented on #146
@zepumph, the comparable mass descriptions are remaining in synch now.

Apologies for lack of clarity for how this issue relates to the BASICS sim.

Literal size descriptions (tiny, very small, small, etc) were removed from BASICS because of the huge scales in BASICS. Something that has a mass of 1 billion kg can't really be described as tiny.

However, comparative sizes may still be useful, espec

[2019-02-19 08:39] #146 closed

[2019-02-19 11:31] terracoda commented on #124
The first two checkboxes are verified. Great work!
That's the critical stuff on position. I'll just go make sure it works in BASICS, too.

[2019-02-19 11:33] terracoda commented on #124
@zepumph, yes the first 2 checkboxes are verified in BASICS as well.

[2019-02-19 16:34] mbarlow12 commented on #151
Can't find any more instances of `comparitive`. Ready to close.

[2019-02-19 16:42] samreid commented on #151
Looks great, thanks!  Closing.

[2019-02-19 16:42] #151 closed

[2019-02-20 01:00] zepumph opened #152 "undocumented use of `utteranceQueue.clear();`"
There are only 5 uses of `utteranceQueue.clear();`. @mbarlow12 could you please document the reason why it was chosen to clear the queue before alerting the mass changes.

I'm also wondering if you could reference an issue here (if there is one), or discuss your thoughts on when that pattern should be used. I have not used utteranceQueue beyond simple/straightforward usage, and would like to know

[2019-02-20 17:54] mbarlow12 commented on #152
@zepumph this may be an error in my understanding for how the queue works. But I was trying to eliminate stacking up a long series of alerts if the user is rapidly pressing one of the arrow keys. I realize that once it's read by the screen reader, there's nothing we can do, but it was an attempt to have what the user hears be a little more in line with the current state of the sim.

As far as I kn

[2019-03-04 13:36] terracoda commented on #137
I have new comparative scales and ranges for both comparative size and comparative density. Here the table that was created for BASICS from https://github.com/phetsims/gravity-force-lab-basics/issues/96#issuecomment-469248664. Note the number actual ratios are from BASICS. The number of ratios for each range will be much larger in this sim.

We may need to tweak the ranges for REGULAR, but hopeful

[2019-03-04 13:39] terracoda commented on #137
@zepumph, in principle I think we can implement this scale for both sims for now and see how it works in both, and whether we need to adjust the ranges for both sims or just REGULAR.

Assigning to you, but of course, getting the scales into BASICS is the priority.

[2019-04-02 23:38] zepumph commented on #145
Lots of this has been accomplished with work done in https://github.com/phetsims/scenery/issues/951. The main two things I now see are:

* A few places that aren't using the new `a11yCreateOnFocusAriaValueText` and instead is just using a focus even listener.
* I'm confused by the function `resetAriaValueText`. It looks to only be called on construction. I'm wondering if we can just move that into

[2019-04-02 23:55] zepumph commented on #145
I'm very happy! Above is all the code that I was able to get rid of in replace of a single line of new code utilizing `AccessibleValueHandler`'s api for on focus setting. Closing

[2019-04-02 23:55] #145 closed

[2019-04-10 19:42] KatieWoe opened #153 "Usability on small screen review"
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* No needed changes noticed
* Pointer areas not on some intractable pieces (orbs and ruler)

Screenshots:
![Image from iOS](https://user-ima

[2019-04-13 21:57] arouinfar commented on #153
https://github.com/phetsims/joist/issues/556 will discuss the possibility of automatically showing `pointerAreas` for all UI components, but according to @kathy-phet:

[2019-04-13 21:57] #153 closed

[2019-05-23 02:41] ariel-phet commented on #152
@zepumph back to you to decide if this can be cleaned up/closed

[2019-05-23 20:46] zepumph commented on #152
Thanks! Those have since been deleted while working on publishing GFLB
(deleted in 74398ab3dac543f0b9c89fe0aade396b7b17100a)

Closing

[2019-05-23 20:46] #152 closed

[2019-05-28 11:56] terracoda commented on #124
I am pretty sure all the issues about position will be address by GFLB's issue https://github.com/phetsims/gravity-force-lab-basics/issues/124

Removing the priority label.

[2019-05-28 12:08] terracoda commented on #124
After discussing Step 17 checkbox, I changed my mind. We are not providing state information at last step, only at going beyond an edge. We may consider this further, but for now. It's not an issue. I've updated the https://github.com/phetsims/gravity-force-lab/issues/124#issuecomment-463175345.

Punctuation looks good.
Closing this issue.

Stale distance information should be handled by https://g

[2019-05-28 12:08] #124 closed

[2019-06-12 14:41] KatieWoe opened #154 "CT gravityForceLab.general.phetioCommandProcessor"
Also in basics version
[code]

[2019-06-13 00:28] zepumph commented on #154
see https://github.com/phetsims/phet-io/issues/1509

[2019-06-13 00:28] #154 closed

[2019-06-18 16:21] emily-phet opened #177 "Should there be boundary sounds for spin buttons, similar to mass location sliders?"
@terracoda brought up (from consultant discussion) that the spin buttons don't have a boundary sound, but the mass location sliders do.

@Ashton-Morris suggested a solution (having a gentle 'error' sound if spin  buttons are pressed while inactive).

I think there is a deeper issue at play here - where visually the grab/drag of the mass objects and the press of the number spinner feel very differe

[2019-06-19 01:01] zepumph commented on #148
This has been done. especially related to https://github.com/phetsims/gravity-force-lab-basics/issues/134

[2019-06-19 01:01] #148 closed

[2019-06-19 07:22] terracoda commented on #149
In design meeting on June 18th, @emily-phet and I discussed this further, and decided it would be best to use "force vectors" all the time and not use a shortened version "vectors" in any cases.

This decision will require some changes to the strings. Assigning to myself to provide examples and to clean up design doc, or to start a new issue.

[2019-06-19 07:59] terracoda commented on #97
@arouinfar, is it safe to assume that since this is marked "fixed-awaiting-deployment" that there is nothing to be done for the primer for Gravity Force Lab Basics? We are getting ready to publish Basics, so I just wanted to be sure.

[2019-06-19 08:07] terracoda commented on #102
I just verified that Mariah Hermsmeyer is in the credits for GFLB, and still needs to be added to Regular.
Leaving this open.

[2019-06-19 15:53] arouinfar commented on #97
@terracoda that's correct! This issue is awaiting the redeploy of GFL. The GFLB primer is also ready to go, but that's being tracked in in the master checklist.

[2019-06-19 16:20] terracoda opened #155 "Consider beyond-edge force alerts for mass controls?"
Related to sounds for edges https://github.com/phetsims/gravity-force-lab-basics/issues/152
and the alerts designed for the position sliders for when a user tries to go beyond an edge... we may need to consider something similar fro the mass controls.

[2019-06-20 14:44] terracoda opened #156 "Describing distance quantitatively: design question"
Apologies for long background info!!

@arouinfar, before I started working on Gravity Force Lab Basics (GFLB), I was already thinking that providing quantitative distance values (actual meters from the other mass sphere) would be a very good way to provide distance information in Gravity Force Lab (GFL) regular. Doing so has 2 big benefits:
1. it provides an accurate and decent experience for blin

[2019-06-20 14:46] terracoda commented on #156
@arouinfar, let me know if you would rather meet synchronously about this issue.
And to get a good feeling about the quantitative distance mode, just try GFLB with distance checked.

[2019-06-28 01:53] jessegreenberg opened #157 "Should MassPDOMNode be disposable?"
It is likely not necessary, but since gravity-force-lab is a dependency for gravity-force-lab-basics, I am wondering if disposal should be supported.

My instinct is that it isn't necessary and we can assume that masses are persistent for the life of the sim. @zepumph what do you think?

For https://github.com/phetsims/gravity-force-lab-basics/issues/156

[2019-06-28 09:38] terracoda commented on #156
@arouinfar, if you need me to simplify this issue, I am really only concerned about the question in https://github.com/phetsims/gravity-force-lab/issues/156#issue-458701273:

Again, apologies for all the background info.

[2019-06-28 09:52] terracoda commented on #155
@terracoda to explore in design doc, if state information that included comparative size and size of force information would be useful as a beyond-edge alert, similar to the state information (distance and force) is provided for the position sliders.

[2019-06-28 10:50] terracoda opened #158 "Change to PDOM Order: Move Grab Ruler (ruler) to just before Rest All button."
@zepumph, this change refers only to the PDOM order. There is no change the visual simulation.

**Reasoning:**
- Non-visual users get distance information directly from the position sliders (move m1, move m2).
- The ruler interaction is not important for non-visual access. We are placing it last in the Control Area to discourage its use by non-visual users.

If needed see [Heading Outline & Focus

[2019-06-28 11:05] terracoda opened #159 "Screen Summary Tweak: Add idea of a track"
Like in Gravity Force Lab Basics, I want to add the idea that the mass spheres move a long a track to match the qualitative position information provided in aria-live alerts and aria-value-text.

Change Paragraph 2 of Screen Summary
**OLD version of P2:**
- The Play Area has a blue sphere labeled m1 and a red sphere labeled m2. A force vector arrow starts at the center of each sphere and points di

[2019-06-28 11:11] terracoda commented on #156
And I should mention that distance is described qualitatively in the screen summary
- m1 and m2 are {{not so close to}} each other, centers exactly {{4 meters apart}}.

[2019-06-28 11:27] terracoda opened #160 "Change m1 and m2 spheres' dynamic state descriptions"
‪Based on changes we found helpful in Gravity Force Lab Basics, we need to change the third bullet in the mass spheres' dynamic state descriptions.

Currently, the third bullet describes mass sphere size and it's meter mark.
- m1‬ is {{very small}} at {{50 kilograms}} and at {{2.8 ‪meter‬ mark}}.
- ‪m2‬ is {{small }}at {{200 kilograms}} and at {{6.8 ‪meter‬ mark}}.

Please change to describe compa

[2019-06-28 11:29] terracoda commented on #160
In case you need to know where in the design doc, these changes are noted mention in the Play Area part of the PDOM https://docs.google.com/document/d/1-37qAgde2XrlXBQae2SgjartM35_EnzDD9pdtd3nXAM/edit#heading=h.boc5q9uckbq5

[2019-06-28 12:00] terracoda opened #161 "Remove list structures around mass controls"
As we learned in Gravity Force Lab Basics, and possible also in Ohm's Law, the list structure seems to interfere with the slider role in some screen readers.

As a result we need to remove the list structure in GFL Regular as was done in Basics issue:
https://github.com/phetsims/gravity-force-lab-basics/issues/138

[2019-06-28 12:12] terracoda commented on #137
@zepumph, I think this new scale is implemented.
I am removing "focus" from the title, as these descriptions are no longer provided on focus.
And then I close this issue.
Please re-open if this is pre-mature.

[2019-06-28 12:13] #137 closed

[2019-06-28 12:14] terracoda commented on #160
I think the comparative descriptions were implemented as part of #137.

[2019-06-28 12:17] terracoda commented on #110
@zepumph, this issue is no longer on hold.

[2019-06-28 12:19] terracoda commented on #131
@zepumph, just removing onhold.

[2019-06-28 12:43] terracoda commented on #149
I think we can continue in this issue with a changed title.

[2019-06-28 12:59] terracoda commented on #149
Change, for example the current alerts to use "Force vectors" instead of "Vectors":
- **For position sliders with Force Values checked we currently hear:**
  - Vectors {{get bigger}}, forces now {{force-value}} micronewtons.
  - Vectors {{get smaller}}, forces now {{force-value}} micronewtons.
  - Vectors {{get bigger}}{{, forces now {{force-scientific-notation}} newtons.
  - Vectors {{get smaller

[2019-06-28 13:54] terracoda opened #162 "Consider an "a lot" parameter for when big changes occur"
For Gravity Force Lab Basics (GFLB) there was no indication from users that we needed to describe big changes like we do in Resistance in a Wire and Ohm's Law with the word "a lot".

I had a note in GFL's design doc that we might want to consider adding in "a lot" as a parameter, so I am creating an issue to record this thought and make a decision.

Here are a few cases where it might be helpful f

[2019-06-28 16:05] arouinfar commented on #156
@terracoda sorry for taking a bit of time getting to this, I was out for a conference.

No need to apologize, I appreciate the background info!!

My one hesitation is that GFL has a general learning goal around measurement, which is why it uses the ruler instead of the Distance checkbox. By providing the quantitative distance, the need to use the ruler is removed. I wonder if it would be possible/

[2019-06-28 16:28] terracoda opened #163 "Screen Summary Tweak: Change Control Area description"
In addition to https://github.com/phetsims/gravity-force-lab/issues/159
please also update the third paragraph that describes the Control Area.

**Old Paragraph 3 is:**
- In the Control Area, checkboxes change what things are shown and how they behave, and a button resets the sim. There is a moveable ruler to take measurements, if needed.

**The new Paragraph 3 is:**
- In the Control Area, checkbo

[2019-06-28 18:32] zepumph commented on #157
Good question. I do not think that anything in ISLC needs disposal.

[2019-06-28 19:09] #157 closed

[2019-06-28 21:46] jessegreenberg opened #164 "State of RegionMapper?"
I don't see any usages of RegionMapper and from documentation it looks like it may have been a prototype for creating a "map" for region to description. I am wondering if we should move this somewhere to investigate further or if this should be removed. But I don't know that we will be able to invest in this in the near future so I am not sure if an issue is worthwhile. @zepumph what do you think?

[2019-06-28 21:47] jessegreenberg commented on #164
Found during https://github.com/phetsims/gravity-force-lab-basics/issues/156

[2019-06-29 11:22] terracoda commented on #156
Yes, that is the intention, to remove the need of using the ruler at all for students who have low enough vision to need to use a screen reader.

@arouinfar, I like your idea above, but I need to know what you want the students to hear when they are moving the spheres, not the ruler. The ruler will involve quantitative meter information being spoken. But what do you want to hear when the spheres a

[2019-06-29 11:26] terracoda commented on #158
@zepumph this issue is dependent on decision in #156.

[2019-06-29 11:31] terracoda commented on #156
@arouinfar, would you be able to make a design meeting early on a Tuesday morning (8 am mountain time). We could discuss in detail the pros and cons of the ruler interaction and which described experience provides the most useful information when a student is moving the spheres?

[2019-07-02 07:56] zepumph opened #165 "This sim fails stringTest=long"
![image](https://user-images.githubusercontent.com/6856943/60494757-e043af80-9c5b-11e9-9182-d659c50c0b1f.png)

[2019-07-02 21:29] zepumph commented on #165
Note this also is the case with CL, but not in the published version,
![image](https://user-images.githubusercontent.com/6856943/60547916-5d5b3d00-9ccd-11e9-98d5-9f0581e7df6c.png)

[2019-07-02 22:01] zepumph commented on #164
Thanks. I think this was some prototype that never took flight. Perhaps we will bring it back for the ruler, but for now I'll delete it for clarity.

[2019-07-02 22:01] #164 closed

[2019-07-03 14:33] terracoda commented on #156
**On  Slack I said:**

When I first started on this sim, Ariel and I think Kathy, indicated that the using the ruler had minimal importance.

In addition to being minimally important, here are a couple other points:
- the ruler's placement (just below the spheres) acts as a visual number line that can be used as measurement tool without moving it
- in interviews some students do not realize that t

[2019-07-08 17:33] jbphet opened #166 "Translations will lose some strings the next time this is published off of master"
In https://github.com/phetsims/inverse-square-law-common/issues/26, a number of strings were moved around between the Gravity Force Lab sims and the shared inverse-square-law repo.  While we had originally considered trying to move the translated strings too, it turned out to be too complex to make it worthwhile.  The consequence will be that the next time the Gravity Force Labs simulation is publ

[2019-07-11 13:44] terracoda commented on #156
@arouinfar, any thoughts?

[2019-07-12 06:30] arouinfar commented on #156
@terracoda I distinctly remember writing up a response to this last week, so apologies for keeping you waiting for so long.

After much thought and your detailed explanations, I think we should provide the quantitative distance descriptions to screen reader users (as is done in GFLB when the Distance checkbox is on).

The learning goals for the ruler are all secondary:
* Determining the functional

[2019-07-12 07:27] terracoda commented on #156
@arouinfar, this is great! And thanks so much for your thoughtful response!

@zepumph and I can move forward with the "Distance checked" experience for the spheres, and in this fall, I'll figure out how best the ruler interaction can be described in a way that provides a decent experience (for everyone) as an additional tool. The ruler is already keyboard accessible, I just need to figure out what

[2019-07-12 07:27] terracoda commented on #156
I am close this issue now.

[2019-07-12 07:27] #156 closed

[2019-07-12 08:11] terracoda commented on #159
@zepumph, I took care of this one, so closing.

[2019-07-12 08:11] #159 closed

[2019-07-12 08:17] terracoda commented on #163
@zepumph, I took care of this one, so closing.

[2019-07-12 08:37] terracoda commented on #150
@zepumph, I updated the first parameter - the one that was being used in the sim. There are actually two lines of code for this parameter.:
[code]
Maybe there is no need for the `scientificNotationPatternNoHtml` pattern now?

This can be dealt with during a code review, maybe.
Marking this issue "ready-to-review" and assigning to you as it is in a shared repo.

[2019-07-12 08:49] terracoda commented on #149
@zepumph, I made the changes the regular and capitalized strings. The patterns all seem to be working.

Marking for you to review as this is a shared repo.

[2019-07-12 08:54] terracoda commented on #158
@zepumph, in #156, @arouinfar and I agreed that providing quantitative distance was the best way to provide the distance value to non-visual users.

This means we should indeed change the focus order of the grab ruler button, so that it comes just before the Reset All button. The visual placement of the ruler does not move, just when the grab ruler/ruler receive focus.

This will means there is a

[2019-07-12 08:59] terracoda commented on #163
Oops, I spelled reset incorrectly.

[2019-07-12 09:01] #163 closed

[2019-07-12 09:08] terracoda commented on #131
@zepumph, I think I took care of this by using the word "times" instead of a coded representation of the symbol, see #150
I'll mark this for you to review, too. Apologies, I forgot we had an open issue for this.

[2019-07-12 18:49] zepumph commented on #150
Thanks for reviewing. Indeed `scientificNotationPatternNoHtml` wasn't being used, and now that it was the same as the `scientificNotationPattern` we can just remove it.

[2019-07-12 18:49] #150 closed

[2019-07-15 19:54] zepumph commented on #165
Looks like this is a bug that came out of https://github.com/phetsims/scenery-phet/issues/451. There were two title specific options in ISLCControlPanel that weren't renamed when converted to use nested options for control panel. While in there I converted the file to use `merge`, and that cleaned some stuff up.

[2019-07-15 19:54] #165 closed

[2019-07-17 18:21] zepumph opened #167 "Uninstrument for phet-io the keyboard help dialog"
This sim has an instrumented one, but it seems like most do not.

[2019-07-17 18:22] zepumph commented on #167
Perhaps look at MAL too

[2019-07-17 20:25] #167 closed

[2019-07-19 13:19] terracoda commented on #149
@zepumph, adding code review label to remind myself that this is not for me to review.

[2019-07-19 21:55] terracoda commented on #162
For this sim, if we consider "a lot", I think we also have to consider "a little".
I will be adding a few edge cases to this issue asap.

[2019-07-22 13:20] terracoda opened #168 "Adjusted wording for m1 and m2 dynamic states"
@arouinfar, based on some changes to descriptions that we made in GFL Basics, I have adjusted the phrasing in GFL Regular.

I made a table with a few examples of the two mass spheres (m1 and m2). These changes have not yet been implemented. The table is
[Table: Examples - Dynamic state descriptions m1 & m2](https://docs.google.com/document/d/1-37qAgde2XrlXBQae2SgjartM35_EnzDD9pdtd3nXAM/edit#headin

[2019-07-22 15:46] terracoda commented on #155
@emily-phet and @arouinfar, I have added 4 views of a "going beyond" max mass context response (alert) when using mass 1 slider.

I think this context response makes the mass control interaction more inline with how the distance sliders work when trying to go beyond an edge position. I think it will be useful and perhaps temporarily address the lack of a sound at a mass value edge.

Do you agree,

[2019-07-22 15:48] terracoda commented on #155
And, I will add that, the same alert could be added to GFL Basics at the appropriate time, maybe that sim's first maintenance release after publication.

[2019-07-22 16:07] terracoda commented on #162
**Example of a big change in distance with a very small change in force:**
<img width="907" alt="Screen Shot 2019-07-22 at 5 56 50 PM" src="https://user-images.githubusercontent.com/1902116/61646474-3f6c7100-acaa-11e9-80e7-68a06bde499c.png">
<img width="901" alt="Screen Shot 2019-07-22 at 5 57 23 PM" src="https://user-images.githubusercontent.com/1902116/61646486-48f5d900-acaa-11e9-80d9-eb0195d46b

[2019-07-22 16:11] arouinfar commented on #168
I would say that "vector arrow" is redundant. GFL is designed for an older population than GFLB, and they are likely familiar with the concept of a vector. I would remove "arrow", and leave it at "Force vector".

I think "Force magnitude" would be descriptive enough here, though I don't see any pedagogical issues with "Force vector magnitude" and wouldn't object to describing it this way. "Force m

[2019-07-22 16:17] terracoda commented on #162
We did something similar in Resistance in Wire, but maybe it is not needed in this sim and maybe it is too complicated.

It is a question I had from the beginning, but put it in hold, so just asking now because everything else is pretty much done and working well.

[2019-07-22 16:20] terracoda commented on #162
I am going to rephrase the question...
@arouinfar or @emily-phet, do you have any concerns if we do not describe very big or very small changes such as the once above for this sim?

[2019-07-22 20:18] arouinfar commented on #155
@terracoda is this the table you're referring to? https://docs.google.com/document/d/1-37qAgde2XrlXBQae2SgjartM35_EnzDD9pdtd3nXAM/edit#heading=h.hnch5crz7cij

![image](https://user-images.githubusercontent.com/8419308/61662232-3d46ea00-ac8b-11e9-8f14-f3b72b54af40.png)

It's not clear to me which part of this is the beyond-edge alert.

[2019-07-22 20:33] arouinfar commented on #162
No, I don't think we necessarily need the {{a lot}}/{{a little}} descriptions, as there's quite a lot going on in the simulation. I'll defer to your judgement on this one @terracoda. If you'd like to try it out in interviews, that's also fine with me.

[2019-07-24 14:55] terracoda commented on #168
@arouinfar, thanks, I have updated the design doc and will open a new issue for implementation.

[2019-07-24 14:55] #168 closed

[2019-07-24 15:23] terracoda opened #169 "Remove meter mark and adjust phrasing in Sphere descriptions"
Based on changes made in GFL Basics and decision in https://github.com/phetsims/gravity-force-lab/issues/168, I have some adjustments to the dynmaic state descriptions for the mass spheres in the Play Area.

Please see [Table: Examples - Dynamic state descriptions m1 & m2](https://docs.google.com/document/d/1-37qAgde2XrlXBQae2SgjartM35_EnzDD9pdtd3nXAM/edit#heading=h.a317yjxc2ver)

Here's the old a

[2019-07-24 15:39] terracoda commented on #162
@arouinfar, if understanding what makes really big and really small changes to the force is not a primary learning goal for the sim, I would avoid adding more length to the already verbose alerts.

If the most important learning goals are discovering that changes to mass and distance make the force bigger or smaller, I think we have a solid design as-is.

I am a little concerned about possible lar

[2019-07-24 15:40] #162 closed

[2019-07-24 16:42] terracoda commented on #155
@arouinfar, yes I am referring to that table. Apologies for the lack of explanation.
This examples in the table would fire after the user reaches a max or min mass value (1 kilogram or 1000 kilograms), and once they try to make the mass larger than 1000 kg or smaller than 1 kg. The alert would only fire once.
The intention is to cue the end of the mass slider, and to provide an idea of the state o

[2019-07-24 16:43] terracoda commented on #155
@arouinfar, what do you think of this go-beyond min-/max-mass alert?

[2019-07-24 18:02] terracoda commented on #133
Removing on-hold. I think we will want to round, but I need to review the example.

[2019-07-25 00:04] arouinfar commented on #155
Thanks for the clarification @terracoda!

Seems like it would be useful to communicate you've reached the min/max mass in the alert, similar to "last stop right" in the distance-related alert. The proposed go-beyond-edge alert is missing this information. (Or maybe I'm missing something?)

IMO, that's a pretty compelling reason to include something analogous in GFL.

[2019-07-25 09:20] terracoda commented on #155
@arouinfar, you are not missing something. The mass-related alerts have neither "last stop" nor "track end" parameters which are delivered upon reaching an edge position. I felt the "track" like interaction and the variable position for a sphere's "last stop" really needed these cues. I was less sure that the max/min mass values needed such cuing.

If we did add max mass and min mass parameters, i

[2019-07-25 09:20] terracoda commented on #155
oops posted early, editing previous issue...

[2019-07-25 10:47] terracoda commented on #155
@arouinfar, I propose we go with the first examples "without a max/min" parameter in https://github.com/phetsims/gravity-force-lab/issues/155#issuecomment-514967976 . It's simpler. We may eventually have a sound that indicates hitting the max or min mass.

[2019-07-25 10:52] terracoda commented on #155
And just for clarification both GFL abd GFLB are working exactly the same right now with beyond-edge alerts for positional edges, and both sims lack similar alerts for going beyond max/min mass. My proposal is meant to be implemented in both sims.

[2019-07-25 11:41] terracoda commented on #133
@zepumph, in this sim the mass slider is a slider (not a number spinner with fixed values like in GFLB). @arouinfar and I would like there to be some built-in rounding for the mass values, similar to how the sliders work on [Pendulum Lab](https://phet.colorado.edu/sims/html/pendulum-lab/latest/pendulum-lab_en.html).
@arouinfar mentioned they used `constrainValue` in that sim. Would that work for t

[2019-07-25 11:43] terracoda commented on #133
@zepumph, let me know if you have any questions.

[2019-07-25 12:04] terracoda commented on #138
@zepumph, since this has to do with ruler, I think it can be put on hold until quarter 4.

[2019-07-25 12:14] terracoda opened #170 "When to add sound to this sim?"
Reminder that we will need to add sound to this sim.
@emily-phet, when is the ideal time?

[2019-07-25 12:48] emily-phet commented on #170
Hey @terracoda - I'll put a note in the planning doc to consider this for Q4 work for @jbphet

[2019-07-25 15:50] terracoda commented on #169
@zepumph, this might be a repeat issue of https://github.com/phetsims/gravity-force-lab/issues/160#issue-461989393 (apologies)

[2019-07-26 06:52] terracoda commented on #170
@emily-phet, thanks! Closing issue.

[2019-07-26 06:52] #170 closed

[2019-07-26 12:31] terracoda commented on #160
Closing this issue. More explicit changes are described in issue #169

[2019-07-26 12:31] #160 closed

[2019-07-29 22:26] zepumph commented on #144
I was able to fix this generally by using the same layout strategy that is used in AboutDialog. I factored out AboutDialog's layout strategy into `Dialog.layoutStrategyCenteredInScreen`.

@pixelzoom please review the refactor since you have done substantial work on Dialog. Note that this differs from how `DEFAULT_LAYOUT_STRATEGY` is set. I'm not sure why the default one isn't set in the statics. M

[2019-07-29 22:31] #131 closed

[2019-07-29 23:02] zepumph opened #171 "No accessibleName for mass controls"
Discovered while working on #161. We are passing an accessibleName into the NumberControl's slider, but for some reason it isn't working.

[2019-07-30 00:21] zepumph commented on #171
The reason is that `accessibleName` when passed to `sliderOptions` isn't currently doing anything. I created https://github.com/phetsims/scenery-phet/issues/519 and will get back to this after a decision is made over there.

[2019-07-30 00:23] zepumph commented on #161
This was done @terracoda. It was done generally so we shouldn't need to for Coulombs Law now. Closing

[2019-07-30 00:23] #161 closed

[2019-07-30 00:30] zepumph commented on #149
This looks good to me!

[2019-07-30 00:30] #149 closed

[2019-07-30 00:42] zepumph commented on #110
This should be dealt with in https://github.com/phetsims/sun/issues/519.

[2019-07-30 01:06] zepumph commented on #139
I began this today. I didn't finish it quite.

I was wondering where I should put these strings, because potentially we may want these in CL one day, but not quite yet. I'll mull over the best way to proceed.

[2019-07-30 01:13] zepumph commented on #144
I just noticed that this solution isn't yet complete. It seems that it needs more duplication from AboutDialog for setting maxHeight:

[code]

@pixelzoom in what way do you think would be best to use this value for KeyboardHelpDialog as well?

[2019-07-30 10:39] terracoda commented on #155
@arouinfar, another reason I think we should go with the first examples (without max/min parameters for the mass controls) is that the "edges" of the mass controls seem much less important, less emphasized to me. The idea of "edges" for the move sphere sliders seems to have nuance that needs to be communicated.

For me, it makes sense to not design the descriptions exactly the same even if the int

[2019-07-30 18:59] zepumph commented on #110
@terracoda is this fixed in master now that we made a solution in https://github.com/phetsims/sun/issues/519?

[2019-07-30 21:00] zepumph commented on #139
This work has been done. I ended up keeping everything in GFL rather than factoring it out to ISLC. I think it would be more trouble than its worth. Here are a few questions for review:

* Moving the "Change Mass" section to the left column did so in GFLB too. Is that aright?
* In the design doc it says "Adjust in . . ." but currently it says "Change mass in". Which one is preferred, keeping in mi

[2019-07-30 21:50] zepumph commented on #158
This has been done above. The change pulled the visual scene graph order from the PDOM order, instead using accessibleOrder to set the PDOM order. This was important because the RulerNode is carefully layered in the sim to visually go  on top of the masses, but below all the controls. @terracoda please review.

[2019-07-31 00:41] zepumph commented on #171
https://github.com/phetsims/scenery-phet/issues/452 has solved this issue. We now have an accessible name. Closing.

[2019-08-01 15:40] terracoda commented on #171
I hear the name for the each mass control and the group. The group is only announced once upon entering the group. It sounds great to me.

[2019-08-01 15:40] #171 closed

[2019-08-01 15:44] terracoda commented on #110
Yes! You fixed it!
<img width="722" alt="Screen Shot 2019-08-01 at 5 41 27 PM" src="https://user-images.githubusercontent.com/1902116/62307381-cc21e680-b483-11e9-9eda-16cbffeaf1a4.png">

In Voice Over it says "dimmed". Not sure what it says in other screen readers.
Closing.

[2019-08-01 15:44] #110 closed

[2019-08-02 12:14] terracoda commented on #158
@zepumph, looks good. And I think it sounds good at the end because, it's almost like a reminder to go back and play with distance.

Closing.

[2019-08-02 12:14] #158 closed

[2019-08-02 12:18] terracoda commented on #144
@zepumph, the dialog no longer overlaps bottom navbar.
Looks really good! Closing.
<img width="838" alt="Screen Shot 2019-08-02 at 2 17 11 PM" src="https://user-images.githubusercontent.com/1902116/62369593-60498780-b530-11e9-923d-82c14dde52b2.png">

[2019-08-02 12:22] terracoda commented on #144
Oops, reopening for @pixelzoom to review.

[2019-08-02 13:11] terracoda commented on #139
@zepumph looking good!
- Tes, Bottom of left column is good for Change Mass section
- Yes, some iterations happened in BASICS, "Change mass" is correct. I had a note in the design doc, but not a visual :-)
- Yes, "Jump to" min/max "mass" is more clear, and it fits.

One thing that is different with Gravity Force Lab regular is the Mass Controls. In this sim they are visually and non-visually horiz

[2019-08-02 14:15] terracoda commented on #139
@zepumph, I added the above screen shot and updated the accessible content in the design doc, in case we can go with option 1.

Here's the link to the [Keyboard Shortcuts Dialog](https://docs.google.com/document/d/1-37qAgde2XrlXBQae2SgjartM35_EnzDD9pdtd3nXAM/edit?ts=5c2a5733#heading=h.nnkdju7p2tyn) section.

[2019-08-02 14:29] terracoda commented on #155
@arouinfar, do you have any further thoughts or questions?
Do you feel more comfortable with option 1 Without max/min parameters outlined in https://github.com/phetsims/gravity-force-lab/issues/155#issuecomment-514967976 ?

Personally, I really like the state information alert/response that would be delivered if a user tries to step beyond max or min mass. The alert provides state information (wit

[2019-08-02 14:36] terracoda commented on #76
@jbphet, isn't this sim already outfitted for phet-io?
Don't we need it to be outfitted in order to add sound?

[2019-08-02 14:53] terracoda commented on #101
@arouinfar, I don't see any shifting. Do you still see something? There are have been many changes to the sim.

[2019-08-02 16:47] jbphet commented on #76
@terracoda - yes, phet-io was added, though from the sound of it, the job isn't 100% finished.  And no, it does not need to be outfitted with phet-io to add sound, we only use the phet-io capability when prototyping the sound design in phet-io wrappers.

[2019-08-02 16:48] terracoda commented on #76
Thanks @jbphet!

[2019-08-02 18:12] arouinfar commented on #101
Yes, it still happens when on master. It's subtle, but the panels all shift when toggling scientific notation.

If you click on this .gif to open it in a new window, the shift will be a bit more obvious.
![Untitled](https://user-images.githubusercontent.com/8419308/62390041-9251ee00-b51e-11e9-8b99-0a05d3c77109.gif)

[2019-08-02 21:09] terracoda commented on #101
Oh, I see it. Yes, it is very subtle ;-)

[2019-08-03 00:30] zepumph opened #172 "PhET-iO: How to support dynamic range for ISLCObject.positionProperty"
This is a problem in Studio because the enabledRange is constantly changing, but that isn't reflected in the positionProperty.range metadata in studio.

[2019-08-03 00:30] zepumph commented on #172
From https://github.com/phetsims/gravity-force-lab/issues/172

[2019-08-03 01:09] zepumph commented on #76
I took a first pass over the current implementation, and got rid of quite a few things. From here it would be good to have a design meeting. Notes and questions about current implementation:

* ISLCObjectNode's arrow node is not a child, but instead added as a node to the screen view, so visibility is toggled separately.
* We need a way potentially to have the label and label shadow node to keep i