[2019-08-03 01:43] samreid commented on #172
Is this primarily a problem because the studio controls let you go out of the enabled range?  Should the `positionProperty` have a `rangeProperty`?

[2019-08-05 23:22] zepumph commented on #139
Alright above I changed a few more things.

* I change the change mass rows as desired
* I refactored the way icons were being created
* I moved some a11y specific strings from the i18n json into the a11y strings file
* I factored out some hard coded strings

Note that changing the "change mass" row also effected GFLB. I updated that icon so that it was still up/down arrow keys though. @terracoda

[2019-08-06 17:48] pixelzoom commented on #144
This is just bad, it should be based on `ScreenView.DEFAULT_LAYOUT_BOUNDS`.

Unless there's a reason why we would want a Dialog to be bigger than the ScreenView layoutBounds...  It seems like Dialog should define static constants `DEFAULT_MAX_WIDTH` and `DEFAULT_MAX_HEIGHT` that are based on `ScreenView.DEFAULT_LAYOUT_BOUNDS` with some standard margins.   It might also be good to set Dialog's `max

[2019-08-06 23:49] zepumph commented on #172
Yes studio sets the controls for the initial state, but even by the time startup is complete the range has changed. So the studio control is out of sync with the range. Do you think that we could fix this by adding support for `NumberProperty.range` to be `{Range|Property.<Range>}`? Even still I'm unsure how we would get the studio control to behave properly.

[2019-08-07 02:06] zepumph commented on #144
I'm not totally confident on how to progress in this issue. Below are a few items that I think should be independently considered as steps forward. @pixelzoom, for each would you please sign off if you think I should look into doing it. We can also mark for dev meeting if that would be best.

1. Make `layoutStrategyCenteredInScreen` the "DEFAULT_LAYOUT_STRATEGY" in Dialog. This one centers in the

[2019-08-07 15:20] pixelzoom commented on #144
Yes.

No.  maxWidth and maxHeight should be based on the ScreenView's layoutBounds (the "safe" area) not `screenBoundsProperty` (the full area).   And while this issue has been concerned with maxHeight, the general issue applies to both maxWidth and maxHeight.

ScreenView layoutBounds is customizable.  So DEFAULT_MAX_HEIGHT (and DEFAULT_MAX_WIDTH) can only be based on the default.  If we want clie

[2019-08-08 13:47] terracoda commented on #139
@zepumph, Looking good, I like this visual simplification. I just need to double check the A11y Strings for GFL.
**Gravity Force Lab**
<img width="514" alt="Screen Shot 2019-08-08 at 6 40 46 AM" src="https://user-images.githubusercontent.com/1902116/62708136-9c08a500-b9a7-11e9-9b68-e31f256409b8.png">
**Gravity Force Lab:Basics**
<img width="526" alt="Screen Shot 2019-08-08 at 6 40 09 AM" src="http

[2019-08-08 21:48] zepumph commented on #76
- [ ] enabledRangeProperty should be phetioReadonly

That's good! No need for it.

- [ ] Uninstrument the `ISLCObjectNode` why hide the mass Node slider?
- [ ] readonly `gravityForceLab.gravityForceLabScreen.view.mass1Node.forceArrowNode.arrowText.textProperty`

- [ ] Create composite instrumented label node that houses two uninstrumented texts (one for shadow and one for label). Keep the text edi

[2019-08-08 23:38] zepumph commented on #76
After looking into phetioReadOnly events, I see that you can specify methods that can still be called when phetioReadOnly. EmitterIO.addListener is an example of one that can still be executed.

[2019-08-09 00:07] zepumph commented on #76
Everything has been implemented. The last checkbox is to make sure to discuss the rulerNode updates I made.

[2019-08-15 19:03] terracoda commented on #139
@zepumph, for these 2 dialogs the Mass controls are different, one being a pure horizontal slider with small and large steps, and the other being a vertical number spinner slider with no smaller steps than the default step.
Are the follow changes possible? And if so can you adjust the A11y strings for both dialogs.
**Gravity Force Lab regular:**
<img width="832" alt="gfl-kb" src="https://user-imag

[2019-08-15 19:09] terracoda commented on #155
@emily-phet or @arouinfar please assign to @zepumph if there are no more design questions about this issue.

[2019-08-16 14:32] terracoda commented on #139
@zepumph, I added an issue to GFLB since that sim is almost in RC.
Ooops, I just noticed I made a mistake in my example. Will update the visual right now.

[2019-08-16 14:47] terracoda commented on #139
@zepumph, and just as an alternative for GFL regular I can live without spelling out the Left/Right Arrows keys for smaller steps since all the keys work on a slider, regardless.

However, for GFL Basics, ideally we can adjust the string for regular steps to match the visual by referring to Up/Down Arrow keys.

That said, I don't think this request should block RC or publication because all the Ar

[2019-08-20 18:00] zepumph commented on #139
The two PDOM updates were completed above. They were simple enough that I thought it would be good to do before RC.

[2019-08-20 18:00] #139 closed

[2019-08-20 22:27] zepumph opened #173 "NumberControls should have a "snappy" slider"
In a PhET-iO design meeting for GFL, @kathy-phet mentioned that the number control slider should snap to 10, and the tweakers should be able to fine tune it to the ones place.

@kathy-phet mentioned this is what we are doing in more recent sim designs. @arouinfar and @terracoda what do you think?

[2019-08-20 23:08] zepumph commented on #172
At the very least we should set `phetioStudioControl=false` to the object's positionProperty so that it isn't so easy to break the sim in Studio.

[2019-08-20 23:12] zepumph commented on #173
From https://github.com/phetsims/gravity-force-lab/issues/76

[2019-08-20 23:14] zepumph commented on #76
@kathy-phet and I continued going through Studio together.

- [ ] Investigate (22 minutes or less), hiding the dashed line when the forceDisplayNode is made invisible.
- [ ] Add a PhET-iO derived property for the distance between the two masses. This would have units. @arouinfar does `distanceProperty` sound alright with you?
- [ ] massControl1.titleNode should center better.
- [ ] revisit scienti

[2019-08-21 18:53] zepumph commented on #172
Discussed with @chrisklus @samreid and @zepumph. We decided that we would add support for Property for range in `NumberProperty`.

We also decided that in this sim, `enabledRangeProperty` is strange as a sibling to `positionProperty`, and instead it should be `positionProperty.rangeProperty` as a phetioID.

[2019-08-22 01:46] zepumph commented on #172
I was able to implement everything discussed above, and it seemed like things were going very well. I then proceeded to run into tremendous trouble about validating the dynamic range within the ISLC model. Basically I ran into more than 3 places (and counting) where the dynamic range was being updated such that it excluded the current position, or the position was trying to be set outside of the c

[2019-08-22 02:21] zepumph commented on #76
I think I will be able to do this by uninstrumenting ISLCForceArrowNode as the `forceDisplayNode`, and instead instrumented a new composite Node in ISLCObjectNode as `forceDisplayNode` that has ISLCForceArrowNode and the dashes as the child. This doesn't seem too bad to me.

[2019-08-22 19:19] arouinfar commented on #173
@zepumph I like this suggestion. This is indeed a common design pattern we've used across many sims, particularly when the slider range is large. I believe the relevant option is called `constrainValue`.

[2019-08-22 19:25] arouinfar commented on #155
@terracoda thanks for the clarification.

Yes, that sounds reasonable to me! Off to @zepumph.

[2019-08-22 20:13] zepumph commented on #76
It has been 20 minutes, and I found that things are further complicated because ISLCObjectNode.arrowNode isn't added as a child, but instead stored as a field, and added directly to the screen view (parent of the ISLCObjectNode). I am giving up on this. Sorry! Let me know if we want to investigate. I think I could make it work, but it would involve a fair bit of layout change.

[2019-08-22 20:38] zepumph commented on #76
How about "separationProperty" instead. Added above.

[2019-08-22 22:35] zepumph commented on #76
More design meeting:

- [ ] `showForceValues` checkbox is no longer the `scientificNotationCheckbox's` `enabledProperty`

- [ ] instrument the vertical dashed line, to be able to be toggled, called `centerOfMassLineNode`

[2019-08-23 00:04] zepumph opened #174 "Apply phetioFeatured"
from #76, we are at the point where we want to implement a first pass at this now. @kathy-phet over to you. I'm looking forward to our meeting tomorrow!

[2019-08-23 00:09] zepumph commented on #76
Everything here has been completed. Now we will finish up over in https://github.com/phetsims/gravity-force-lab/issues/174. Closing

[2019-08-23 00:09] #76 closed

[2019-08-23 01:16] zepumph commented on #173
Does this mean that you will not be able to get at the smaller values? Or that you will snap with the slider, and still be able to access the single digits with the tweakers?

[2019-08-23 04:22] kathy-phet commented on #173
I think we agreed today that we would have a minimum of 0, so no single digits. It also makes the range of the force much better behaved. And we didn’t see a pedagogical reason that we needed to go to a value of 1.
K

Sent from my iPhone

On Aug 22, 2019, at 7:16 PM, Michael Kauzmann <notifications@github.com<mailto:notifications@github.com>> wrote:

Does this mean that you will not be able to get

[2019-08-23 15:20] terracoda commented on #173
I feel this issue is related to #133, and I do indeed agree the sliders should be snappy.

Starting at zero is fine with me if that makes for the sim. I would, however, need to double check the described values. As of right now there is no described value of zero.

[2019-08-23 17:07] zepumph commented on #173
I thought we agreed to have a minimum of 10.

[2019-08-23 17:43] zepumph commented on #173
The GFL sliders now snap to 10. The current minimum is 10, and the keyboard shift key delta is 10. @arouinfar @terracoda please review.

[2019-08-23 18:24] kathy-phet commented on #173
@zepumph - The tweekers should be set to steps of "1". There is a way to set the snappy different from the tweekers.

[2019-08-23 20:56] zepumph commented on #174
This seemed to go pretty smoothly, @kathy-phet took less than an hour to go through this sim. She then passed the overrides from the console over to me, and I committed them.

One thing I ran into is that I needed to regenerate the baseline after pasting the overrides. This was because may linked elements updated their phetioFeatured values from this. I faintly remember working on this with @samre

[2019-08-23 21:27] zepumph commented on #173
@kathy-phet I implemented that above. The issue is that currently there is no way to make that possible for accessibility. I created https://github.com/phetsims/scenery-phet/issues/528 to fix that. But for now this issue should block a11y publication of this sim (not that was coming up anytime soon).

[2019-08-23 21:28] zepumph commented on #173
@kathy-phet please review. Is this good enough to give to a client today?

[2019-08-23 21:59] kathy-phet commented on #173
I think this looks nice. Good enough for the dev delivery. Marking for review by @arouinfar and @ariel-phet when they are around. Please see what you think of the arrow scaling in GFL and GFLB now.

[2019-08-24 04:27] samreid commented on #174
Would it help if ?admin automatically set ?phetioValidateAPI=false?  Or is that just sweeping it under the rug?

[2019-09-03 15:54] zepumph commented on #172
Again I tried to fix this, and continued to run into many problems within validating the range and the position as they change. I continued to hit new assertions as I tried to fix prior ones, and I don't feel like I know the model well enough to trust any of the hacky changes I'm making. It would potentially be nice  to pair with @jessegreenberg on this, because I think he understands the model op

[2019-09-03 19:04] zepumph commented on #172
@jessegreenberg and I worked on this, and we were able to think through the problem a bit more thoroughly.

It seemed like good things happened when we decided to update the range of the positionProperty whenever a positionProperty was set that would require changing. (i.e. update object2 range when object1 position changes, or update object2 range when object1 radius changed). This more manual up

[2019-09-05 21:40] zepumph opened #175 "PhET-iO Tweaks"
From feedback from a client and another design meeting:

- [ ] Higher priority of https://github.com/phetsims/scenery-phet/issues/526
- [x] Instrument ISLCObjectNode.js
- [x] Add a stroke to mass node texts, and increase the max width to allow for an "increase of font size" for longer strings like "Planet 1." see https://github.com/phetsims/inverse-square-law-common/issues/79

[2019-09-06 16:07] zepumph commented on #175
Here is a patch for some of this work:

<details>

[code]
</details>

[2019-09-09 20:09] zepumph commented on #175
Original instrumentation issue: https://github.com/phetsims/gravity-force-lab/issues/76

[2019-09-09 22:51] zepumph commented on #175
Instrumented ISLCObjectNode above. Everything else will be handled in their own issues. Closing

[2019-09-09 22:51] #175 closed

[2019-09-09 23:09] zepumph commented on #173
Review of the arrow scaling can happen over in https://github.com/phetsims/inverse-square-law-common/issues/76.

It seems like the snappy slider is looking good for gravity-force-lab, and there have been no complaints from our clients. Closing this issue.

[2019-09-09 23:09] #173 closed

[2019-09-12 15:27] terracoda opened #176 "Constant Size checkbox: Special Case"
From https://github.com/phetsims/gravity-force-lab-basics/issues/168#issuecomment-527978538

We explore if suggestion design solutions is workable and if so, update both regular and BASICS when work is complete.

[2019-09-17 19:30] zepumph commented on #177
I moved it over to GFL.

[2019-09-19 17:51] zepumph commented on #48
I have been in this repo for 9 months, and have been cleaning things up, converting es5 code, and so on. I will do more in the coming quarter as I focus from basics into regular. I'm going to close this issue, and make individual code review issues for cleanup as I go.

[2019-09-19 17:51] #48 closed

[2019-09-24 13:44] terracoda opened #178 "No "closest" region name when spheres are the closest they can be."
As mentioned in https://github.com/phetsims/gravity-force-lab-basics/issues/173#issuecomment-534320591, let's look at re-implementing the region names to make sure the described position ranges are correct in this sim, too. "Closest" is a single-value region like "Farthest from".

I'll check the design doc for GFL regular, too, to see what's there.

[2019-09-26 05:36] zepumph opened #179 "Use default layout bounds"
In `GravityForceLabScreenView`. This should likely be similar in implementation to https://github.com/phetsims/coulombs-law/issues/111

[2019-09-26 16:58] zepumph commented on #174
This has been completed. Closing

[2019-09-26 16:58] #174 closed

[2019-09-30 21:52] zepumph commented on #169
Before I start this work, here is a snippet of GFLB, so I can regression test:

![Uploading image.png…]()

[2019-09-30 23:13] zepumph commented on #169
This has been implemented. @terracoda please review. Specifically please focus on the following items

* Please check that the two object labels (like on m1 by m2) is correct and not backwards
* Make sure that they update to changes in the sim as expected (especially the control panel checkboxes)

Thanks!

[2019-09-30 23:36] zepumph commented on #155
It seems like we want to add a brand new alert, which is based on the user component, not the model. This is at least how it sounds as it pertains to the implementation. This new alert would monitor if you were at the min/max mass already, and then the component was interacted with again in the respective end-point direction, yielding no change in the Property.

We implemented something like this

[2019-10-01 00:19] zepumph commented on #155
In the below patch I have this working with a hard coded string that alerts at the correct time. I took some notes about how I can formulate the dynamic string but first I want to discuss this with @terracoda. To add in the dynamic string will take a bit more work and refactoring, so I want to make sure that what I am thinking for these alerts is aligned with her, this will save time I think.

<de

[2019-10-02 17:34] terracoda commented on #169
Looks good @zepumph! Closing!

[2019-10-02 17:34] #169 closed

[2019-10-02 20:01] terracoda commented on #155
@zepumph, in https://github.com/phetsims/gravity-force-lab/issues/155#issuecomment-536795360 you said,

But, how do we do it for the edges of the Position sliders in this sim and in GFL:Basics? For example:
- **Reaching edge:**
  - Track end left, force vectors get smaller, forces now 0.057734 micronewtons.
- **Then 1st key press beyond edge:**
  - Far from ‪m2‬, force vectors very small, forces 0

[2019-10-02 20:12] terracoda commented on #155
@zepumph, warning that some of the example values might be wonky in the examples above. Technically there is no state change between the last alert when the user reaches the maximum or minimum and when they try to go beyond that maximum/minimum. We just deliver "state information" instead of "what's happening" information.

[2019-10-08 01:08] zepumph commented on #144
This issue was solved by https://github.com/phetsims/sun/issues/525, out for review there. Closing

[2019-10-08 01:08] #144 closed

[2019-10-08 01:17] zepumph commented on #133
@terracoda over in https://github.com/phetsims/gravity-force-lab/issues/173 we made the slider jump by 50. We also made the min value 10kg. I then just added the ability for it to round to default step size. This does not happen with page step, by design. Let me know what you think.

Please note that shift keyboard step is currently broken, and will be solved over in https://github.com/phetsims/sc

[2019-10-08 01:24] #102 closed

[2019-10-08 01:24] zepumph opened #180 "QA Credits"
When the time comes, it is here.

[2019-10-08 01:25] zepumph commented on #176
Work may be complete, so I think that the ball is in @terracoda's court. Let me know if I can help.

[2019-10-08 01:26] zepumph commented on #177
@emily-phet now that we are working more on this sim. How would you like to proceed with this issue?

[2019-10-08 01:27] zepumph commented on #140
@jessegreenberg here is light ping on review here, since we are working on the Grab/Drag interaction again, as well as this sim. It would be nice to know what you think about this usage.

[2019-10-08 01:44] zepumph commented on #101
I poked around with this a bit, and I didn't find anything. I did note though that it does seem to happen in GFLB as well.

[2019-10-08 16:43] zepumph commented on #178
@terracoda and I noticed this too. I think we can try to figure that out now. It may be because #173 where we increased the min mass value on the NumberControls. I'll take a look

[2019-10-08 16:44] zepumph commented on #178
I'll take a look at the table regions in the design doc too to see how things have changed.

[2019-10-08 16:50] zepumph commented on #155
We wonder if this type of alert isn't worth adding as an option to AccessibleValueHandler, something like `beyondMinMaxAlert`, or `beyondEdgeAlert`.

[2019-10-08 18:46] terracoda opened #181 "Add sound to this sim"
At the sound design meeting we realized we need a more slider-y sound for GFL regular as the mass control is a continuous slider with a tweaker.

**Ideas & decisions:**
- Let's try the sound in Basics but limit the frequency at which it can be played
- At the max min values add an effect to indicate the end
- The range of the mass sound and the force sound will need to be adjusted for this sim as

[2019-10-08 20:00] zepumph commented on #178
The current values in the design doc are what are in the sim. The issue is that when we increased the min mass to 10kg from 1, we changed the min distance, and left the position regions stale. Now the min distance for the sim is

Note that this directly relates to https://github.com/phetsims/a11y-research/issues/146, since changing the range in https://github.com/phetsims/gravity-force-lab/issues/

[2019-10-08 20:01] zepumph commented on #155
@terracoda and I discussed this today, and I will basically implement the patch, and she will review from there.

[2019-10-15 16:30] terracoda commented on #141
See also, https://github.com/phetsims/scenery-phet/issues/536

[2019-10-16 16:56] terracoda commented on #178
@zepumph, I updated the [Table for the size of the force vectors and the effort of the robots](https://docs.google.com/document/d/1-37qAgde2XrlXBQae2SgjartM35_EnzDD9pdtd3nXAM/edit#heading=h.dd0bg8o9mrz8)

Size Force Vectors (force) | New Ranges (micronewtons) | Effort of Robots(counter force)
-- | -- | --
tiny | 0.000 072 - 0.166851 | pull very little
very small | 0.166852 - 2.206306 | pull a litt

[2019-10-16 17:24] terracoda commented on #178
@zepumph here's the adjusted regions, but keep in mind in this sims  we don't rely on the region ranges for delivery a qualitatively described experience. We only use the quantitative distance value in this sim. The region names are only needed in some context responses.

Farthest from | Extremely from  | Very far from  | Far from | Not so close to  | Close to  | Very close to | Extremely close to

[2019-10-18 16:26] terracoda commented on #138
@zepumph, I think J plus C is going to be a better alert than J plus S.
I think C speaks more to aligning the ruler to measure the distance between the centers of the spheres.

I don't think you have implemented these shortcuts yet, but we do have them them in them noted Keyboard Shortcuts.

In addition to implementing J plus C as the Shortcut, please be sure to update:
- [ ] Visual Keyboard Short

[2019-10-18 19:29] terracoda commented on #141
@zepumph there are 2 tables with all the context responses I think we will need. Please see [Interaction & Design Details for Measure Distance Button ](https://docs.google.com/document/d/1-37qAgde2XrlXBQae2SgjartM35_EnzDD9pdtd3nXAM/edit#heading=h.g7oj33o6p8qm) section in the design doc.

[2019-10-18 19:30] terracoda commented on #141
Please reassign if you have questions.

[2019-10-18 19:34] terracoda commented on #140
@zepumph, FYI I changed the label of the interaction and design context responses for grab and release. Please see updates in the design doc.

This likely doesn't affect much of the custom interaction part, though.

[2019-10-21 21:27] zepumph commented on #141
From https://github.com/phetsims/scenery-phet/issues/536#issuecomment-544698682, we aren't able to change the grab/drag interaction to support touch better. We are stuck with "double tap and hold" for application roles with mobile screen readers. The next steps for this issue seem to be:

* Note that https://github.com/phetsims/balloons-and-static-electricity/issues/452 is higher priority than thi

[2019-10-22 14:55] KatieWoe opened #182 "CT Distance between speres should always be positive"
[code]

[2019-10-22 18:33] zepumph commented on #182
Thanks and apologies @KatieWoe. Caused from https://github.com/phetsims/gravity-force-lab/issues/178. Hopeful fix above. I'll monitor CT before closing.

[2019-10-22 21:49] zepumph commented on #182
Looks clean since this morning. Closing

[2019-10-22 21:49] #182 closed

[2019-10-23 19:27] Ashton-Morris commented on #181
**Ideas & decisions:**

- We will start with the GFL:B Mass sound and choose a pleasant repetition interval for when the slider is being dragged.
- When the arrow buttons for Mass are pressed we will trigger one Mass sound
- We will map it to pitch and experiment with what range sounds best
- We will also try adding reverb to the smallest and largest mass option in order to audibly acknowledge the

[2019-10-23 20:25] terracoda commented on #181
@Ashton-Morris, in case you need to know:
-  range 10 kg to 1000
- default step with keyboard 50 kg
- larger step with pg up and page down is 100 kg
- smallest step with keyboard is 1 kg
- can jump to 10 kg with Home key
- can jump to 1000 kg with End Key

[2019-10-23 20:30] terracoda commented on #141
I got all the above done @zepumph
Please see the table of contents and everything marked (New).
Some stuff is in PDOM are and some stuff is below that.

[2019-10-23 20:32] terracoda commented on #141
Back over to you :-)

[2019-10-28 23:44] zepumph commented on #138
@terracoda I implemented this above. You can either review this piece now, or perhaps wait and do everything together. One question I had was about the ordering of hotkeys. I found that this doesn't work when I hold 'H' and then hold 'J'. Is that expected?

[2019-10-29 00:26] zepumph commented on #141
First I will do the changes to the PDOM structure and content. I still think here is the best place for that.

[2019-10-29 00:39] zepumph commented on #141
I'm a little on the fence about whether or not to add alerts to master, or to a branch. This is because we are unsure if time will permit us to add these. I think for now I will proceed in master, but in a modular ruler alert specific type so if could be easy to omit it from a publication.

[2019-10-29 16:11] #176 closed, assigned to terracoda

[2019-10-30 18:48] terracoda commented on #141
@zepumph, I think all the alerts I have provides thus far should be good for master.
The alerts to come wold be for movement with the arrow keys. Those alerts may something we decide not to publish if we can't get them just right.

[2019-10-31 17:34] terracoda commented on #141
@zepumph, when you are done and have a chance can you publish a dev version, so I can test on iphone, too.

[2019-11-04 19:08] zepumph commented on #138
@terracoda noticed that sometimes you have to press the hot keys more than once to get them to fire. For example in the following sequence, I reliably needed to press "J + C" twice, only the second time did it move:

J+C
J+C
J+H
Enter (to grab again)
. . .

[2019-11-04 19:55] zepumph opened #183 "m1 and m2 label texts are not stateful"
From a client:

This seems to be because it is a `RichtTextIO` instead of a `TextIO`, and they handle state differently. Honestly I'm unsure why we need both of these. They feel like implementation details leaking to the public api. I'll create a scenery issue.

[2019-11-04 20:00] zepumph commented on #183
This will be solved by https://github.com/phetsims/scenery/issues/1009.

[2019-11-04 23:20] zepumph commented on #141
Alerts when the ruler is grabbed should be implemented now. @terracoda please review.

[2019-11-05 00:44] zepumph commented on #155
This should be implemented now. @terracoda, besides some of the strange capitalization, how does this look? We can update the capitalization, but it will take a bit of effort, and I wanted to get the content reviewed to make sure it was worth the change.

This should be implemented in GFLB and GFL.

[2019-11-05 00:46] zepumph commented on #178
I updated the tables. I'm going to go ahead and close this issue, and keep going in https://github.com/phetsims/a11y-research/issues/146 for a general solution to hard coded tables.

[2019-11-05 00:47] zepumph commented on #104
Pinging this issue again. It seems like we are moving forward with the full range of the ruler as movement bounds. Should we re-evaluate that, close this issue, or do something else?

[2019-11-05 17:14] zepumph commented on #138
- [ ] I also need to implement the alerts from jumping.

[2019-11-05 19:56] zepumph opened #184 "Update to keyboard ruler grab alert on second grab"
We want to change keyboard second alert to be the same "J+C" hint if not in middle three regions. See
https://docs.google.com/document/d/1-37qAgde2XrlXBQae2SgjartM35_EnzDD9pdtd3nXAM/edit#heading=h.hs6xmhwez4kt  "Table: Example grab responses for ruler (keyboard & gesture)"

Only for the second alert.

[2019-11-05 20:00] #184 closed

[2019-11-05 20:01] zepumph opened #185 "Fix vertical ruler regions"
The first pass at implementation was done in https://github.com/phetsims/gravity-force-lab/issues/141, but they still need to be tweaked. First I will create a visual way to display them.

[2019-11-05 21:29] zepumph opened #186 "Two hotkey presses needed after J+H hotkey"
From https://github.com/phetsims/gravity-force-lab/issues/141, and https://github.com/phetsims/gravity-force-lab/issues/138.

The bug is outlined in https://github.com/phetsims/gravity-force-lab/issues/138#issuecomment-549501889:

J+C
J+H
Enter (to grab again)

[2019-11-05 21:57] jbphet commented on #181
@terracoda, @emily-phet, @terracoda and I reviewed the latest version of the sound implementation today and concluded that the force sounds and the boundary sounds are in good shape at this point.  The mass sound generator should be changed to play sounds for discrete values, similar to what is done in Resistance in a Wire, when the user is changing the value via the slider, but otherwise the curr

[2019-11-05 22:20] zepumph commented on #186
After investigation with @jessegreenberg, we found that this had to do with how the J+H hotkey was calling "releaseDraggable" but needed to interrupt the `KeyboardDragListener` as a part of that. Furthermore, we were resetting the timer after the hotkey callback, so even though the interrupt was working as expecting and resetting the timer back to the threshold value (to fire immediately after nex

[2019-11-05 22:22] zepumph commented on #138
Today, @terracoda said she would look over things, and then let me know when these jumping alerts are ready for implementation. Unassigning until then.

[2019-11-05 23:24] zepumph commented on #185
@terracoda, these vertical regions for the ruler are ready for review now. The best way to test is by adding the `showRulerRegions` query parameter. This will do a few things:

* Add horizontal lines at the boundaries
* add crosshairs on the ruler so you can see the point that is being tested
* prints the region names to the console, so you can see them in the developer tools.

Let me know what yo

[2019-11-06 00:48] terracoda commented on #138
@zepumph, apologies for the delay. I reviewed and tweaked a couple of the phrases in the tables. The response (alerts) are ready to go.

[2019-11-06 01:03] terracoda commented on #185
The vertical ruler regions look great @zepumph!

[2019-11-06 01:57] terracoda commented on #155
@zepumph, the content for the beyond-edge alerts are great.
Can you adjust the capitalization, so it is sentence case? A capital on the first word, and then no capital on "Force"
**Change:**

**To:**

More importantly, there is some strange behaviour on the slider. I'll open a new issue for that.

[2019-11-06 02:10] terracoda opened #187 "Strange Mass Control slider behaviour"
While verifying https://github.com/phetsims/gravity-force-lab/issues/155 I noticed some strange behaviour on the mass control sliders when using regular keyboard shortcuts. This might be a Mac OS issue - not sure.

Mac OS 10.13.6

Issues using Home and End keys on **Mass 1** (fn + left arrow or fn +right arrow)
- Using Home to jump to minimum I heard, "Mass 1" instead of "10 kilograms"
- Using End

[2019-11-06 02:11] terracoda commented on #185
Can we close this issue?

[2019-11-06 02:12] #185 closed

[2019-11-06 02:13] terracoda commented on #186
Seems like it is fixed to me. Thanks @zepumph.

[2019-11-06 02:28] terracoda commented on #141
@zepumph, the grabbed responses are working on keyboard, but as we discussed this morning I made a few tweaks to the actual phrases.

**Change:**

**To:**

As you noted as well, the `aria-roledescription` text needs to be changed to "movable".

I haven't tested on mobile yet.

[2019-11-06 02:31] terracoda commented on #141
@zepumph, is this ready to test on mobile voice over, too?

[2019-11-06 02:40] terracoda commented on #133
@zepumph, I think it would make sense to do the same rounding with Pg Up key, that is the first jump should go to 100 kilograms.

If this is hard to do we can discuss, as it is not difficult to get the values to a round 100 by switching back to the arrow keys.

[2019-11-06 16:48] jessegreenberg commented on #186
Reviewed the above commits and everything looks like a nice improvement, thanks @zepumph.

[2019-11-06 17:39] zepumph commented on #186
Thanks!

[2019-11-06 17:39] #186 closed

[2019-11-06 17:42] zepumph opened #188 "aria-roledescription for ruler should be "moveable""
From design doc comment:

[2019-11-06 21:11] zepumph commented on #183
This has been fixed. I should give another dev version to them soon.

[2019-11-06 22:05] zepumph commented on #183
I delivered the new version. Closing

[2019-11-06 22:05] #183 closed

[2019-11-07 22:03] KatieWoe opened #189 "Ruler only moves 1/2 of the time"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/455
When trying to drag the ruler, either with a mouse or touch screen it only grabs on every other time.

**Visuals**
![rulerwontdrag](https://user-images.githubusercontent.com/41024075/68431578-c6692a80-016f-11ea-9c78-87886f7ad116.gif)

Troubleshooting information

[2019-11-07 22:29] KatieWoe opened #190 "J+H ungrabs the ruler"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/455
When using keyboard nav, jumping the ruler to home position ungrabs the ruler.
**Steps to reproduce**
1. Use keybard nav and go to the ruler
2. Grab the ruler
3. Move it somewhere else
4. Press J and H

**Visuals**
![jhungrabs](https://user-images.githubusercont

[2019-11-07 23:06] KatieWoe commented on #189
Not restricted by platform

[2019-11-07 23:31] KatieWoe opened #191 "Possible to grab two things with one finger"
**Test device**
Dell or iPad
**Operating System**
Win 10 or iOS 12
**Browser**
Chrome or Safari
**Problem description**
For https://github.com/phetsims/QA/issues/455. Not in published version.
When dragging around the ruler using touch, passing over a robot will pick it up as well. This can be disruptive to user experience.
**Steps to reproduce**
1. Use touch to grab the ruler (twice to avoid http

[2019-11-08 00:41] zepumph commented on #190
This is expected behavior, bringing the ruler home "let's go" of it. Closing

[2019-11-08 00:41] #190 closed

[2019-11-08 00:45] zepumph commented on #191
Tagging @arouinfar, the ISLCObjectNode has a DragListener on it that is set to allow touch snag. This is a byproduct of this. I am not familiar with why `allowTouchSnag: true` was set for the pullers/masses. Is this desired behavior? Please note that this will effect GFL(B) and coulombs law.

[2019-11-08 00:48] zepumph commented on #191
Oh wait, perhaps this isn't right. It may be possible for a listener to "box out" any other listeners from accessing the current pointer. If so, is that what you want?

[2019-11-08 01:57] zepumph commented on #172
I ended up committing the common-code piece of this work over in https://github.com/phetsims/projectile-motion/issues/192. I'm unsure about how to proceed here, as it is pretty broken, but it seems like that faulty logic is built pretty deep into the way that ISLCModel is stepped. I'm not sure how long it would take to continue on the above patch, or if it is even worth it. I think I would like to

[2019-11-08 16:52] KatieWoe commented on #189
a11y view may give hint as to what is happening:
![behavea11y](https://user-images.githubusercontent.com/41024075/68495435-67f28980-020d-11ea-88aa-7b04f5d01a06.gif)

[2019-11-08 17:02] KatieWoe commented on #189
![behavea11y2](https://user-images.githubusercontent.com/41024075/68496104-cec47280-020e-11ea-8847-b0f6be20dafa.gif)

[2019-11-08 19:49] KatieWoe opened #192 "Sim doesn't open in IE"
Loading bar does not start to progress.  Error shown below.
For https://github.com/phetsims/QA/issues/455
![error](https://user-images.githubusercontent.com/41024075/68506139-23271c80-0226-11ea-88c4-c2e34be4c888.png)

[2019-11-08 21:08] jbphet commented on #192
The built version of Number Line: Integers is also not currently loading in IE, and I did a bit of digging and it looks like something has broken in the build process.  I'm seeing this in the `_debug` file:

[code]

This is in `QueryStringMachine`, and IE is barfing on the ES6 syntax.

I'm not sure if this is the same root cause, but I thought I'd mention it in case it helps.

[2019-11-08 21:23] pixelzoom commented on #192
`privatePredicate` was added to QueryStringMachine by me on 3/7/19. It’s been there awhile and was vetted, so unlikely to be the cause.

[2019-11-08 22:38] KatieWoe commented on #192
Impacts phet-io as well

[2019-11-08 23:16] zepumph commented on #192
This is a general issue that has to do with the es6 "spread operator" and effects every sim. It will be handled generall by https://github.com/phetsims/perennial/issues/153. Since this is just a dev test, I feel fine closing.

[2019-11-08 23:16] #192 closed

[2019-11-11 17:20] terracoda commented on #140
For mobile A11y gesture
- Voice Over highlight doesn't move with the ruler
- If pink highlight gets activated on any control (ruler, spheres, check boxes, etc.), it seems difficult for it to go away.
- Force alert when changing mass gets always chopped off... "As mass gets bigger, force vectors get b-"
- Force alert when changing position always gets chopped off... I think it is because Voice Over

[2019-11-11 17:27] terracoda commented on #140
Verifying Keyboard for
https://phet-dev.colorado.edu/html/gravity-force-lab/2.2.0-dev.16/phet/gravity-force-lab_en_phet.html

- grab and drag working
- shortcuts working

[2019-11-11 19:01] zepumph opened #193 "Publish a PhET-iO version"
We have heard back from a client, and are ready to publish this sim for PhET-iO. @kathy-phet, could this be wrapped into the accessibility publication coming up? The goal is to have that published by December 14th. Does that seem acceptable for this?

[2019-11-11 19:13] kathy-phet commented on #193
That seems fine. I don't think the client needs it any earlier.

[2019-11-11 19:53] zepumph opened #194 "Voice Over highlight doesn't move with the ruler"
@terracoda @jessegreenberg and I found that the VO focus highlight often doesn't "keep up" with the scenery Node. We should make sure that the css transforms of the PDOM are constantly staying in sync with the scenery Node (assigning @jessegreenberg to investigate this).

We then noticed that grabbing the ruler doesn't always work in mobile VO (gesture). This may have to do with the fact that scen

[2019-11-11 19:57] jessegreenberg commented on #194
No longer on hold because I can easily see the element bounds are not correct on chrome.

![image](https://user-images.githubusercontent.com/6396244/68616681-85388980-0493-11ea-8171-610ae48b3289.png)

[2019-11-11 20:04] zepumph opened #195 "Gesture support: ruler can get stuck behind mass controls"
Since the way we setup the mobile gesture VO interaction forwards the PDOM activation to a touch event directly to the scenery Node, it is possible that, when the ruler is behind the mass controls, that that touch event get's blocked by a mass control. I am not sure of an easy solution here, as I don't think we are going to change the underlying interaction (forwarding to a touch event at the cent

[2019-11-11 20:08] zepumph commented on #104
Over in https://github.com/phetsims/gravity-force-lab/issues/195, our life would be easier if you couldn't move the ruler to be fully underneath the mass controls. Does it seem reasonable to change the drag bounds for the ruler to be bottom bounded just above the controls, something like the picture below. For a solution for #195 we would just need to make sure that the center point of the ruler c

[2019-11-11 20:09] zepumph commented on #195
I think that my preferred solution would  be to change the available drag bounds, see  https://github.com/phetsims/gravity-force-lab/issues/104#issuecomment-552594729 for comment and I'll see over there for further discussion.

[2019-11-11 20:12] zepumph opened #196 "Alerts cut out when VO highlight changes"
From https://github.com/phetsims/gravity-force-lab/issues/140#issuecomment-552534326, @terracoda found that position and mass alerts (mainly and consistently position alerts) would cut off because the VO highlight would be delayed in how it updates, and when it moved, the alert would be half way read through, and its movement would cause the alert to stop reading. Perhaps this has something to do

[2019-11-11 20:17] zepumph opened #197 "Gesture support: Pink highlight appears often and is hard to remove"
From https://github.com/phetsims/gravity-force-lab/issues/140#issuecomment-552534326. Since mobile devices and iOS Voice Over don't rely on focus, it seems a bit buggy to get focus highlights in these cases. Especially since for the grab/drag interaction, the focus highlight include the "space to grab" panel.

I wonder if there are any spots in GrabDragInteraction where we are accidentally focusin

[2019-11-11 20:19] zepumph commented on #140
I created #194 through #197 to investigate the above bugs found with gesture mobile a11y. It didn't seem like there were any actionable steps to take for keyboard.

From here I would recommend creating new issues for further testing and results, and letting this issue be a review of the grab drag implementation added 8 months ago.

[2019-11-11 20:27] zepumph commented on #133
This sounds reasonable to investigate, but I have a further question first. If you use plain arrow keys to select 150kg, then what would you like to pg up and pg down keys to do? Round to the nearest hundred? or go up by 100?

I think it makes the most sense to me to keep things the way they are. If you disagree, the next step would be to change the `pageKeyboardStep` option to be a function that

[2019-11-11 21:40] zepumph commented on #138
There have been implemented (I think) as we want them, but because of #189, they aren't yet working. I'm going to head over there now.

[2019-11-11 22:08] zepumph commented on #189
This is happening because we added `this.node.interruptInput()` as part of the `baseInteractionUpdate`. This was added for a reason relating to the keyboard drag listener. I can't exactly remember. @jessegreenberg can we talk about this together tomorrow. It isn't obvious to me currently how we will support the cross product of device listeners support (mouse/keyboard/gesture) and features (alerts

[2019-11-11 22:09] zepumph commented on #189
The interrupt line was added over in https://github.com/phetsims/gravity-force-lab/issues/186.

[2019-11-11 22:28] zepumph commented on #155
Above is the "force vector" capitalization fix. To get the other fix, we will need to implement a completely different set of regions, all capitalized instead of lower case. I think this may take about an hour or so. Does that sound reasonable to you @terracoda?

[2019-11-11 22:36] zepumph commented on #141
I made the phrase changes, and removed the "move in four directions" role description. I also removed it from faradays law, as likely that will become "movable" when we get there too.

Over in https://github.com/phetsims/gravity-force-lab/issues/140#issuecomment-552534326 you gave good initial feedback from gesture testing. I'm going to close this issue and carry on in sub issues from that feedbac

[2019-11-11 22:37] zepumph commented on #188
Oops, this was done in https://github.com/phetsims/gravity-force-lab/issues/141

[2019-11-11 22:37] #188 closed

[2019-11-11 22:39] zepumph commented on #191
Please ignore the above commits, they were meant for https://github.com/phetsims/gravity-force-lab/issues/172

[2019-11-11 23:15] lmulhall-phet opened #198 "Not able to move robot or mass"
<b>Test Device</b>

MacBook Air

<b>Operating System</b>

macOS 10.14.6

<b>Browser</b>

Chrome 78.0.3904.87

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/455.

I was messing around in the "Data: JSON" wrapper and I noticed that I wasn't able to move the robot or the mass. I had devtools open and I was using the "device mode" feature. The bug persists if you close devtools

[2019-11-11 23:18] terracoda commented on #155
@zepumph, I think you should leave the lower case at the start of the alert for now. It is much better without a capital "F" in the middle of the sentence ;-)

It is likely time much better spent to create a common-code regex function that is capable of checking for case on the first word of a context response.

[2019-11-11 23:20] KatieWoe opened #199 "ChromeOS unable to record phet-io"
For https://github.com/phetsims/QA/issues/455
For ChromeOS, when using the record wrapper, typing window.saveLogToFile gives the error
[code]

[2019-11-11 23:21] terracoda commented on #155
This is an issue that keeps popping up, so best to create a general solution. I don't like the hard-coded solution of a set of regions that are uppercase and a set of regions that are lowercase.

[2019-11-11 23:22] terracoda commented on #155
Go ahead and mark ready to review, if that's where you are with this one ;-)

[2019-11-12 00:35] zepumph commented on #155
I don't like them either, but I also don't know a translatable and more general solution. We could do a bit more work investigating, but, like in https://github.com/phetsims/molarity/issues/107, I'm unsure what will come from it. If we want to support i18n, we can't assume that capitalization strategies for English will work for all languages, and we likely will unfortunately need a separate copy

[2019-11-12 01:30] zepumph commented on #198
Thanks for the bug report.

Technically, the data json page is the "standalone" sim, in that it isn't embedded in another wrapper. That link just adds a query parameter to print events to the console. This is only to say that it is strange that this occurs here but not in the standalone version. The `Data: colorized` is quite similar to the json page. Can you reproduce this there?

* Can you get t

[2019-11-12 01:51] zepumph commented on #187
This is very weird! I don't get any of these oddities on windows 10 chrome/firefox nvda. When pressing home/end, I consistently get "1000 kilograms." And I only get the (correct) label on focus (Mass 1 slider 1000 kilograms).

Are you able to consistently reproduce this?

[2019-11-12 02:28] terracoda commented on #187
It happens every time I use the Home and End key shortcuts.

**When focus is on Mass 1 slider:**
- Pressing Home key -> I get "Mass 1", then right after a context response (alert) with the correct force value.
- Pressing End key -> I get "10 kilograms, Mass 2, slider" (as if I moved focus to Mass 2, though I haven't), then again right after I get the correct context response with the correct force

[2019-11-12 02:47] terracoda commented on #155
@zepumph, I didn't realize you needed duplicate regions for internationalization.

Based on recent work, I feel it's only context responses that need sentence case, so yes, let's go ahead and open an issue for that, so we can discuss this further, and potentially find a general solution.

@zepumph, I just noticed an "is" in the response. Please remove need for the "**is**". Sorry, I missed that.
-

[2019-11-12 02:52] terracoda opened #200 "Is there a way to have consistant sentence case for context responses?"
Based on https://github.com/phetsims/gravity-force-lab/issues/155#issuecomment-552709648

@terracoda would like to discuss further the possibilities for a general solution that would help with easily producing sentence case for context responses.

Early investigations have happened in https://github.com/phetsims/molarity/issues/107

[2019-11-12 02:53] terracoda commented on #155
Back over to you to remove the "is", and then we can close :-)

[2019-11-12 03:01] terracoda commented on #133
@zepumph, I agree, we can

It's easy to get back to the basic even rounding if that is what the user wants to do by going back to using the arrow keys.

[2019-11-12 03:03] terracoda commented on #133
And, in addition hitting the end will also get things back to even rounding, so, yes, let's leave this for now.

@zepumph, do we close this issue, or put it on hold?

[2019-11-12 03:06] terracoda commented on #187
And, one time, I managed to  grabbed a screen shot.
Note where the pink focus highlight is, and what VO is saying. I had just pressed the End key.
<img width="814" alt="Screen Shot 2019-11-11 at 10 41 22 PM" src="https://user-images.githubusercontent.com/1902116/68638387-f69c2a80-04db-11ea-80d3-65512dc95556.png">

[2019-11-12 06:44] zepumph commented on #133
Close sounds good to me.

[2019-11-12 06:44] #133 closed

[2019-11-12 17:34] terracoda commented on #155
@zepumph, is going to capitalize the regions the beyond-edge context response (comparative mass regions)

[2019-11-12 18:22] zepumph commented on #155
How important is this to you? Currently the phrase "force vector is {{size}}" is used in multiple places, including this alert for beyond min/max mass. The "is" could be factored out, but unless it is vital, the code will look better having a single function to get this phrase for its various uses. Is that alright?

[2019-11-12 18:35] zepumph commented on #155
Added capitalization above. I'll use the above commit to describe the duplicated string issue to other developers. Over to @terracoda to answer https://github.com/phetsims/gravity-force-lab/issues/155#issuecomment-553031135.

[2019-11-12 19:03] zepumph commented on #138
Oops, I was adding the wrong utterance to the queue. These should be working now. @terracoda this is now ready for review.

[2019-11-12 19:05] zepumph commented on #200
I'm going to ask the developers if there are any ideas this Thursday. I'm not hopeful though.

[2019-11-12 20:24] terracoda commented on #138
@zepumph, these shortcuts work and sound great!
I checked off https://github.com/phetsims/gravity-force-lab/issues/138#issuecomment-549919290

Sounds like it is done to me. Nice work!

[2019-11-12 20:24] #138 closed

[2019-11-12 20:31] terracoda commented on #200
I think the only thing that we would have to check is the case where a general description parameter (i.e., one that is used in object response or in dynamic descriptions, and also in context responses).  When a general parameter starts a context response, we may need to double check it and potentially switch it to upper case.

[2019-11-12 20:33] terracoda commented on #200
Hmm, I guess there could be similar situtations in the PDOM? Maybe the issue is more general to both the context responses and the PDOM content.

[2019-11-12 20:37] zepumph commented on #189
We found that this isn't happening for BASE because the pointer listener is added to the parent of the Node that gets the grab/drag interaction.

[2019-11-12 20:46] zepumph commented on #189
The issue here is that we were interrupting all listeners on the Node. GrabDragInteraction shouldn't be able to interrupt everything, only the listeners that were going to be removed when converting to/from grabbable/draggable. The change was implemented above, and this bug has been fixed. Thanks @jessegreenberg for the idea!

[2019-11-12 20:58] terracoda commented on #195
@zepumph, I agree, just limiting how far down the ruler can go seems simple. It is not useful for it to go behind the mass controls.

I think we already tried the ruler (visually anyways) on top of the controls. It can actually get in the way of the more primary interactive elements there, so I agree, I think it's better to limits range so it does go under the mass controls.

[2019-11-12 21:10] terracoda opened #201 "Ruler not released on touch when focus is moved away from it"
This may be related to #194 and other recent issues about the ruler interaction.

I just noticed on
https://phet-dev.colorado.edu/html/gravity-force-lab/2.2.0-dev.16/phet/gravity-force-lab_en_phet.html

That the ruler doesn't seem to get released and thus I am not able to regrab it. Maybe this is already known and this a redundant issue.

Doing no further testing on mobile until you give me a new

[2019-11-12 21:14] terracoda commented on #197
Just an FYI, when I move VO's focus to a slider and then double tap, I activate the pink focus highlight. This does not happen if VO is turned off and I double tap with regular touch.

[2019-11-12 21:21] terracoda commented on #140
@zepumph, the keyboard is working great. And I just posted #201 for gesture in case that wasn't already covered.

Close this issue when you feel the need.

[2019-11-12 21:22] terracoda commented on #140
I guess we will close when the related issues are completed?

[2019-11-12 21:45] terracoda commented on #155
The capitalization is great. The force vector size string is incorrect. It should be the same as the one used for the position sliders... Sorry, I missed this... I wasn't reading carefully. I only initially saw the "is".

**It should say**
comparattiveSizeOfMasses + **"force vectors {{sizeOfVectors}}"** + forcesValueInMicronewtons.

**For example**
- "Much much bigger than m1, **force vectors {{si

[2019-11-12 21:52] zepumph commented on #198
@lmulhall-phet, today @jessegreenberg and I were not able to reproduce this issue on his mac os. We loaded the data:json page and successfully dragged the sliders in a variety of device modes, all with dev tools open. Please reassign me if you find a way to reproduce. Thanks!

[2019-11-12 21:56] zepumph commented on #187
@jessegreenberg and I were able to crack this one today. The issue is only with home/end keys because VO seems to do something with those shortcuts. In shortcuts doc, it says that `VO + Home` goes to the top of an area, and end goes to bottom of it. It seems like there is a VO bug where the `fn + left/right arrow` keys are somehow being mapped into the `VO+home`. This is buggy in a few ways.

* Th

[2019-11-12 21:57] zepumph commented on #189
I'm going to close this issue.

[2019-11-12 21:57] #189 closed

[2019-11-12 23:19] KatieWoe commented on #199
Same seems to happen on Safari on MacOS 10.15

[2019-11-12 23:21] KatieWoe commented on #199
Wait

[2019-11-12 23:31] KatieWoe commented on #199
The cause for this problem was that the console must be open before the page loads for the recording session to work.  Feel free to close.

[2019-11-12 23:33] lmulhall-phet commented on #199
Added to QA Book. See https://github.com/phetsims/QA/blob/master/doc/qa-book.md#events-recording-wrapper-test.

[2019-11-13 21:38] arouinfar commented on #191
@zepumph I don't think touchSnag is necessary in this sim or GFLB because the masses are quite large. However, it would be nice to keep in Coulomb's Law because the charges are quite small on the Atomic Scale screen.

It sounds like this would effectively disable touchSnag on the masses while the ruler is being dragged. If so, I think it'd be worth trying out @zepumph.

[2019-11-13 21:43] arouinfar commented on #104
@zepumph I'm a bit out of the loop on the latest decisions for this sim. If the current spec is allow the ruler to have full range, this issue is likely moot, but it would be good for @terracoda to confirm.

That sounds reasonable to me @zepumph.

[2019-11-13 23:23] terracoda commented on #104
@arouinfar, on a11y mobile it is very difficult to grab the ruler when it ends up behind the masses. It serves no purpose for the ruler to go there, so I think it is fine to restrict the movement, so it is always easy to grab the ruler on mobile a11y.

For accessibility, the ruler is totally optional, but users can still use it.

[2019-11-14 00:05] lmulhall-phet opened #202 "One way of using VoiceOver does not allow user to move masses"
**Test Device**

MacBook Air

**Operating System**

macOS 10.14.6

**Browser**

Safari 13.0.3

**Problem Description**

For https://github.com/phetsims/QA/issues/455.

There is a scenario in which a user is not able to move a mass with the keyboard. I'm wondering if the way in which VoiceOver and keyboard navigation are used in this scenario is standard practice.

**Steps to Reproduce**

1. `contr

[2019-11-18 19:31] jessegreenberg commented on #194
When moving the ruler wiht the keyboard the positioning update is correct. When moving the ruler with the mouse/pointer positioning is incorrect.

[2019-11-18 20:06] terracoda commented on #202
@lmulhall-phet, I don't seem to be experiencing the same issue.
- the slider does moves visually - same as you, and when I use control + option + an arrow the pdom does not seem to change in value. At least, the no changed value is read out by VO.
- I don't see the little square black VO highlight that you see, so I can't tell if the slider actually moves, but the descriptions that VO announces do

[2019-11-18 20:07] terracoda commented on #202
@lmulhall-phet, I am using VO in MacBook Pro MacOS 10.13.6

[2019-11-18 20:08] terracoda commented on #202
Personally, I wuold mark this as Screen Reader specific and will not fix.
@lmulhall-phet, does that make sense to you, or did I miss something?

[2019-11-18 20:12] terracoda commented on #202
I will add that this bug also exists in published version of RIAW, and we might have decided not to fix it in the QA of that sim. I'm not sure how to look for that.

[2019-11-18 20:33] terracoda commented on #202
@lmulhall-phet, please reassign to me if you think I missed something.

[2019-11-18 21:48] jessegreenberg commented on #194
We worked on this part today and have a fix committed. The positioning is correct on grab/release now and so this should be mostly working for the user. But the positioning still isn't updating while dragging. We tried to see if this was happening in BASE and it is not.

[2019-11-18 21:51] jessegreenberg commented on #194
The elements should update when the node transform changes, but I notice that we are never hitting the listener on the TransformTracker.

[2019-11-18 23:44] zepumph commented on #104
This was implemented above. Please review in GFL and CL. Assigning to both designers.

[2019-11-18 23:45] zepumph commented on #195
Because of commits over in https://github.com/phetsims/gravity-force-lab/issues/104, this should be fixed now. It is out for review, but it would be good to confirm that this is fixed. Assigning to @terracoda to see if she can report this as fixed.

[2019-11-18 23:51] zepumph commented on #200
After talking with developers, the current method of doing this is the recommended approach. If a capitalized and a lowercased string both needed, then two translatable strings must be provided.
Here is a copy of the decision making:
![image](https://user-images.githubusercontent.com/6856943/69103797-db1cac80-0a12-11ea-8588-1e3120f0090e.png)

@terracoda I think this should be closed, please do so

[2019-11-18 23:52] #199 closed

[2019-11-19 00:24] zepumph commented on #191
This issue could be solved by just adding the "attach: true" flag to the `MovableDragHandler`, but I figured that this was a good reason to convert to the more modern `DragListener`, which attaches to the pointer by default.

The only issue about the current strategy is that this conversion suffers from https://github.com/phetsims/scenery/issues/1014, and as a result, I had to turn off the "applyO

[2019-11-19 00:30] zepumph commented on #191
I'm going to add "blocks-sim-publication here until https://github.com/phetsims/scenery/issues/1014 is fixed, if it will take a while, then perhaps I will create another issue to solve it.

[2019-11-19 00:48] zepumph commented on #155
Sounds good; implemented above. Anything else here @terracoda?

[2019-11-19 01:40] zepumph commented on #201
@terracoda, the above commit was worked on as part of #194, but @jessegreenberg and I think it may effect this issue. Has this been fixed?

[2019-11-19 01:42] zepumph commented on #187
It would be nice to discuss this during our meeting @terracoda.

[2019-11-19 18:56] zepumph commented on #187
@terracoda and I spoke about this more today. We were very curious about what made this an issue for the mass controls, but not the position sliders. After some investigation, we found that having a label on the div around the mass controls was turning it into a "group" that was triggering the VO bug where home/end would go to the front/end of the group. Getting rid of the group, fixed this bug fo

[2019-11-19 20:58] terracoda commented on #202
@lmulhall-phet, and I realized having the black VO cursor highlight is a VO setting. When I turn it on, I see what you see.

[2019-11-19 21:00] jessegreenberg commented on #194
We discussed this today with help from @jonathanolson. We decided that we will add a setter to Accessibility.js to specify the source Node whose transforms should control updates to the PDOM siblings.

We brainstormed some potential names for this field
[code]

We like `pdomTransformSourceNode` at this time. It is long but this is a pretty low level/complicated function so we are OK with that.

We

[2019-11-19 21:04] jessegreenberg commented on #196
Someone with a mac will need to investigate this, I can look into this, potentially pairing with @zepumph if we have time.

[2019-11-19 22:22] zepumph commented on #196
We didn't have time! Unassigning, but let me know @jessegreenberg if you would like assistance. Thanks for the help.

[2019-11-19 22:28] zepumph commented on #187
@terracoda can you confirm this is fixed in master. If all is good with this particular case, then we can close.

[2019-11-19 23:08] lmulhall-phet commented on #202
@terracoda, as long as you don't think someone would find this confusing, then I think it's OK to close.

Just to be clear, VoiceOver doesn't instruct me to use `control` + `option` + an arrow key to move the slider, I just happened to do it that way. That's how I discovered scenario ii. I wasn't sure if this was standard practice or just a weird thing I was doing.

Thanks for looking into this, @

[2019-11-19 23:35] arouinfar commented on #104
@zepumph the ruler's stopping point behind the mass/charge controls is looking good. This issue seems safe to close, but not sure, so back to @zepumph

[2019-11-19 23:41] terracoda commented on #202
@lmulhall-phet, I appreciate your testing a lot, so thanks. We don't support every screen reader command, though is some critical cases we can chose to do something that is screen reader specific.

Screen reader commands are highly customizable, so following W3C ARIA interaction patterns is a safer bet in general.

Thanks for your careful testing. Closing.

[2019-11-19 23:41] #202 closed

[2019-11-19 23:43] zepumph commented on #104
Great thanks!

[2019-11-19 23:43] #104 closed

[2019-11-19 23:43] zepumph commented on #195
This has been fixed by https://github.com/phetsims/gravity-force-lab/issues/104, as soon as @terracoda confirms, this issue can be closed.

[2019-11-19 23:59] jbphet commented on #181
@terracoda, @Ashton-Morris, and @emily-phet - I've published a version for review the includes discrete increments for the mass sounds when the slider is dragged, decent handling for keyboard-based changes, and common UI sounds.  Please review and provide your feedback.

https://phet-dev.colorado.edu/html/gravity-force-lab/2.2.0-dev.19/phet/gravity-force-lab_en_phet.html?supportsSound

[2019-11-20 00:00] jbphet commented on #181
One thing I noticed when playing around with it is that we don't have pickup and release sounds for the ruler.  I'm thinking I should add them.  How about I use the same ones that we used in Friction in the magnifier view?

[2019-11-20 00:08] terracoda commented on #201
@zepumph, the ruler was successfully released a couple of times, and I heard the appropriate response a couple of times, but there are still  issues.

- I don't always hear "Released" when I lift my finger
- I don't always hear the associated grab alerts and release alerts
- the VO highlight is sometimes not around the ruler when cycle back through items looking to grab it again

I am also having

[2019-11-20 00:10] terracoda commented on #201
I might need to call in some help from an expert gesture VO user.

[2019-11-20 00:11] terracoda commented on #201
@zepumph I was testing dev 18 in https://github.com/phetsims/gravity-force-lab/issues/201#issuecomment-555773981

[2019-11-20 00:18] jessegreenberg commented on #201
Sorry if you are already aware of this, but there are different ways to scan content with the cursor. If you twist two fingers counterclockwise you can switch between reading lines, navigating buttons, navigating by heading, and so on. Is it possible it is stuck on "containers" setting instead of "lines"?

[2019-11-20 00:20] terracoda opened #203 "Gesture: Ruler helptext is read out multiple times"
In 2.2.0-dev.18, the help text delivered when the Measure Distance Ruler gains gesture focus is read out three times instead of just once.

[2019-11-20 00:22] terracoda commented on #203
@zepumph, I am sorry I do not know why. Could you check that the help text content appears in the code in a single place.

[2019-11-20 00:24] terracoda commented on #194
Today in 2.2.0-dev.18 I noticed that the VO highlight moves tot eh ruler sometimes when the pink focus highlight also shows up. Once the pink focus highlight shows up, the black VO highlight seems to jump into place around the ruler. This happens randomly as far as I can tell.

[2019-11-20 00:26] jessegreenberg commented on #194
Thanks @terracoda! I think that is to be expected at this time, hopefully https://github.com/phetsims/gravity-force-lab/issues/194#issuecomment-555711695 will have this fixed.

[2019-11-20 00:30] terracoda commented on #195
@zepumph, yes, the dragging movement no longer allows moving the ruler deep under the mass controls.

Still having other issues, but the dragging bounds seem to be nice.

[2019-11-20 00:38] terracoda commented on #203
This is a serious problem. It the help text is being read out 6 times now.
Are we using aria-describedby? If so, maybe it doesn't work well on mobile safari? Maybe we should try without it and see what VO does.

[2019-11-20 00:41] terracoda commented on #203
@zepumph I marked high priority as I can't use the sim with that kind of repetition going on. And I  do not know how to debug it. (Sorry)

[2019-11-20 00:43] terracoda commented on #195
Closing.

[2019-11-20 00:43] #195 closed

[2019-11-20 00:54] terracoda commented on #187
Without the group identification (aria-labeledby assocaition with the h3 Mass Controls) the sliders are working fine with Home and End keys. Focus changes are working correctly.

And VO keys plus fn-left/right now do their VO thing going to start and end of sim's main article element.

Closing issue. Thanks @zepumph!

[2019-11-20 00:54] #187 closed

[2019-11-20 01:19] terracoda opened #204 "PDOM order change: Considering putting Measure Distance Ruler in Play Area"
@zepumph, how difficult is it to change the focus order of the Ruler and it's help text?

Once we changed the "Grab Ruler" to a "Measure Distance Ruler" button,  it seemed it might be safe to have it back in the Play Area in its original position.

@zepumph, is something that is not so difficult to do, or is it quite involved?
I am a little worried about moving it since things are not yet working

[2019-11-20 01:40] #141 closed

[2019-11-20 01:43] terracoda opened #205 "Keyboard Interaction: Measure Distance Ruler - Combining Release and Grab strings"
In https://github.com/phetsims/gravity-force-lab/issues/141 the Grab alert was corrected.

However, recent changes seem to have combined "Released" and "Grabbed" strings into the grab response.

![Screen Shot 2019-11-19 at 9 18 51 PM](https://user-images.githubusercontent.com/1902116/69201693-c0812b00-0b19-11ea-9675-6828a619e380.png)

@zepumph, could you have a look. It might just be a copy/paste

[2019-11-20 01:49] terracoda commented on #205
And "Released" is said twice on an actual release, so maybe these extra "Release" strings are creeping in from the gesture implementation?

![Screen Shot 2019-11-19 at 10 17 56 PM](https://user-images.githubusercontent.com/1902116/69201957-a3009100-0b1a-11ea-956b-aa63bdea1533.png)

[2019-11-20 01:53] terracoda commented on #205
@zepumph, actually, I think the double "Release" was just a timing glitch. I think only one "Release" is being spoken on the actual release interaction, and there is an erroneous "Release" string being added to the grab interaction response.

[2019-11-20 04:12] emily-phet commented on #181
@jbphet - Sure, let's see how that feels with the other sounds.

[2019-11-20 06:33] emily-phet commented on #177
@zepumph I think we've missed the moment for thoughtful exploration here - momentum is building towards wrapping up on the sound side. Pick up/Drop sounds are being added to the ruler, and I think (with the holiday's fast approaching) there isn't time to implement/iterate on this before end of quarter. I think we'll need to punt on this one, and take up the issue of consistent boundary sounds acro

[2019-11-20 13:54] terracoda commented on #181
@jbphet, and @emily-phet, there are also 2 custom jump hotkeys for ruler:
- J + C to jump zero mark to center of m1
- J + H to release ruler and arrange it back in home position

I don't know if these "jumps" need sounds.

In fact, I haven't thought about sonification for the ruler (apologies). It's use is non-essential for non-visual users, so I just wasn't thinking about it.  A lot of sims have

[2019-11-20 14:18] terracoda opened #207 "Scientific Notation checkable when Forces Values is not checked"
I thought we solved this issue already, however, I can't find the original issue.
**Issue:** I can check Scientific Notation checkbox when Force Values is not checked. This should not be possible because no force values are showing.

I am pretty sure there is artwork demonstrating these the greyed-out sates.
- Scientific Notation checkbox should be greyed-out AND disabled in the PDOM when Force Va

[2019-11-20 17:19] zepumph commented on #203
@jessegreenberg  I think this is because we added the down/up listeners, but we are also handling the gesture case on the PDOM side. Likely we want to just have this handled by the general presslistener that we added recently. I'll implement

[2019-11-20 17:32] zepumph commented on #204
This would be an easy change, just involving some rearranging in the screen view file. Let me know if you would like me to implement this.

[2019-11-20 17:33] zepumph commented on #205
I think that https://github.com/phetsims/gravity-force-lab/issues/203#issuecomment-556127803 actually applies to this issue:

[2019-11-20 17:41] terracoda commented on #204
Ok, good to know. No action required yet. I want to be sure before we move it up higher in the Tab order.

[2019-11-20 17:56] zepumph commented on #177
Alright, sounds good. I'm going to close this issue then, please reopen if you disagree.

[2019-11-20 17:56] #177 closed

[2019-11-20 18:00] terracoda opened #206 "Beyond-edge responses for mass control sliders?"
@zepumph, we implemented these beyond-edge responses for GFLB.
I'd like to do the same for GFL regular. I didn't hear them yesterday when I tested. 2.2.0-dev.18

[2019-11-20 19:11] KatieWoe commented on #191
Looks good on master.

[2019-11-20 19:37] zepumph commented on #207
@terracoda this was actually a purposeful design decision implemented for PhET-iO. The reasoning is because it makes for an easier api for customization. Can you outline the reasoning for wanting this for Interactive Descriptions. Perhaps we will need to rope in @arouinfar and @kathy-phet to this issue too for comment.

[2019-11-20 19:52] terracoda commented on #207
@zepumph, interesting about changing to simplify for PhET-iO. I understand the challenge.

However, @arouinfar and I had already discussed this at the beginning of the design process, and thougtht that we came up with a nice solution. I wish I had been looped in for the PhET-iO meeting ;-)

Our reasoning (from memory), essentially, it makes no sense to be able to turn on Scientific Notation if the

[2019-11-20 21:07] jessegreenberg commented on #194
`pdomTransformSourceNode` was added to Accessibility.js in the above commit. I also added QUnit tests for it.

[2019-11-20 21:09] jessegreenberg commented on #194
Used in inverse-square-law-common in the above commit. I tried to do exactly what we discussed in https://github.com/phetsims/gravity-force-lab/issues/194#issuecomment-555711695 but @zepumph would you please review these changes?

[2019-11-22 18:29] terracoda opened #208 "Ruler and sonification - add click sound (if possible)"
@jbphet is implementing sound for this sim over in #181.
He will be implementing the same grab and drop sounds for the ruler interaction (i.e., Measure Distance Ruler) that we used in Friction.

Related to my comment https://github.com/phetsims/gravity-force-lab/issues/181#issuecomment-556013184, I discussed a very simple sound idea for the ruler with @emily-phet yesterday.

@jbphet, we would like

[2019-11-25 16:03] terracoda commented on #155
Looks good, closing.

[2019-11-25 16:03] #155 closed

[2019-11-25 16:16] terracoda commented on #207
@arouinfar, when you get a chance please share your thoughts. Let me know if think this warrants some time in a design meeting soon.

[2019-11-25 16:36] terracoda opened #209 "When jumped, Ruler position not sticking to/moveing from m1 as expected"
@zepumph, just noting the movement of the ruler when using the keyboard is a little buggy.
Perhaps this is happening because I haven't given you general movement responses yet? In any case with or without general movement responses we will want to fix this behaviour.

1. There seems to be a rightward bound-border that is not respecting the most rightward possible position of center of m1.
2. I can

[2019-11-25 16:57] jbphet commented on #208
@terracoda - I have a question about this.  You said above:

Should this sound only be active when the ruler is being moved via keyboard interaction?  It doesn't seem to me like it would be very useful in other contexts, such as mouse and touch drag operations, and may even be a bit distracting, so making it active only during keyboard movements would be my initial inclination.

[2019-11-25 17:06] terracoda commented on #208
@jbphet, that's a good question, but how would we distinguish between touch gestures with or without a screen reader enabled? I don't think we can distinguish this.

I think we can potentially play with the volume to reduce potential distraction.

Honestly, though, I'd like to be able to try it out in all interaction modes. If we think it would work fro some users, we could potentially decide to m

[2019-11-25 17:41] jbphet commented on #208
@terracoda just spoke over zoom, and we decided that for the first round of this, I'll implement clicks on every movement of the ruler from the keyboard, and for mouse and touch I will set a motion threshold (we said to try something like 0.2 meters) where a click will occur after the ruler has been moved by that amount (basically a 2D version of what was done for slider dragging).

[2019-11-25 18:59] terracoda commented on #201
@jessegreenberg, thanks for the tip. I can get the roter tool to pop-up and adjust, but it's a bit tricky.

[2019-11-25 19:00] terracoda commented on #201
I am testing dev version
https://phet-dev.colorado.edu/html/gravity-force-lab/2.2.0-dev.19/phet/gravity-force-lab_en_phet.html

and still having some trouble with the ruler interaction.

[2019-11-25 22:16] Ashton-Morris commented on #181
I did now know you could even pick up the ruler until reading this. I think the common UI pickup + release would fit here.

I think the amount that the mass plays on the slider is a good amount.

The only issue I have is that I can still hear a slight clipping when only messing with the back distance/force. I feel like we had this issue last time with the same sound and am not sure what we did to

[2019-11-25 23:39] zepumph commented on #201
In the above commits @jessegreenberg and I worked on this problem, as well as potentially a few other issues currently logged.

We found that the grab/drag interaction was very buggy, because the center point of the `ISLCRulerNode` (the node with the grad/drag interaction added to it), was not on top of the `RulerNode` child to the `ISLCObjectNode`, so the press wouldn't always "grab" the ruler.

[2019-11-25 23:56] zepumph commented on #209
Good catch! This is because the drag bounds for the ruler were not large enough for when the left mass was so far over to the right. The "jumping" bypassed those drag bounds, and so when dragging after a jump it was "snapped" back to within the drag bounds. I update the bounds to support the zero mark going all the way to the right object position. Please review.

[2019-11-26 00:20] zepumph commented on #206
Can you be a bit more specific here? What device were you testing with? This is not something that we support for gesture iOS because the sim receives no events when this happens. The user tries to move beyond the max/min of the slider and the just repeats the current value without giving us anything. I was able to reproduce this problem on my iPad.

If this was not from a gesture device, then it

[2019-11-26 00:26] zepumph commented on #206
Oh! Also @jessegreenberg found original conversation about this same thing over in https://github.com/phetsims/gravity-force-lab-basics/issues/185#issuecomment-545180225, so I'll add it here.

[2019-11-26 00:45] zepumph opened #210 "Ruler can't be moved with gesture when under another item"
On the surface, this looks like the same sort of bug as with https://github.com/phetsims/gravity-force-lab/issues/201#issuecomment-558390873, but I think here we have something else.

First off, @terracoda sorry if there is another issue that embodies this bug. Let me know and we can combine.

The issue here is that the ordering of PDOM transforms isn't matching up in the same way as scene graph z

[2019-11-26 00:46] zepumph commented on #210
I'll add that when the ruler is in this position. I have not yet found a way to move it out of it at all.

[2019-11-26 01:08] zepumph commented on #203
I am able to reproduce this on 2.2.0-dev.18, but not on master. @terracoda please confirm this is fixed from other work @jessegreenberg and I have been doing in the dev version I will send you this evening.

[2019-11-26 01:10] zepumph commented on #205
Yes I get this sometimes. It is not because of any of the alerts. I think it has to do with the kinks we are still working out in successfully grabbing/releasing the ruler each time the user intends to. (like #201 and #210). I would like to try to sort out at least #210 and then see if this sounds any better.

I was having trouble when it felt like I wasn't able to grab it successfully each time,

[2019-11-26 01:18] zepumph commented on #194
This looks really awesome! I'm excited for these changes, especially in GFL

- [ ] Since `pdomTransformSourceNode` is only ever `Node|null`, this:
      `const transformSourceNode = this.node.pdomTransformSourceNode ? this.node.pdomTransformSourceNode : this.node;`
     can be simplified to `const transformSourceNode = this.node.pdomTransformSourceNode || this.node;`
- [ ] At first glance I'm a bi

[2019-11-26 01:22] zepumph commented on #197
I can also reproduce this. It is less than ideal. I can also tell that in some cases it seems like it is demonstrating some buggy cases, like when trying to move the ruler, focus highlight has appeared on other controls. I will try to reproduce and report back.

[2019-11-26 14:34] terracoda commented on #194
In [2.2.0-dev.20](https://phet-dev.colorado.edu/html/gravity-force-lab/2.2.0-dev.20/phet/gravity-force-lab_all_phet.html) the rVO highlight now floows teh position of the ruler and it is also displaying snug around the ruler now, too.

[2019-11-26 14:38] terracoda commented on #201
In https://phet-dev.colorado.edu/html/gravity-force-lab/2.2.0-dev.20/phet/gravity-force-lab_all_phet.html

Is getting released now.
VO highlight follows ruler.
Bounds is snug around the ruler.

Once the ruler got a little difficult to grab and move from the top edge of the screen, but in general I think this is issue is resolved.

Nive work @jessegreenberg and @zepumph

[2019-11-26 14:43] #201 closed

[2019-11-26 14:44] terracoda commented on #194
@zepumph and @jessegreenberg, if no code review is need here, I think we can close.

[2019-11-26 18:01] zepumph commented on #206
@terracoda and I found that this was working as expected on all our devices. @terracoda was also already aware that this feature didn't work on mobile devices. Closing

[2019-11-26 18:01] #206 closed

[2019-11-26 18:25] zepumph opened #211 "Remove ruler aria-describedby after 2 successful grabs"
After meeting with @terracoda today, we think that this is a good way forward, because the help text is too much each time you select the ruler.

[2019-11-26 19:06] zepumph commented on #211
@jessegreenberg will you please review this change. I ended up applying this completely in common code, because I felt like this is likely a sentiment that will be shared for most cases. I also added doc that made clear that this describedby association only applies when grabbable.

[2019-11-26 20:20] zepumph opened #212 "rename PDOMNode -> DescriptionNode"

[2019-11-26 21:23] terracoda commented on #211
Is there a dev release?

[2019-11-26 21:24] terracoda commented on #211
@zepumph, sorry, it is assigned to @jessegreenberg. If you want me to review it, I need a dev release ;-)

[2019-11-26 21:38] jbphet commented on #208
Notes from the 11/26/2019 review meeting:
+ The pickup and release sounds are a bit "squishy" sounding, and we'd like to try something a little more "crisp" and/or "sharper".
+ The distinction between the pickup and release is a little too subtle at this point, so the new sounds should be slightly more distinct from one another.
+ The motion sound is okay, but the group wasn't loving it.  Descript

[2019-11-26 23:12] zepumph commented on #212
@jessegreenberg if you have time to tackle this, that would be awesome, otherwise I'll get to it a bit later.

[2019-11-27 00:06] jessegreenberg commented on #210
I will look into further before making a general issue this issue because I don't understand it yet. It seems like this behavior contradicts what we determined in https://github.com/phetsims/scenery/issues/1024. I would have expected that the ruler would **always** be picked up in this case because it's Node is on top of the sphere/puller in the scenery z-ordering.

[2019-11-27 15:58] terracoda commented on #203
@zepumph, recent commits tot he ruler interaction have made it much much better over all. I am no longer hearing repeated help text. AND, I get no auto help text (no aria-describedby) after 2 grabs which I find really nice (thanks!).

There is still some quirkyness:
- Distance string in initial grab alert gets cut off.
- Ruler is a bit jumpy, meaning it can just move to another pot on the screen w

[2019-11-27 15:58] #203 closed

[2019-11-27 16:05] terracoda opened #213 "Gesture: Distance string cut-off on grab response"
I noticed that sometimes on grab (NOT the intital grab) on ios VoiceOver, that the distance string can be truncated and no distance is not read out.

The alert does not seem to be interrupted by another alert. It just stops.
It might be die to a tiny finger movement.

Posting as something to watch and marking as low priority for now.

[2019-11-27 16:07] terracoda commented on #213
@zepumph, is it possible that a slight finger movement after a successful grab could be interrupting the response?

[2019-11-27 16:10] terracoda commented on #211
I tested [dev version 2.2.0-dev.21](https://phet-dev.colorado.edu/html/gravity-force-lab/2.2.0-dev.21/phet/gravity-force-lab_all_phet.html) and it works nicely from my perspective.

[2019-11-27 16:16] terracoda commented on #205
@zepumph, I seem to get "Release." on grab, and "Grabbed." on release in addition to the correct strings.

It seems it could be related to yours and @jessegreenberg comment in https://github.com/phetsims/gravity-force-lab/issues/205#issuecomment-556147062

Goof luck.
K+Just an FYI, still happening on [2.2.0-dev.21](https://phet-dev.colorado.edu/html/gravity-force-lab/2.2.0-dev.21/phet/gravity-forc

[2019-11-27 17:52] terracoda opened #214 "Keyboard dialog updates for both visual and accessible content"
@zepumph, just noticed a few updates that will be needed for KB dialog:

**Updates to Visuals:**
- Change order of Move and Jump details (heading and list items)
- Insert "and release ruler" in the [J]+[H] instructions block.
![Screen Shot 2019-11-27 at 1 47 02 PM](https://user-images.githubusercontent.com/1902116/69746556-1445d280-111f-11ea-9a86-7c58cc51ab22.png)

**Updates to A11y Strings for Ke

[2019-11-27 18:10] terracoda commented on #210
@zepumph and @jessegreenberg, I tested latest dev version [2.2.0-dev.21](https://phet-dev.colorado.edu/html/gravity-force-lab/2.2.0-dev.21/phet/gravity-force-lab_all_phet.html)
and the sim seems to be working rather well with touch gestures and VoiceOver.

Here's my 2 cents in case you want it ;-)
I have some trouble swiping through content with cursor swipes, but I am not having trouble grabbing

[2019-11-27 18:40] terracoda commented on #213
@zepumph, with further testing, I realized the distance string is ALWAYS on a proper gesture grab.
However, I hear, the full response (including grab and release) if I just do a button double tap on the ruler.

The cut-off example is easy to reproduce, it happens everytime with VO on iphone.

[2019-11-28 20:03] terracoda opened #215 "Ruler Movement Repsonses ready for implementation"
@zepumph, I made new tables to lay out all the common strings and to provide examples of all the context responses need for grabbing, moving and releasing.

I think things are much more general now and I have provided some fuzzy pseudo logic to help with implementation. Please see this section and these tables in the design document

[Context Responses for Measure Distance Ruler (done Nov 28)](htt

[2019-11-28 20:05] terracoda commented on #215
If you have questions just change the label to meeting, and we can discuss in our next meeting.

[2019-11-29 13:24] terracoda opened #216 "Change help text for Measure Distance Ruler (keyboard only)"
Related to design changes outlined in #215, I have decided to remove the lengthy and not very helpful reference to the WASD keys in the Measure Distance Ruler's help text that is always available on-demand in the State Descriptions in the PDOM.

Please change the **bolded platform specific help text** in the curly braces from:
- If needed, grab ruler to measure distance between centers of spheres.

[2019-11-29 14:00] terracoda commented on #180
@zepumph , and A11y Team credits are mentioned in the issue #109

[2019-11-29 14:29] terracoda commented on #213
@zepumph, this might be a duplicate of #196?

[2019-11-29 14:47] terracoda commented on #200
Thanks @zepumph and other devs for the discussion. I am good with this decision.

[2019-11-29 14:47] #200 closed

[2019-12-02 17:28] terracoda commented on #204
@zepumph, I am just commenting that if all goes well in #215 and #216, I think it would be nice to move the Measure Distance Ruler into the Play Area.

[2019-12-02 22:45] jessegreenberg commented on #210
OK thanks @terracoda!

I played with the sim for a few minutes and I haven't been able to get it to accidentally pick up the puller when the cursor is over the ruler. But that leaves the original issue where you can only select the puller with the virtual cursor if you tap in the area of the puller while the ruler is on top

From @terracoda's comment it sounds like this works out OK in this case b

[2019-12-02 23:34] jessegreenberg commented on #210
I tried modifying the z-index in the following HTML and saw no impact in rendering order because containing elements like divs and sections also are positioned with `fixed` and create their own z-rendring context.
<details>

[code]
</details>

[2019-12-03 16:32] arouinfar commented on #207
Unfortunately, I think I was the only one present for both the PhET-iO and a11y conversations around this particular issue, and they were separated enough in time that I wasn't thinking about both. My apologies.

In general, I think disabling the checkbox is the cleaner option. However, we were willing to accept the slightly odd UX of not disabling the checkbox for the simplification of the api fo

[2019-12-03 16:52] kathy-phet commented on #207
I think it was problematic for PhET-iO - at least given the structure of the code at the time. I think it would be best to just schedule a short design meeting with @terracoda and @zepumph to see what options we can come up with for solving the puzzle.

[2019-12-03 19:53] terracoda opened #217 "Gesture: Some trouble cursor swiping through sim on small screen"
I have noticed that I have had a little bit of trouble swiping through items in the sim on a small iphone 7.

I some items skip items or accidentally activate items when trying to read with cursor.

I discussed with @jessegreenberg, and it might be because I am making swipes that are too small and are being interpreted as Taps.

I will re-test with more aggressive swiping.

This issue may be somew

[2019-12-03 20:19] jessegreenberg commented on #210
OK next steps for this issue were identified in https://github.com/phetsims/scenery/issues/1025. We decided that it isn't necessary to address at this time because the ruler extends outside of the puller bounds and so can still be touched with VoiceOver outside of the puller area.

@zepumph can this issue be closed now?

[2019-12-03 20:30] terracoda commented on #217
Is this a problem or I am using iOS VoiceOver incorrectly?

[2019-12-03 20:35] terracoda commented on #207
It is also a relatively awkward and tricky issue for the PDOM, so thankful for the design time.

[2019-12-03 20:57] zepumph commented on #207
I too will be happy for design time.

To try to summarize, it seems challenging for the PDOM because we have an alert when the scientific checkbox is toggled that states that the force vectors are now displayed in a different way. This is confusing if there aren't even any force vectors displayed.

It was problematic for PhET-iO because the "enabledProperty" for the scientific notation checkbox wa

[2019-12-03 22:28] #210 closed

[2019-12-03 22:30] jessegreenberg commented on #212
We also agreed that this should apply to all sims (not just GFL/GFLB) Ill rename others as part of this issue.

[2019-12-03 22:44] jessegreenberg commented on #212
Renamed above, no more PDOMNodes.

[2019-12-03 22:44] #212 closed

[2019-12-03 22:57] jessegreenberg commented on #194
Thanks!

I struggle with the separation of these two in general. AccessibleInstance is the "model" and AccessiblePeer is the "view", and I think of TransformTracker and its Trail as "model" components to be observed by the AccessiblePeer. And so I think AccessibleInstance should be responsible for updating the TransformTracker while AccessiblePeer is responsible for updating listeners on the Trans

[2019-12-03 22:57] jessegreenberg commented on #194
https://github.com/phetsims/gravity-force-lab/issues/194#issuecomment-558656977

Great, thanks @terracoda!

[2019-12-03 23:09] jbphet commented on #208
Notes from the 12/3/2019 review meeting:

+ We compared several versions and decided to go with something pretty simple and not very physical, so Ashton is going to provide some new versions with a fixed interval between them.
+ Ashton will also provide at least one alternative sound for the motion to integrate
+ For next week, JB will
  + integrate the new sounds mentioned above
  + set the ruler

[2019-12-03 23:13] jessegreenberg commented on #211
Commits look great. I agree this will be useful to have as a general pattern. Just one thought about `numberOfGrabs`.

Can the default predicate use `this.numberOfGrabs` instead of taking `numberOfGrabs` as an arg? Then should `numberOfGrabs` be made public in case someone wants to use it in their own predicate function?

[2019-12-03 23:20] zepumph commented on #211
That sounds like a perfectly good way of doing it. But it also feels like apples and oranges to me. Is there a particular reason for the refactor? Does it just feel better to you?

I don't really see a value in making numberOfGrabs public.

Again I have no strong preference either way.

[2019-12-03 23:32] jessegreenberg commented on #211
Sorry, I added reasoning in an edit and it ended up confusing things.

[2019-12-03 23:43] jessegreenberg commented on #196
I tested for about 5 minutes on a macOS Safari with VoiceOver and didn't see this happen. I did notice that the VoiceOver highlight doesn't update with the DOM element, and I verified that the DOM element is getting positioned correctly:
<img width="437" alt="Screen Shot 2019-12-03 at 6 30 44 PM" src="https://user-images.githubusercontent.com/6396244/70099365-a1e06100-15fc-11ea-8a79-611c70990af7.p

[2019-12-03 23:51] jessegreenberg commented on #196
I am getting alert cut-out on iOS VoiceOver.

[2019-12-04 00:03] zepumph commented on #194
Sounds good to me. Ready to close?

[2019-12-04 00:45] zepumph commented on #211
Sorry I don't understand.

the numberOfGrabs that is passed through the function is the current number of grabs, so you don't have to count.

Furthermore, looking more closely, passing `this.numberOfGrabs` to the default predicate looks annoying. It would require binding, and accessing `this` before the `super` call has been called. Now that I have looked at bit closer, I think I like it more the

[2019-12-04 01:34] jessegreenberg commented on #211
You are totally right. Sorry, I don't know why I got confused about this. OK in that case review is complete.

[2019-12-04 01:34] #194 closed

[2019-12-04 11:58] terracoda commented on #196
@jessegreenberg, do you think it would make a difference if we used `aria-live="assertive"`.

[2019-12-04 16:14] jessegreenberg commented on #196
Yes that is definitely possible. But before changing that I would like to see if we can understand why this is happening for the sliders in this sim and not the sliders in other sims.

[2019-12-04 16:43] terracoda commented on #196
@jessegreenberg and @zepumph, I just noticed in the PhET App for GFL Basics no interruptions happen.

The responses are not getting cut off for GFLB even though the VoiceOver's cursor takes a bit of time to catch up to the changed position of the moved mass sphere. Maybe the cut-off is not related to the cursor's delay?

[2019-12-05 02:53] #211 closed

[2019-12-05 18:34] zepumph commented on #203
Note that this is a bug from https://github.com/phetsims/gravity-force-lab/issues/191, and should be fixed before publication.

[2019-12-05 19:32] zepumph commented on #172
The design team did not think that trying to add the dynamic range was worth the effort.

We did think though that updating the static range to be -4.8 to 4.8 instead of -5 to 5. So that it actually represents the true min/max of the track.

We should also add to the `phetioDocumentation` explaining where the origin is.

[2019-12-05 21:17] zepumph commented on #207
Today in design meeting we thought about how these two checkboxes are actual representing 3 states. What if we used a radio button group instead?

* "Show Values"
* "Scientific Notation"
* "Hidden"

This will solve PhET-iO because then we won't have dependent Property values. For

@arouinfar will do a mockup and get back to me for implementation.

[2019-12-05 22:25] terracoda commented on #207
I drafted some descriptions changes in a table here:
https://docs.google.com/document/d/1-37qAgde2XrlXBQae2SgjartM35_EnzDD9pdtd3nXAM/edit#heading=h.m011037v6ep4

[2019-12-05 22:43] zepumph commented on #207
Oops. I assigned @terracoda without seeing the above comment because the descriptions will also need work. Please unassign if you feel like they are ready.

[2019-12-05 23:41] arouinfar commented on #207
Post-meeting slack conversation:

Sadly, in the design meeting I did not mention the help text that accompanies each checkbox. The help text is what creates the context for the checkboxes before interaction takes place and thent eh responses confirm the change in context. So ultimately, there is a shared responsibility of the words in the label, the checked/not checked state, the words in help tex

[2019-12-06 13:25] terracoda commented on #207
Thanks @arouinfar for bring the slack comments here. I'll add that I am not opposed to trying out the radio button group. I was just concerned that I had not fully communicated how different these 2 intersections are from the non-visual perspective.

Onward and upward. Looking forward to seeing @arouinfar 's visual mock-up.

[2019-12-09 20:45] terracoda commented on #213
@jessegreenberg, this alert might be related to #196 which I think you are working on.

[2019-12-09 21:12] terracoda commented on #204
@zepumph, once #215 and #216 are implemented, I think it is safe to move the Measure Distance Ruler to come after the Mass Controls, ensuring it is not inside any grouping related to the Mass Controls, and before the Control Area.

Once it is moved, I we will need to update the screen summary. I'll make a new issue for that.

[2019-12-09 21:43] terracoda opened #218 "Screen Summary updates caused by Changes in PDOM"
Changes to the PDOM will be made in issues #204 and #207. These changes will require changes to the screen summary.

**Current Screen Summary** as of Dec 9th, 2019:

**Once #204 & #207** are implemented these 2 paragraphs will read (see bolded changes):
"The Play Area has two mass spheres, a blue sphere labeled m1 and a red sphere labeled m2. A force vector arrow starts at the center of each spher

[2019-12-09 21:45] terracoda commented on #207
Changing the interaction to radiobuttons will require a change to the screen summary in #218.

[2019-12-10 02:27] zepumph commented on #178
@terracoda said over in https://github.com/phetsims/a11y-research/issues/146#issuecomment-559805532:

Reopening :)

[2019-12-10 02:27] zepumph commented on #178
@terracoda can you please state the platform device screen reader that you are not hearing the "closest" alert for.

[2019-12-10 16:50] terracoda commented on #178
Apoloigies @zepumph, this is indeed fixed. It's possible, I only checked with Constant Size checked and not with the m1 and m2 2 set to their smallest size and closest.

I hear "closest" when the masses are 0.6 meters apart.

Closing.

[2019-12-10 16:50] #178 closed

[2019-12-10 17:00] jessegreenberg commented on #196
I am no longer getting this behavior and I am wondering if this was fixed by https://github.com/phetsims/utterance-queue/commit/0f047918029132b457fd4ab95d419cb4441cdc26

[2019-12-10 17:05] jessegreenberg commented on #196
I reverted the change and the issue returned pretty consistently. So I think this has been fixed. Ill make a new version for @terracoda to verify.

[2019-12-10 20:01] terracoda opened #219 "Focus lost after checking or unchecking "Enhanced Sound" from PhET Menu"
@jbphet, I noticed that when checking Enhanced Sound in the PhET Menu, the pop-up menu closes and focus is lost.

I noticed this in GFL and in John Travoltage, so i think this is a general issue.

Keyboard focus should be returned to the PhET Menu button when the popped up menu closes.

For an example try accessing the About page and then closing the About page dialog. You'll see that focus return

[2019-12-10 20:02] terracoda commented on #219
This is happening on master and MacOS and Safari. I didn't test anything else.

[2019-12-10 21:14] jessegreenberg commented on #219
This is related to keyboard navigation so assigning to myself.

[2019-12-10 21:45] jessegreenberg commented on #140
@zepumph I really apologize that it took me so long to review this.

The particular point of concern in https://github.com/phetsims/gravity-force-lab/issues/140#issuecomment-454611532 (issue around `focusHighlightLayerable`) was resolved in https://github.com/phetsims/inverse-square-law-common/commit/d24287c0026e85cdc3f0c523a9326a01c8c8ece9 so that is no longer a problem.

So I am reviewing the Gr

[2019-12-10 21:52] jessegreenberg commented on #219
This is an issue for all menu items that don't open a dialog. We have logic to move focus from menu to dialog, and dialog back to menu button. But not back to menu button after selection. This applies to screenshot, full screen, and enhanced sounds buttons.

[2019-12-10 22:28] jessegreenberg commented on #219
Discussed with @zepumph -

The current option we have for this (focusAfterCallback) is not general enough. It optionally moves focus to top of the document after the menu item callback. We are going to replace it with an optional function so that you can specify focus behavior. Maybe called `handleFocusCallback`. We considered not using this option and instead going right through the MenuItem `cal

[2019-12-10 23:15] jessegreenberg commented on #219
Done in the above commits.

[2019-12-10 23:43] arouinfar commented on #207
I've mocked up a few options with the radio button group. It seems that "decimal notation" or "decimal form" is the proper term for non-scientific notation (e.g. http://www.corestandards.org/Math/Content/8/EE/A/4/). In the meeting we had mentioned "standard" as an option, but in UK English "standard form" means scientific notation.

![Screen Shot 2019-12-10 at 4 25 22 PM](https://user-images.githu

[2019-12-11 00:32] zepumph commented on #207
I really like the first mockup myself, and I definitely think we have the horizontal real estate to move the panel to the left of the reset all button.

[2019-12-11 00:35] terracoda commented on #207
I agree with @zepumph, I like the first one. They are all part of the Control Area under the hood.

[2019-12-11 00:41] kathy-phet commented on #207
I'm hesitant to use "None" because it has the slight tendency to be interpreted as I'm setting forces to None - no forces. I prefer Hidden I think, although I would like a better word.

[2019-12-11 00:41] terracoda commented on #218
Note, depending on the final order and content in #207  I might have to tweak the content again sligtly.

[2019-12-11 00:43] terracoda commented on #207
@kathy-phet, do you like any of:
 -   "Notation hidden"
 -   "No Notation"
 -   "No Force Values"

Instead of "None" or "Hidden" alone?

[2019-12-11 00:45] jessegreenberg commented on #219
@terracoda can you please confirm this is fixed in https://phet-dev.colorado.edu/html/gravity-force-lab/2.2.0-dev.22/phet/gravity-force-lab_en_phet.html?a11y&supportsSound&supportsEnhancedSound?

[2019-12-11 00:46] jessegreenberg commented on #196
@terracoda can you please verify that this is fixed in https://phet-dev.colorado.edu/html/gravity-force-lab/2.2.0-dev.22/phet/gravity-force-lab_en_phet.html?a11y&supportsSound&supportsEnhancedSound?

[2019-12-11 03:45] arouinfar commented on #207
Thanks for the feedback everyone! It looks like we generally prefer the first mockup, which is most similar to the current layout.

@terracoda thanks for all of the suggestions. Like @kathy-phet, I think "Hidden" could work well here. It's succinct but still descriptive especially when considered with the radio group title -- force values hidden. If we want to re-word things slightly in the contex

[2019-12-11 14:07] terracoda commented on #207
@arouinfar and @kathy-phet I am happy to go with "Hidden" alone as the label for the third radiobutton.

Having the words "force values" in the context responses should make things clear to non-visual learners even if they do not hear "Force Values" automatically upon entering the group.

Depending on screen reader software and exact implementation "Force Values" may not be read out automatically.

[2019-12-11 17:00] arouinfar commented on #207
That all sounds reasonable to me @terracoda. Here's an updated mockup.

![image](https://user-images.githubusercontent.com/8419308/70642764-0c952c00-1bfd-11ea-8038-7ef91f7d940a.png)

[2019-12-11 17:36] terracoda commented on #207
@zepumph, I have updated the design document in two paces:
- See [Control Area](https://docs.google.com/document/d/1-37qAgde2XrlXBQae2SgjartM35_EnzDD9pdtd3nXAM/edit?ts=5df02ff8#heading=h.c2xdgysm2bnw) in State Descriptions section
- The context responses for the radiobuttons are in [Table: Radio Button Group for Force Values](https://docs.google.com/document/d/1-37qAgde2XrlXBQae2SgjartM35_EnzDD9pd

[2019-12-11 17:42] terracoda commented on #219
@jessegreenberg, the focus is working great now, thanks.
I'll message you on slack about a separate issue and where to put.
Closing this one.

[2019-12-11 17:42] #219 closed

[2019-12-11 17:46] jbphet commented on #208
This was reviewed in the 12/10/2019 sound design meeting, and we decided to use option 1 for the grab/release sounds and also option 1 for the ruler motion sounds.  The other changes listed above in https://github.com/phetsims/gravity-force-lab/issues/208#issuecomment-561398763 were also completed and the team generally liked what they saw and heard.

The next steps are:
- [ ] remove the option di

[2019-12-11 18:37] terracoda commented on #208
@jbphet, next review is schedule for Dec 18.

[2019-12-11 18:37] terracoda commented on #208
I should add if there is time.

[2019-12-11 20:27] terracoda commented on #196
Responses are no longer being cut off!

[2019-12-11 20:28] terracoda commented on #196
@jessegreenberg, it sounds really good. I'll close this issue.

[2019-12-11 20:28] #196 closed

[2019-12-12 13:33] terracoda commented on #217
I think my problem was that my swipes were to o small. I was trying to swipe in a way to not touch any visual components.

When swiping more aggressively (and while not looking at the screen) I am not have any issues.

What a great eyes-free experience!

[2019-12-12 13:33] #217 closed

[2019-12-12 13:39] terracoda commented on #208
@jbphet and @Ashton-Morris and @emily-phet, the latest version of GFL
https://phet-dev.colorado.edu/html/gravity-force-lab/2.2.0-dev.22/phet/gravity-force-lab_en_phet.html?a11y&supportsSound&supportsEnhancedSound

has the ruler sounds, I hope to get some feedback on this this coming week. I won't plan to explore the options unless there are serious questions about the Options 1&1.

It sounds great

[2019-12-12 13:43] terracoda commented on #213
There is not longer any cut offs. The gesture grab and drag is working nicely.

[2019-12-12 13:43] #213 closed

[2019-12-13 00:47] zepumph commented on #191
This has been fixed by https://github.com/phetsims/scenery/issues/1014. The offset is being recognized now. Closing.

[2019-12-13 00:47] #191 closed

[2019-12-17 02:17] ariel-phet commented on #207
This all seems lice a nice direction to me, and I like the layout of the panel

My only suggestions is we might want to tweak the default state of the sim so that the masses are initially reasonably over their respective slider controls, but I am not sure if that is necessary or not (since there are not many controls in the sim).

[2019-12-17 22:52] jbphet commented on #181
I don't know why this didn't strike me before, but it seems a little odd that for higher force we use a higher pitched sound, but for higher mass we use a **lower** pitched sound.  In https://github.com/phetsims/molarity/issues/159 we reversed the pitch mapping of the concentration sound to be more consistent with the behavior of the precipitate sound.  Should we consider doing that here too?  Not

[2019-12-17 22:56] jbphet commented on #181
I've published a dev version for review and for use in interviews, please see https://phet-dev.colorado.edu/html/gravity-force-lab/2.2.0-dev.23/phet/gravity-force-lab_en_phet.html?supportsSound&supportsEnhancedSound.  @Ashton-Morris, @emily-phet, and @terracoda - please review and let me know if you think anything should change.  Please think about my question in https://github.com/phetsims/gravit

[2019-12-17 23:03] jbphet opened #220 "Set output levels for sounds"
@Ashton-Morris - I've added markers for mix adjustments to `GravityForceLabScreenView` in the gravity-force-lab repo and to `ISLCRulerNode` in the inverse-square-law-common repo.  Please go through them and let me know how you think we should adjust these levels.

For reference, this is a child issue of https://github.com/phetsims/gravity-force-lab/issues/181.

[2019-12-17 23:04] jbphet commented on #220
By the way, whatever we do mix-wise here should be reasonably consistent with what was done for Gravity Force Lab Basics, which has already been published.

[2019-12-30 22:15] zepumph commented on #205
@terracoda are you still getting this bug? I know @jessegreenberg has done a lot of work on the grab/drag interaction in the last month.

[2019-12-30 22:16] zepumph commented on #218
On hold until https://github.com/phetsims/gravity-force-lab/issues/204

[2019-12-30 22:25] terracoda commented on #205
Good question, I'll check.
In latest dev version 2.2.0-dev.23[2.2.0-dev.23](https://phet-dev.colorado.edu/html/gravity-force-lab/2.2.0-dev.23/phet/gravity-force-lab_all_phet.html)

I am getting correct "Grabbed" and "Released." and the right correct times!
I checked Mac OS High Sierra and iOS 13.3

I am closing this issues.
Thanks for checking @zepumph !

[2019-12-30 22:25] #205 closed

[2019-12-31 01:46] zepumph commented on #207
I did much of this today, though there is still a fair bit of work to be done. The visual and accessibility logic should be correct, and can be tested. I would love to hear what @terracoda and @arouinfar think.

There is still refactoring to be done.  Here is some of the improvements I should still do (mostly notes to myself save the first bullet).

* The control panel for Coulombs law is basicall

[2019-12-31 18:22] terracoda commented on #207
@terracoda reviewed.
@terracoda asked @zepumph to add "Force" to the beginning of the "Notation" radiobutton responses. Now all the responses say "Force values" like this:
- Force values in micronewtons.
- Force values in newtons with scientific notation.
- Force values hidden.

@terracoda will open or re-open an issue in a11y-research to explore design options for accessible radio group code. For

[2019-12-31 18:23] terracoda commented on #207
@arouinfar, over to you for review.

[2019-12-31 18:59] arouinfar commented on #207
@zepumph this all seems to be in working order, though I do have a few pixelpolishing requests.
- [ ] The stroke around the Force Values panels looks a bit heavy, can you match the stroke weight used on the Mass panels?
- [ ] The checkbox next to Constant Size is huge. Can you reduce its dimensions so the height is similar to the leading character of the string?
- [ ] The panel (or strings?) need

[2019-12-31 19:10] terracoda commented on #216
@zepumph, while you are working on #215 it makes sens to do this related issue as well.

[2019-12-31 19:56] zepumph commented on #207
What was happening here is that actually the mass controls are being scaled down. I changed it so none of the panel strokes were scaled, ergo I made them all heavy but consistent. This felt like a better change than trying to map it the other way. If you think it is too heavy, then we can change all of the line widths.

@terracoda does this sound like an appropriate change in terms of interactive

[2019-12-31 20:09] terracoda commented on #207
@zepumph, thanks for asking.
I do not see any issues with it.

- Force arrows and distance are still the same.
- m1 will have a  little less initial wiggle room, but that is the same for both visual and non-visual experiences.
- m2 will be 2 steps closer to crossing to the left side of the track and m1 will be two steps farther from crossing to the right side of the track.

I don't think any of th

[2019-12-31 21:39] zepumph opened #221 "js folder doesn't need a nested sim name"
Most sims look like:
[code]

but this sim and its basics counterpart look like:
[code]

I think we can get rid of this.

[2019-12-31 21:54] zepumph commented on #207
I did a bunch more work here. Please review the following changes:
* I implemented all of the checkboxes @arouinfar recommended
* I made this same change to Coulombs Law, since it has the same issue.
* I refactored the checkbox group into GFLB since BASICS is the only sim that uses it now
* I cleaned up a lot of TODOs from yesterday.
* I PhET-iO instrumented the new radio buttons much better, and

[2019-12-31 22:31] zepumph commented on #216
This is done in GFL, and while I was there I changed the two other usages in Friction and BASE as they seemed the same. Can you please review.

[2019-12-31 22:35] #221 closed

[2019-12-31 23:03] terracoda commented on #216
@zepumph, thanks for pointing out the changes in BASE and Friction.
This simplified help text in the actual PDOM is good as it is platform/device independent.

The initial grab response in all cases (GFL, BASE, and Friction) contains device-dependent essential information about moving with the WASD keys or dragging with the finger.

This change removed duplication and makes our PDOM content more g

[2019-12-31 23:17] terracoda commented on #216
@zepumph, except for the issue with BASE which may or may not be related, this issue is done in my opinion.

[2019-12-31 23:17] terracoda commented on #216
Closing, please re-open if you need to re-open.

[2019-12-31 23:17] #216 closed

[2020-01-01 00:49] zepumph commented on #215
I think that everything in the google doc has been implemented for the ruler. I have not tested gesture at all, but keyboard alerts were sounding good. @terracoda please review.

[2020-01-01 00:57] zepumph commented on #214
Implemented above, please review.

[2020-01-01 01:04] zepumph commented on #204
@terracoda, this was implemented above, please review.

[2020-01-01 01:05] zepumph commented on #218
@terracoda, this was implemented above, please review.

[2020-01-01 01:08] zepumph commented on #140
I think that the x value looks fine in both sims do you feel differently?

![image](https://user-images.githubusercontent.com/6856943/71637114-c9b8e980-2be7-11ea-99f3-fe35919cba19.png)

[2020-01-01 01:28] terracoda commented on #218
Sounds great! Thanks!

[2020-01-01 01:28] #218 closed

[2020-01-01 01:52] terracoda commented on #214
@zepumph, sorry I missed one detail for the KB Shortcuts dialog.
We now have a radio button group.
We need to use the Basic Actions options that include the words "or group" like in BASE:
- Move to next item or group  [Tab]
- Move to previous item or group with [Shift] + [Tab]

**A11y Content for these same items**
- Move to next item or group with Tab key.
- Move to previous item or group with Sh

[2020-01-01 02:15] terracoda commented on #204
Verified. Thanks!

[2020-01-01 02:15] #204 closed

[2020-01-01 02:21] terracoda commented on #215
@zepumph, I noticed the old hint for moving left and right...
- "Move ruler left and right with letter keys A and D."

Please remove that one. I decided to drop it as it was too Keyboard centric.
- It appeared on regrab after a successful J+C and release that left the ruler "just below centers"

![Screen Shot 2019-12-31 at 9 55 47 PM](https://user-images.githubusercontent.com/1902116/71637542-0e60

[2020-01-01 02:23] terracoda commented on #215
Starting a new issue for the above comment.

[2020-01-01 02:24] terracoda opened #222 "Remove Ruler's left-right movement hint"
Moving here from #215
@zepumph, I noticed the old hint for moving left and right...
- "Move ruler left and right with letter keys A and D."

Please remove that one. I decided to drop it as it was too Keyboard centric.
- It appeared on re-grab after a successful J+C and release that left the ruler "just below centers"

![Screen Shot 2019-12-31 at 9 55 47 PM](https://user-images.githubusercontent.co

[2020-01-01 02:28] terracoda opened #223 "Might be an issue with the radio button group"
@zepumph, not sure what is causing VO over to miscount or double count the items parenting the radiobuttons. It might be a new VO bug

First step... Could you make sure the HTML is valid. I didn't check it.
![Screen Shot 2019-12-31 at 10 44 39 PM](https://user-images.githubusercontent.com/1902116/71637576-c42bc580-2c20-11ea-803b-50e6febfadeb.png)

[2020-01-01 02:48] terracoda opened #224 "Pink highlight on ruler layered over mass controls"
@zepumph, just noticed that the pink highlight comes on top of the mass controls. Hoping it is easy to put the highlight on the same z-index as the ruler itself.

![Screen Shot 2019-12-31 at 11 14 18 PM](https://user-images.githubusercontent.com/1902116/71637683-add33900-2c23-11ea-8800-4a45ee26c9c1.png)

![Screen Shot 2019-12-31 at 11 14 33 PM](https://user-images.githubusercontent.com/1902116/716

[2020-01-01 03:44] terracoda commented on #215
I found 4 other things which I will make issues for:
1. Not hearing "Released." when using J+H. I think this is a timing issue as I see it in the A11y View.
2. After a reset with the Reset All button, I get a vertical region change early - on the first step which triggers an early region change combinedReleaseAndExploreHint on the second step. This only seems to happen after a reset.
3. Found an "

[2020-01-01 03:55] terracoda opened #225 "When using J+H, Released string is getting over written"
Item 1 from when reviewing #215,
I do not hear "Released." when using J+H. I think this is a timing issue as I see it in the A11y View.

@zepumph, is there a delay on "Released." that could be causing the "Released." string to be over written, or are the responses firing simultaneously.

If they are firing simultaneously, is it possible to delay the second one without too much trouble?

[2020-01-01 04:00] terracoda opened #226 "After reset all I get an early vertical region change - on first step"
Item 2 from https://github.com/phetsims/gravity-force-lab/issues/215#issuecomment-570018202,

After a reset with the Reset All button, I get a vertical region change early - on the first step. This early region change triggers an early combinedReleaseAndExploreHint on the second step. This only seems to happen after a reset.

Could you fix it so the region change happens when there is an actual re

[2020-01-01 04:02] terracoda opened #227 "Remove "s" on meters when only 1 meter"
Item 3 from https://github.com/phetsims/gravity-force-lab/issues/215#issuecomment-570018202

I found an "s" on meters when centers were 1 meter apart.
Can you add logic to remove the "s" in that case?

[2020-01-01 04:15] terracoda opened #228 "Long or short distancePhrase in Ruler movement reposnes?"
Item 4 from https://github.com/phetsims/gravity-force-lab/issues/215#issuecomment-570018202

I'm thinking, "Centers {{4}} meters apart." sounds a bit strange.
I am considering going back to the longer version, "Centers of spheres {{4}} meters apart."

I'll ask @arouinfar  if she has a preference.

To see the response in context use the A11y View on master.

@arouinfar, my question is, should we be

[2020-01-01 04:17] terracoda commented on #225
Here's a screen shot from the A11y View
![Screen Shot 2019-12-31 at 11 33 58 PM](https://user-images.githubusercontent.com/1902116/71638059-39eb5d80-2c30-11ea-979a-a4ecc0b870c3.png)

[2020-01-01 04:18] terracoda commented on #227
Adding screen shot with VO text
![Screen Shot 2019-12-31 at 11 22 39 PM](https://user-images.githubusercontent.com/1902116/71638068-6010fd80-2c30-11ea-8d29-5bc1aa39fe32.png)

[2020-01-02 13:37] terracoda commented on #228
@arouinfar, let me know if you need more context. The initial responses look really long because they first 2 responses contain instructions for jumping (if using keyboard), and dragging if using touch.

After the first couple of grabs and moves, the user will only get sonified clicks for movement then occasional responses containing ruler position and distance between centers upon a vertical or h

[2020-01-02 14:28] terracoda commented on #215
@zepumph, I reviewed everything you implemented, and it all seems to be working nicely for the keyboard experience (except noted issues).

Please post a dev version when it is ready to test on mobile. Assigning back to you and removing ready to review label.

Nice work!

[2020-01-02 15:12] terracoda opened #229 "Add dynamic distance phrase back on front of Move m1/m2 help text"
Based on recent exploration with a partially described ruler interaction, I would like to put the dynamic distance phrase back on the front of the help text that provides guidance to move the spheres.

I originally asked for this phrase to be removed in GFL regular because the distance value is provided when grabbing the Measure Distance Ruler, but we don’t actually want learners to grab the ruler

[2020-01-02 15:14] terracoda commented on #229
@emily-phet and @arouinfar, your comments are welcome, but I feel confident in this placement of the distance phrase.

[2020-01-02 22:48] arouinfar commented on #228
@terracoda I think it sounds clearer with the addition of "of spheres", and the added length doesn't seem unreasonable to me.

[2020-01-02 22:50] terracoda commented on #228
Thanks @arouinfar.

@zepumph assigning this small change to you for implementation.

[2020-01-03 23:23] arouinfar commented on #207
@zepumph Coulomb's Law is looking good, but the gap between the checkbox and "Constant Size" looks a bit large in GFL. Can you left-align "Constant Size" with the strings above it?

<img src="https://user-images.githubusercontent.com/8419308/71698096-71b0ed00-2d77-11ea-8c40-68f63cd9fcc2.png" width=200>

Things also look good in studio. The only thing that looks a bit odd to me is the `constantRadi

[2020-01-06 18:44] zepumph commented on #227
This was a small change in common code, which I like. I will apply to a few other spots too, is that alright? For example the "centers exactly {{distance}} {{unit}}" in the screen summary:

![image](https://user-images.githubusercontent.com/6856943/71839574-f47fc380-3067-11ea-9547-2d116ed61e36.png)

Does this feel good to you?

[2020-01-06 18:45] terracoda commented on #227
Yes, that looks great! Thanks for finding and fixing these other spots.

[2020-01-06 18:46] #227 closed

[2020-01-06 19:53] zepumph commented on #226
Over in https://github.com/phetsims/gravity-force-lab/issues/215#issuecomment-570018202 I added a bunch new state, but didn't end up resetting any of it. This should now be fixed for the above explicit bug as well as likely others.

[2020-01-06 20:03] zepumph commented on #225
I am not experiencing this bug in NVDA chrome or firefox.

This is what I would think the utteranceQueue is doing, but when I poked around in there I was surprised to find that most of the timing logic was about waiting to release individual Utterance instances, as opposed to making sure that a new utterance isn't released too often. @jessegreenberg did we used to have something like an overall co

[2020-01-06 20:41] jessegreenberg commented on #140
It looks a bit off center to me in that capture, but it is most noticeable in the "Atomic" screen.
![image](https://user-images.githubusercontent.com/6396244/71846975-d337cb00-3099-11ea-99f0-baccd5791bcc.png)

Here it is horizontally centered on the in GFL which also looks better in my opinion:
![image](https://user-images.githubusercontent.com/6396244/71847110-198d2a00-309a-11ea-8043-87f010f44f89

[2020-01-06 21:12] jessegreenberg commented on #225
I cannot reproduce on NVDA but I confirmed this is happening in VO.

Yes I think UtteranceQueue used to have its own delay. But I think it was collapsed into `alertStableDelay` so there was only one timing option, and so Utterance timing didn't conflict with utteranceQueue timing.

[2020-01-06 21:19] jessegreenberg commented on #225
Confirmed that using `alertStableDelay` fixes the issue for me. @zepumph can you please review change before assigning to @terracoda to verify fix?

[2020-01-06 22:40] zepumph commented on #229
Implemented above. I like this change because it involved getting rid of split logic between REGULAR and BASICS, and putting it in inverse square law. Please review.

[2020-01-06 22:43] zepumph commented on #228
Implemented above

[2020-01-06 22:43] #228 closed

[2020-01-06 23:58] zepumph commented on #140
How does that look?

[2020-01-06 23:59] zepumph commented on #225
After discussing with @jessegreenberg, we think that the above solution is best. Though it places the onus on each `Utterance` and the delay set therein to make alerts sound good. There actually isn't any over-all timing control in UtteranceQueue, instead it is up to the Utterances to manage themselves.

[2020-01-06 23:59] zepumph commented on #225
@terracoda please review, does master seem fixed?

[2020-01-07 01:04] zepumph commented on #224
@terracoda would it be ok if it stayed the way it is? The reason why is because of the grab drag interaction cue. When we make it layerable, it surrounds the cue as well, and so this overlay issue is a byproduct of the solution for the weird VO highlight in the first screenshot in https://github.com/phetsims/gravity-force-lab/issues/205.

What do you think?

[2020-01-07 01:05] terracoda commented on #224
It's fine by me.

[2020-01-07 01:17] zepumph opened #230 "Rename "constant radius" to "constant size""
From https://github.com/phetsims/gravity-force-lab/issues/207 @arouinfar said:

I understand this, and totally agree with checkbox, but I feel potentially a bit differently with the model because "radius" is used quite a bit in other methods, like to calculate the size of the mass, you call `calculateRadius`. I'm going to think on this one a bit.

[2020-01-07 01:18] zepumph commented on #207
I decreased the spacing from 10 to 4, and I feel like things are even now

![image](https://user-images.githubusercontent.com/6856943/71860467-7b03c780-309f-11ea-8912-acf2adb7bcad.png)

See https://github.com/phetsims/gravity-force-lab/issues/230 for tandem naming. @arouinfar are we ready to close here?

[2020-01-07 01:18] zepumph commented on #224
Thanks!

[2020-01-07 01:18] #224 closed

[2020-01-07 01:49] zepumph commented on #223
I cannot reproduce this on NVDA. @terracoda was this always the case, or did you have to use the keys a fair amount first? Anything reproduce-able about how you got into this state?

Here is the HTML, it looks valid to me, and our radio buttons haven't changed (that I'm aware of) in a long time:

[code]

[2020-01-07 02:07] zepumph commented on #222
Removed above. Please review.

[2020-01-07 02:21] zepumph commented on #214
We do have an option, see the commit above (very easy thanks to @jessegreenberg).

I also did this for CL. How does that sound? I can make further changes, but they would be in common code. If you think that something should change from how it is in CL and GFL right now, then I would recommend making an issue about it in `scenery-phet` and it can apply to all sims.

[2020-01-07 02:29] zepumph commented on #215
Alright, I have noted all of the separate issues created in response to this review. Thank you so much for having them separate; it made my work today much easier and I appreciate it. Is there anything else for this issue?

[2020-01-07 16:06] jessegreenberg commented on #223
I just tested with macOS VO in Safari and the radio buttons sound as I would expect. I hear "Decimal Notation, radio button, 1 of 3", "Scientific Notation, selected, radio button, 2 of 3" and so on.

I also just tested with iOS VO and it sounds good there too.

[2020-01-07 17:21] arouinfar commented on #207
Looks great @zepumph!

[2020-01-07 17:21] #207 closed

[2020-01-07 17:26] arouinfar commented on #230
Oh, that's also a good point @zepumph.  Should you decide to leave things as is, I think clients will understand that constantRadius is related to the Constant Size checkbox so long as the documentation is reasonable.

[2020-01-07 19:09] zepumph commented on #198
@lmulhall-phet it has a been over a month, and we are moving towards publication, have you had any luck with this?

[2020-01-07 19:13] lmulhall-phet commented on #198
@zepumph, I haven’t seen this again. I’m guessing it was a fluke. Feel free to press on.

[2020-01-07 19:15] zepumph commented on #223
I also could not reproduce on my iPad this morning either, I only ever had the VO highlight track to unchecked radio buttons, but never the phet highlight.

[2020-01-07 19:17] zepumph commented on #198
Thanks! I'm going to close this.

[2020-01-07 19:27] zepumph commented on #230
I like calling it `constantSizeCheckbox`, but I also am tempted to keep `constantRadiusProperty`. I changed it as such, but would love @samreid's opinion, since there is a difference now between the Checkbox and the Property it runs on. Does this feel ok with you? I know it is atypical.

[2020-01-07 19:31] zepumph commented on #230
@arouinfar, this is the current documentation for the constantRadiusProperty. Note how it says "size" in it: "Use this to toggle if the masses have a constantly sized radius, even when the mass changes."

- [ ] Does that feel good to you?

[2020-01-07 19:42] zepumph commented on #172
This was being handled in BASICS but not yet in REGULAR, it was good that we noticed it.

All has now been dealt with here, closing.

[2020-01-07 19:42] #172 closed

[2020-01-07 20:02] zepumph commented on #193
Sounds good. The plan will be to publish the next GFL with phet and phet-io brands. Closing

[2020-01-07 20:02] #193 closed

[2020-01-07 20:14] zepumph commented on #197
This seems to be because navigating with the virtual cursor does not change focus, and iPad safari VO doesn't give focus events, but _activation_ does, so activating an item will cause the focus highlight to show up. There isn't an obvious way to remove that highlight.

I looked in GrabDragInteraction, and the only call to `Node.focus()` was already guarded. Again I think it is just the activation

[2020-01-07 20:18] zepumph commented on #180
@terracoda those were implemented above, now all that is left is QA credits.

[2020-01-07 20:19] arouinfar commented on #230
Looks good to me @zepumph

[2020-01-07 20:29] zepumph commented on #223
@terracoda have you been able to discover steps to reproduce this?

[2020-01-07 23:03] samreid commented on #230
Sounds great.  The UI component matches the UI text, and the model property is named correctly.  The mapping done here is straightforward.  Can this issue be closed?

[2020-01-08 18:33] zepumph commented on #230
Yes thanks!

[2020-01-08 18:33] #230 closed

[2020-01-08 20:58] terracoda commented on #181
@jbphet, this sounds great to me. This dev link does not contain all description for the ruler. That said, I think this will sound nice when all description is implemented.

[2020-01-08 22:00] terracoda commented on #225
Awesome! You got it! Closing! And thanks, i like the simple completeness of the "Released." string.

[2020-01-08 22:00] #225 closed

[2020-01-08 22:10] terracoda commented on #222
Fixed! You are awesome!

[2020-01-08 22:10] #222 closed

[2020-01-08 22:13] terracoda commented on #226
Fixed!

[2020-01-08 22:13] #226 closed

[2020-01-08 22:16] terracoda commented on #229
@zepumph, sounds great, and is nice and familiar, too. I agree, the alignment is nice. Closing.

[2020-01-08 22:16] #229 closed

[2020-01-08 22:20] terracoda commented on #140
Looks good to me :-)

[2020-01-08 22:41] terracoda commented on #214
@zepumph, nice there was an option, but I don't see the added words "item or group" in the A11y View of the dialog. Should this comment move over to scenery-phet?

- [ ] add "item or group" to a11y content. First 2 bullets in https://github.com/phetsims/gravity-force-lab/issues/214#issuecomment-570013622

AND ONE more visual thing
- [ ] I just noticed an extra "Jump or" string in the visual dialog

[2020-01-08 22:45] terracoda commented on #208
From my perspective, this issue is ready to close.

[2020-01-08 22:53] terracoda commented on #180
@zepumph, in the Team list, I think the names are supposed to alphabetical, which would put Amy Rouinfar before my name.

When you change, please make sure my name doesn't get split on a wrapped line (thanks).

[2020-01-08 22:55] terracoda commented on #180
Not sure if we have any general preferences for not splitting names, I see Amy's and Brian's names are split.

[2020-01-08 22:59] terracoda commented on #215
Everything in this issue is good. Remaining bits and pieces (if any) can be followed in other issues.

[2020-01-08 22:59] #215 closed

[2020-01-08 23:29] zepumph commented on #180
In general it just splits on any space. Do you want me to make an issue to discuss only splitting on full names?

[2020-01-08 23:30] terracoda commented on #180
Yes, I think it would be nice to not split the names, if it is straightforward.

[2020-01-08 23:34] lmulhall-phet commented on #198
For https://github.com/phetsims/QA/issues/465. I believe I found another instance of this issue, but not in the same sim:

![issue](https://user-images.githubusercontent.com/31285590/72024842-ae775b00-3233-11ea-9807-318a6ecf7a80.gif)

1. I'm not able to move either the blue dot or the orange dot along the number line.
2. The blue dot and the orange dot are on the same number.

Here's a screenshot

[2020-01-09 00:08] zepumph commented on #198
I would think that perhaps scenery since it doesn't look like that knob in number line is sun/scenery-phet, and the puller is a custom Node too.

[2020-01-09 00:16] terracoda commented on #197
@zepumph, I am inclined to go with option 1, too. The sim is working really well on mobile now. The pink highlight is not showing up as often as before. It is indeed, disappearing when focus moves.

The pink highlights do not interfere with interaction currently, and they certainly won't get in the way of the majority of VO users who likely will not notice them at all.

[2020-01-09 00:18] terracoda commented on #197
I think until know more from collaborative situations in diverse classrooms we might not want to worry about this issue, and just know we might to address in the future.

[2020-01-09 00:19] terracoda commented on #197
Is this safe to close @zepumph?

[2020-01-09 00:19] #197 closed

[2020-01-09 00:38] terracoda commented on #223
@zepumph, sorry for not being clear, this happens with keyboard, but only in a very limited case when reading with the cursor keys, though I haven't isolated it.

If I read straight through and it counts fine. I move my focus through and it is fine.

Sometimes if do something different and it has focus, I get the double count. It is like I do something (not sure what) to confuse VO.

I think this

[2020-01-09 00:42] terracoda commented on #223
Just as aside, at first I thought it wasn't happening at all, and was going to happily close the issue,  and then I made it happen....but VO beeped at me, so I think I doing something atypical.

[2020-01-09 00:54] terracoda commented on #223
@lmulhall-phet or @KatieWoe, coulsd you see if you can reproduce this on any "supported" devices.

I am using MacOs and have a bluetooth keyboard.

@jessegreenberg and @zepumph, cannot reproduce.

This does not happen on VO with gesture. I am using MacBook Pro High Sierra 10.13.6. It might just be me or my set-up.

The issue is not detrimental to the UX. The double counting goes away easily when f

[2020-01-09 00:56] terracoda commented on #223
Pleas close if this double counting is not easy to reproduce. Thanks :-)

[2020-01-09 00:59] zepumph commented on #214
I removed the extra jump, I also fixed a regression where the group content was showing up in BASICS, and I created https://github.com/phetsims/scenery-phet/issues/570 for solving the addition of group related strings generally (which has been implemented and is out for review).

@terracoda anything else here?

[2020-01-09 01:16] terracoda commented on #214
All verified. Closing.

[2020-01-09 01:16] #214 closed

[2020-01-09 17:23] jbphet commented on #198
I agree that scenery would be the appropriate repo, but unless there is a clear and repeatable way to recreate the situation, it's unlikely that much will be done on it.  @lmulhall-phet - if you have the time, finding a way to repeat this would greatly increase the chances of it being addressed.

[2020-01-09 21:10] terracoda commented on #208
@jbphet and @Ashton-Morris, if there is no work to do in this issue, please close. We are really close to RC, and I think the final sound check is going over in #181

[2020-01-09 21:29] emily-phet commented on #181
Thoughts:

- Mass sliders - I'm not sure how I feel about hearing the rubbery thud sound when 'constant size' is checked.
- Mass sliders - When moving the slider slowly with a mouse, It feels a little 'off' to me to hear discrete rubbery thud sounds. It's not an issue when I'm moving quickly and hearing some thud sounds as I go, but it feels weird to be able to move 20-30+ kg without hearing anyth

[2020-01-09 22:38] lmulhall-phet commented on #198
I will of course try, but this will be a backburner task due to the strange circumstances in which the bug occurs. Moving to scenery.

[2020-01-10 01:44] terracoda commented on #181
@emily-phet, are you suggesting these changes be the same on both the GFL and GFLB?

[2020-01-10 04:13] emily-phet commented on #181
@terracoda I'm suggesting (strongly), only the changes regarding the mass slider, which doesn't apply to GFLB (which has number pickers, or whatever they're called).

I'd like to avoid any changes related to the force sound (reversing mapping), which would have to implemented, tried out, decided upon (and if decided to keep, propagated to GFLB).

[2020-01-10 17:04] terracoda commented on #181
@emily-phet, just to be clear, by "rubbery thud sound", you mean the "rubbery thud" or rubber band sound indicating a change in mass. It's current mapping is when mass gets bigger the pitch gets lower. AND not the rubbery bouncy bump sound that indicates meeting up with the other sphere on the track.

I am pretty sure you mean the former - the sound for mass in kilograms.
Current mapping is that t

[2020-01-10 18:36] emily-phet commented on #181
@terracoda Thanks for the detailed thoughts.

Are there any further thoughts or objections to removing the mass sound entirely for GFL(reg)? If there are no objections (though, please do share any you have!) that seems like the simplest path forward for now. The one loss that comes to my mind is that "feel" or presence of the spheres is lost from the non-visual experience. I always liked that phys

[2020-01-10 18:45] KatieWoe commented on #223
Will take a look after https://github.com/phetsims/QA/issues/465

[2020-01-10 18:51] #208 closed

[2020-01-10 19:16] Ashton-Morris commented on #181
Pedagogically it might make sense for the mapping to change but for intelligibility I think that having one tone go up (Force) while the other sound goes down (Mass) makes it easier to pickup on audibly speaking. If they were both going up and down together I feel like it would stand out less.

I do think the constant size sound feels weird, but maybe we could take one of those sounds and make the

[2020-01-10 20:01] terracoda commented on #181
@Ashton-Morris, your points are very well articulated. I agree with both. The sound with the mouse seems fine to me. I also like the current mass sound and think the mapping is good.

You point out that having a reverse mapping for force makes the sounds easier to hear and discern. That's an excellent point.

[2020-01-10 20:06] terracoda commented on #223
@KatieWoe, I am comfortable, if you are, just closing this issue and seeing if it comes up in the QA process? Is that a reasonable path?

[2020-01-10 21:43] KatieWoe commented on #223
That sounds fine. Maybe leave open and link to the next rc so it becomes part of the test.

[2020-01-10 21:44] terracoda commented on #223
That's a great idea! Thanks :-)

[2020-01-15 01:09] jbphet commented on #181
We discussed the future of the mass sound in a review meeting today, and decided to do some quick-and-dirty interviewing on versions that include and exclude the mass sound.  Below are the links for this.

Note that I've turned on sound in the `package.json` file, so query parameters are no longer needed to enable sound.

+ Without mass sounds: https://phet-dev.colorado.edu/html/gravity-force-lab/

[2020-01-15 19:50] BLFiedler commented on #181
@emily-phet and I did some "guerilla interviews" in the lobby of Duane. I will report out at GFL sound meeting on Tuesday.

A note from Wanda: She found the simultaneous noise of the mass clicks and force tone distracting through my interaction and description, but she wants to play with the sim itself in a11y mode.

[2020-01-15 22:16] BLFiedler commented on #181
@terracoda mentioned that there was talk of having edge sound for the mass sliders? Was there intention to add this, @jbphet ?

[2020-01-15 22:23] zepumph opened #231 "Play Area description in the screen summary is too long"
@terracoda mentioned that it would be nice to split up the play area description. I will work with her to do this for GFL and GFLB. This will simplify the content and make things easier to understand from a high level.

[2020-01-15 22:26] #231 closed

[2020-01-16 16:27] Ashton-Morris commented on #220
The only think I thought needed adjusting was levels for force when comparing to GFL:B.

Lines 344 - 351

``
    // @private - sound generation for the force sound
    this.forceSoundGenerator = new ContinuousPropertySoundGenerator(
      model.forceProperty,
      forceSound,
      new Range( model.getMinForce(), model.getMaxForce() ),
      resetAllButton.buttonModel.isFiringProperty,
      { in

[2020-01-16 17:16] jbphet commented on #181
I believe we decided to interview on having the mass sounds either completely on or completely off, and it was an easier thing to do quickly.  It is certainly possible to have the edge sounds if we want them for the final version.  @terracoda - do you have a recommendation on this?

[2020-01-21 05:11] emily-phet commented on #181
@terracoda @jbphet @Ashton-Morris @BLFiedler @zepumph
As we discussed last week, I won't be attending the GFL meeting in the morning. Instead, here's my 2 cents regarding the mass slider sound.

From the informal user testing I did, one thing stood out to me as most significant. At least one user (using the *with mass sound* version) interpreted the force sound as being a completely different soun

[2020-01-21 11:38] terracoda commented on #181
Thanks for these notes Emily.
This is helpful!
Taliesin

Sent from my iPhone

[2020-01-21 16:50] terracoda commented on #181
I personally feel that if we leave the mass sound in as an enhanced sound, we will be able to get continued feedback on sound combinations - that might be a nice (and potentially informative) path forward.

[2020-01-21 17:44] terracoda commented on #181
Decision: We move Mass sound to enhanced and do not add edge sounds to regular sliders for now.

[2020-01-21 21:20] zepumph commented on #140
@jessegreenberg anything else here?

[2020-01-21 22:26] jessegreenberg commented on #140
Thanks for the ping - looks good!

[2020-01-21 22:26] #140 closed

[2020-01-22 20:05] jbphet commented on #181
I have made the following changes to the sound design implementation:

+ Moved the mass sound to "enhanced"
+ Added sounds for dialog open/close (and removed the default close button sound)
+ Adjusted sound levels based on input from @Ashton-Morris

@Ashton-Morris, @emily-phet, and @terracoda - please review and let me know if other changes are needed.

@zepumph - I'm adding you as an assignee so

[2020-01-22 21:15] zepumph opened #232 "Publish an RC"
We are close to an RC and I want a space to consolidate any notes, conversations, plans, and issues to be taken care of around this work.

* @mattpen asked me to bring him along to help out with https://github.com/phetsims/perennial/issues/146
* AboutDialog instrumentation is being review as part of https://github.com/phetsims/phet-io/issues/1586 and would be good to get to before publishing to pr

[2020-01-23 00:04] Ashton-Morris commented on #181
I don't think any changes are needed. It sounds good.

[2020-01-24 02:01] terracoda commented on #181
The sounds sound good to me.
I am no longer getting sounds on my iphone when I have VoiceOver on. I must have done something to my settings. The sounds work fine on iphone when VO is off.

This is also a problem for other sims - not just GFL, so I know it is a setting on my phone. I will keep playing with my settings, and once in RC, QA can make sure sound works with their settings.

[2020-01-24 02:37] terracoda commented on #181
I lied, for Molarity, sound is working fine when I use VO on my iphone.
I will test again in the morning and make sure I have the correct parameters.

[2020-01-24 15:10] terracoda commented on #181
Ok, it seems to be a VO problem. The sounds just stops sometimes. Re-loading seems to get around this problem.

The sounds and the enhanced sounds sound good to me.

[2020-01-24 15:41] terracoda commented on #181
Noticed I am not getting ruler drag responses on mobile. I will open a new issue for that.

[2020-01-24 15:49] terracoda opened #233 "Do not hear ruler movement responses on mobile VO"
@zepumph, I thought all the ruler movement responses were implemented in #215, but it's possible I did not test mobile.

While testing sound on mobile in issue #181 I noticed I was not hearing the region changes and hints to release on mobile. These alerts are outlined in this table in the design doc.

[Table: Pseudo Logic & Combined Phrases for Movement Responses (several examples)](https://docs.

[2020-01-24 15:52] terracoda commented on #233
Again, this issue is just about mobile. The responses are working great with keyboard on my MacBook Pro.

I tested this version on my iPhone 7 and didn't hear ruler movement responses:
https://phet-dev.colorado.edu/html/gravity-force-lab/2.2.0-dev.30/phet/gravity-force-lab_en_phet.html?a11y&supportsSound&supportsEnhancedSound

[2020-01-27 22:41] zepumph commented on #233
Great catch @terracoda. I was calling the alert for the `KeyboardDragListener`, but not for the `DragListener` (for touch/mouse) which is what Gesture a11y relies on. Can you please test/review. Anything else here?

[2020-01-27 22:44] zepumph commented on #232
https://github.com/phetsims/joist/issues/597

[2020-01-28 02:11] zepumph commented on #181
Ok, it sounds like things have solidified here. I'm going to close and move to an RC in #232. We can always make future tweaks if anyone needs to. Closing

[2020-01-28 02:11] #181 closed

[2020-01-28 02:12] zepumph commented on #220
I see no more TODOs for this issue, and it looks like @jbphet tweaked what @Ashton-Morris asked for. I'm going to close this, @Ashton-Morris please reopen if you disagree.

[2020-01-28 02:12] #220 closed

[2020-01-28 03:12] zepumph commented on #232
RC was published.

[2020-01-28 03:12] #232 closed

[2020-01-28 03:40] zepumph commented on #180
I poked around in RichText, and I'm sorry to say it didn't look easy or straightforward at all. I created https://github.com/phetsims/joist/issues/598 to make sure, but I don't think that we will end up changing anything (sorry!).

Over to @KatieWoe since the sim is now in RC.

[2020-01-28 03:40] zepumph commented on #100
Over to @KatieWoe, I'll leave it up to her when to do this during the RC process.

[2020-01-28 03:41] zepumph commented on #109
@terracoda anything else for this issue?

[2020-01-28 14:12] terracoda commented on #233
Yes, I will test again. Please post a dev link. I need a dev link to test on my phone.

[2020-01-28 14:13] terracoda commented on #233
@zepumph, sorry I forgot to tag you, I will need a dev link, but maybe the RC link will have this fix. I'll test that on my phone.

[2020-01-28 14:16] terracoda commented on #109
From my notes in the design doc which I did not add to this issues (apologies). I think everything but #233 has been verified:
- [x] Ruler interaction - changed to Measure Distance Ruler, moveable (done)
- [x] Description Design ready for keyboard and gesture (done)
- [x] Measure Distance Ruler shortcuts (done)
- [x] Measure Distance Ruler essential responses (done)
- [x] Measure Distance Ruler mo

[2020-01-28 17:57] terracoda commented on #233
I hear move responses and release hints on iOS now, yay! Closing.

[2020-01-28 17:57] #233 closed

[2020-01-28 17:57] terracoda commented on #233
I tested the RC version - https://phet-dev.colorado.edu/html/gravity-force-lab/2.2.0-rc.1/phet/gravity-force-lab_all_phet.html

[2020-01-28 18:40] zepumph commented on #109
Awesome! And #233 is now closed. Thanks @terracoda.

[2020-01-28 20:36] loganbraywork opened #234 "When exiting the keyboard shortcuts menu, NVDA will begin to read the sim description"
**Test device**
Windows 10 Laptop
**Operating System**
Windows 10
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/QA/issues/471
Similar to https://github.com/phetsims/molarity/issues/216

When exiting the keyboard shortcuts menu, either by pressing ESC or Enter on the X, NVDA will begin to read out the heading of the sim and then abruptly stop and say "keyboard shortcut

[2020-01-28 21:50] loganbraywork opened #235 "JAWS breaks keyboard navigation when holding down left or right arrow on mass slider"
**Test device**
Windows 10 Laptop
**Operating System**
Windows 10
**Browser**
Chrome
**Problem description**
For  https://github.com/phetsims/QA/issues/471
Similar to the JAWS known screenreader bug of crashing when min/max value on a slider is exceeded
If JAWS is open, the mass slider is selected, and an arrow key is held down to manipulate the mass, then the slider will automatically drag itself

[2020-01-29 03:47] zepumph commented on #234
This doesn't happen to me on chrome but it does on firefox. It seems to be a timing thing, since the focus happens just after the dom shows the screen summary again. The thing is that I couldn't reproduce in firefox with the following snippet. If I could, I would have felt like there was little to be done, but I'll investigate further.

[code]

[2020-01-29 04:07] zepumph commented on #234
If I comment out the following line of code in Dialog:207, the problem goes away (even though the dialog doesn't get hidden.

`        window.phet.joist.sim.hidePopup( this, options.isModal );`

Originally I would have expected it to be more based on `setAccessibleViewsVisible`, but that didn't seem to effect anything. I have not yet had an idea on how to take care of this. I'll keep thinking.

[2020-01-29 16:42] KatieWoe opened #236 "Radio buttons make noise of being selected, even if already selected"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Edge
**Problem description**
For https://github.com/phetsims/QA/issues/471. Not limited to Edge.
The force values radio buttons have a sound effect that plays when you select them. However, If you click on the radio button that is already selected it will make the noise as if being selected again. This needs to be done with mouse or touc

[2020-01-29 17:50] KatieWoe opened #237 "Slight string overlap with mass labels"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Edge
**Problem description**
For https://github.com/phetsims/QA/issues/471
When strings are long or double, the m1 and m2 labels beneath the masses can overlap if they get too close to each other.

**Visuals**
![stringoverlap](https://user-images.githubusercontent.com/41024075/73382621-15ad8b80-4285-11ea-88ec-7f9ed4882839.png)

Troublesh

[2020-01-29 21:09] loganbraywork commented on #223
This issue is easily reproducible in Chrome on MacOS 10.15. This issue does not appear on Safari on MacOS 10.15. We don't support or test VO on Chrome only Safari.

[2020-01-29 22:41] KatieWoe opened #238 "Can't move ruler with mobile VO"
For https://github.com/phetsims/QA/issues/471. Tested using mobile VO on latest iPadOS.
I noticed that there doesn't seem to be anyway to move the ruler around when using mobile VO. This isn't a massive problem, but the scene description does still indicate that it is possible.

[2020-01-29 23:20] KatieWoe commented on #238
@zepumph explained how this is done to me and I was able to do it. However, there is a noticeable amount of lag between doing the double tap and being able to move your finger. If you start too soon it swipes through different options your finger passes over.

[2020-01-29 23:38] KatieWoe opened #239 "Should the keyboard nav dialog sections be consolidated"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/471
I noticed that the "grab ruler" action is separate from all the other ruler commands. I was told this was due to one being common code and the rest not being common code. However, from a user perspective, this doesn't make much sense and I think it would be more

[2020-01-30 00:14] arouinfar opened #240 "Outer focus highlight has inconsistent color"
Grouped components such as NumberControl or VerticalAquaRadioButtonGroup have two focus highlights. In Gravity Force Lab, I noticed that the color of the outer focus highlights is inconsistent for these two UI components.

<img width="286" alt="Screen Shot 2020-01-29 at 3 27 04 PM" src="https://user-images.githubusercontent.com/8419308/73408736-74412c80-42ba-11ea-9dfe-c49b2054fb5b.png">
<img width

[2020-01-30 03:12] zepumph commented on #236
I think we would need to ask sound designers if this is supposed to happen @emily-phet @Ashton-Morris and @jbphet are probably the ones with the answer. Is this a bug?

[2020-01-30 03:14] zepumph commented on #237
We went over this at one point (can't remember the issue), but it turns out that it is very hard to detect this because the two masses are separate objects that don't know about each other's text positioning. I believe that we decided that this was acceptable. @arouinfar do you remember this at all?

[2020-01-30 03:20] zepumph commented on #239
@terracoda the reason these are both here is that the "Grab or Release Ruler" is a section that is general, and able to be added for any sim with a GrabDragInteraction.

I see three ways forward:
1. Keep it as it.
2. Remove the common code section and create a new and unit one each time
3. Try to coopt the common code one to include the custom section "Jump Or Move Grabbed Ruler".

If we go with t

[2020-01-30 03:22] zepumph commented on #240
Sorry for the confusion @arouinfar, but I ended up moving this to GFL because actually it looks like this is is specifying a custom group focus highlight for the mass control when it should just be using the default. I'll see about getting rid of that.

[2020-01-30 04:21] arouinfar commented on #237
@zepumph we discussed the label overlap to some extent in https://github.com/phetsims/inverse-square-law-common/issues/79. For phet-brand, the string is never expected to exceed 2 characters (see https://github.com/phetsims/coulombs-law/issues/78).

For PhET-iO the label overlap could be a real issue, as a client may want to change "m" to "mass" or "q" to "charge". In that case, the strings will i

[2020-01-30 04:21] #237 closed

[2020-01-30 15:18] emily-phet commented on #236
This is the desired behavior. Closing.

[2020-01-30 15:18] #236 closed

[2020-01-30 17:15] terracoda commented on #239
@KatieWoe, good question. It is not about common code. It's about communicating a two-step interaction as clearly as possible.

We actually split the instructions because the interaction has two steps: a grab (or release) and a move. The headings are meant to communicate the two-step process without having to explicitly describe a two-step process, like:
**Ruler**
- Step 1: Grab or Release Ruler w

[2020-01-30 17:36] arouinfar opened #241 "LoL icons/descriptions"
For https://github.com/phetsims/QA/issues/471

[2020-01-30 17:39] arouinfar commented on #241
Icons & descriptions are ready for delivery to LoL when the sim redeploys.

[2020-01-30 18:01] KatieWoe commented on #180
New credits for rc.1:
Jaspe Arias, Logan Bray, Liam Mulhall, Kathryn Woessner

[2020-01-30 20:11] KatieWoe opened #242 "PhET-iO Recording does not record ruler moved by keyboard"
For https://github.com/phetsims/QA/issues/471
Win 10 Chrome on Recording wrapper (not metacog). If you use keyboard nav to pick up and move the ruler, it will look as if the ruler was not picked up and moved, just highlighted for an amount of time. Moving the robots or changing radio buttons does seem to work. Moving the ruler by hand seems to work.

[2020-01-30 20:14] terracoda commented on #234
Not an issue on MacOS :-)

[2020-01-30 20:26] KatieWoe commented on #242
Same thing happens in mirror inputs and is easier to see there. (Doesn't happen in state that I can see.)
![morewierdness](https://user-images.githubusercontent.com/41024075/73487368-12d59800-4364-11ea-93a2-fa98aca1c648.gif)

[2020-01-30 21:09] KatieWoe commented on #242
Do not see this on Win 10 Firefox.

[2020-01-30 21:51] KatieWoe commented on #242
Happens on Edge (probably because Edge is now using Chromium)

[2020-01-31 01:19] zepumph commented on #242
This is a bug with how `GrabDragInteraction` is manipulating "input events".

Side note: @KatieWoe, adding `?phetioDebug` to wrappers runs the debug version sim with assertions in it. That could be a nice tool for QA to have. For example this error caused an assertion error, but only with `?phetioDebug`. Is that something to add to the QA book?

[2020-01-31 03:10] zepumph commented on #242
I worked on this for a while and I'm pretty stuck. There are three-ish things going on here:

1. The immediate problem is that there is an assertion in FocusOverlay that you don't get a focus highlight if you are not focused. I updated that to only effect display that are interactive (since the downstream sim is set to active: false in the sim. This feels good to me, but @jessegreenberg please rev

[2020-01-31 03:21] zepumph commented on #240
I see the custom highlight is nice to make it a bit tighter, the real issue was just coloring, how does that look now?

![image](https://user-images.githubusercontent.com/6856943/73509878-1af5fd80-438d-11ea-9060-62c57cf5e7bf.png)
![Uploading image.png…]()

[2020-01-31 03:22] zepumph commented on #239
I think they are good the way they are. Thanks for the discussion.

[2020-01-31 03:22] #239 closed

[2020-01-31 03:23] zepumph commented on #238
I'm not really sure what to do here. @jessegreenberg have you noticed this lag like I have? Is there anything to be done?

[2020-01-31 03:24] zepumph commented on #223
Does that mean it should be closed as a wontfix?

[2020-01-31 03:26] terracoda commented on #223
I think so @zepumph.

[2020-01-31 03:27] terracoda commented on #223
Chrome has often counted things in a funny way.

[2020-01-31 03:29] zepumph commented on #223
Alright sounds good thanks!

[2020-01-31 03:29] #223 closed

[2020-01-31 03:32] terracoda commented on #238
It works nicely on my iPhone 7.

[2020-01-31 03:47] zepumph commented on #238
@terracoda I definitely have to wait >.5 seconds between the double tab and when VO registers the double tap. For super user it is definitely noticeable. Do you experience that also?

[2020-01-31 03:59] zepumph opened #243 "Ready RC.2"
We aren't ready yet, but it would be good to keep track of the issues needed to be cherry-picked into the RC branch.

In the issue:
* Test performance change in the mirror-inputs wrapper

[2020-01-31 03:59] zepumph commented on #243
- [ ] https://github.com/phetsims/studio/issues/94
- [ ] https://github.com/phetsims/phet-io-wrappers/issues/319

[2020-01-31 15:49] jessegreenberg commented on #238
I experience this delay too but I am pretty sure it is expected. The gesture is not just "double tap" it is "double tap and hold". As mentioned in https://support.apple.com/guide/iphone/learn-voiceover-gestures-iph3e2e2281/ios you have to wait until you hear three rising tones, then you can drag the object. See the "Drag a slider" entry.

[2020-01-31 16:05] terracoda commented on #238
Yes, I have a triple tone and a delay, too. As soon as the tone has played it is safe to drag. It seems to be intentional, and not too long to me on the iPhone7.

[2020-01-31 16:18] KatieWoe opened #244 "IE sim made from html template doesn't load"
For https://github.com/phetsims/QA/issues/471. When trying to use the example code to open the sim in IE (either from using the launch button or copying the code) the sim does not load and a console error appears. Oddly, this doesn't seem to be the case when using the sim wrapper.
![console](https://user-images.githubusercontent.com/41024075/73555329-aa8dc180-440a-11ea-96e1-2b713f63f746.png)

[2020-01-31 17:02] jessegreenberg commented on #242
For 1) > I updated that to only effect display that are interactive (since the downstream sim is set to active: false in the sim.

Actually, does this work? This code continues  to run in the downstream sim and so this assertion seems important. I am wondering if AccessiblePeer.isFocused needs to changed so that it doesn't use document.activeElement but uses a scenery model. Otherwise all usages o

[2020-01-31 17:05] terracoda commented on #238
I agree with @jessegreenberg, I think this delay is expected behaviour.

[2020-01-31 18:13] jessegreenberg commented on #242
This change broke unit tests because `Accessibility.isFocused` now requires the A11yPointer to update `Display.focusProperty`, which requires `Display.initializeEvents`. I still think this change is OK because now `Accessibility.isFocused` will match `Display.focusProperty`.

[2020-01-31 20:08] KatieWoe opened #245 "Recording wrapper, mirror input wrapper ignore shift + arrow"
For https://github.com/phetsims/QA/issues/471. Happens in both chrome and firefox so far. Similar to https://github.com/phetsims/gravity-force-lab/issues/242.
If you use keyboard commands to move the robots or the mass sliders, and use shift+arrow to move in small increments, then the top sim will behave as expected, but the bottom one will act as if there was no shift key.
![noshiftarro](https://

[2020-01-31 20:12] terracoda commented on #109
I think we can close this issue. Everything in it is implemented, and all things outstanding (a11y related or not) are being tracked in other issues.

[2020-01-31 20:12] #109 closed

[2020-01-31 21:13] loganbraywork commented on #245
This also appears to occur in the recording wrapper, giving an incorrect playback when shift is used to move either the slider or masses by small increments.

[2020-01-31 22:21] arouinfar commented on #240
Looks good @zepumph!

[2020-01-31 22:32] zepumph commented on #240
Thanks! We will need to cherry pick to the branch. Reopening.

[2020-02-01 00:03] lmulhall-phet opened #246 "If item is dragged so that cursor is over reset all button, reset all button won't work"
**Test Device**

MacBook Air

**Operating System**

macOS 10.15.2

**Browser**

Chrome, Firefox, Safari

**Problem Description**

For https://github.com/phetsims/QA/issues/471. This is a weird bug that I'm just documenting so that it's documented. If you're dragging an item and you move your cursor over the reset all button, let go of the item you're dragging, and then press the reset all button,

[2020-02-01 00:23] lmulhall-phet commented on #246
This happens on older versions of macOS too.

[2020-02-01 03:02] zepumph commented on #243
- [ ] https://github.com/phetsims/joist/issues/600

[2020-02-03 19:03] zepumph commented on #238
From https://github.com/phetsims/gravity-force-lab/issues/238#issuecomment-580788088:

![image](https://user-images.githubusercontent.com/6856943/73681321-8e885b00-466a-11ea-8b07-46559a4efbc3.png)

With that in mind I think we should close this. Over to @KatieWoe to read over and close if all is good.

[2020-02-03 19:51] #238 closed

[2020-02-03 20:07] zepumph commented on #246
Yes I found this too, even if you just move your mouse one pixel, the reset all button will work again.

steps to reproduce:
* firefox
* https://phet-dev.colorado.edu/html/gravity-force-lab/2.2.0-rc.1/phet/gravity-force-lab_all_phet.html
* drag ruler so that mouse is on top of reset all button
* let go without moving the mouse a single pixel
* Note you cannot click on the reset all button until yo

[2020-02-03 21:29] KatieWoe commented on #242
Applies to metacog recordings too

[2020-02-03 21:30] KatieWoe commented on #245
Applies to metacog recording too

[2020-02-03 21:55] zepumph commented on #235
So I didn't witness this behavior as a bug, but rather general lag with JAWs. It seems like holding down a key produces many DOM events, and then jaws takes all of them in a list and slowly releases them to the sim one at a time. This isn't really breaking other keyboard nav, it's just that those events will occur after all slider events are processed. I don't know if there is any way to get aroun

[2020-02-03 23:10] zepumph commented on #100
@arouinfar, I think we are ready for this, but I thought we should check with you. Does this sim seem to be in its final visual state? Ready to pass them over to @KatieWoe to do screenshots?

[2020-02-03 23:11] zepumph commented on #100
Note: nothing came out of rc.1 that I would expect to change the visuals of the sim.

[2020-02-03 23:25] zepumph commented on #234
I came back to this issue today and I can't seem to reproduce it. I'm pretty confused as to why. I tested the following links on firefox and chrome:

https://phet-dev.colorado.edu/html/gravity-force-lab/2.2.0-rc.1/phet/gravity-force-lab_all_phet.html
http://phettest.colorado.edu/gravity-force-lab/gravity-force-lab_en.html?brand=phet&ea
http://localhost/gravity-force-lab/gravity-force-lab_en.html?b

[2020-02-04 00:01] zepumph commented on #242
@jessegreenberg while your commit get's past the assertion, the grabDragInteraction is not yet working for keyboard mirror inputs in chrome. Let's discuss this more during tomorrow's meeting.

I think part of the issue is how we are focusing the draggable when the grabbable is clicked. We may need to manage both sides of focus based on interactivity.

Looking forward to discussion!

[2020-02-04 00:03] arouinfar commented on #100
Yes, we're ready to finalize the screenshots. @KatieWoe please retake the current screenshots plus the alternate proposed in https://github.com/phetsims/gravity-force-lab/issues/100#issue-342080345.

[2020-02-04 00:08] zepumph commented on #245
This was as simple as serializing the modifier keys in a dom event. This way the incoming input event to the downstream sim (without the context of the actual shift key down event), can still know that the shift key is down. `Input.js` takes care of the rest.

@jonathanolson please review. Does this seem like a reasonable solution to you? Can you think of any non phet-io/a11y use cases for `Input.

[2020-02-04 01:04] zepumph commented on #244
@KatieWoe I just saw that the error is coming from the `_debug` version of the sim. This is not supported on IE, and only the production version should be tested. To do this make sure to omit the `?phetioDebug` query parameter from all testing links on IE. Please let us know if it is not easy to remove `?phetioDebug` or if you have and this problem still occurs.

[2020-02-04 02:34] zepumph commented on #244
@KatieWoe I don't think the above comment was quite right. The Index wrapper loads the template that has build in debug mode `true`. I think that to support IE, this is a case where we shouldn't have this be debug true.

I also think that we should think about making the output of studio launch be debug: false.

Above is the solution to this problem, but I'm not totally convinced that it is the ri

[2020-02-04 02:56] chrisklus commented on #244
Yeah agreed, defaulting with debugging on seems much more important than being IE friendly

[2020-02-04 17:39] KatieWoe commented on #244
Modifying the code with this fix does allow the file to run in IE.

[2020-02-04 19:32] KatieWoe commented on #100
Above commits should do it.

[2020-02-04 19:35] zepumph commented on #235
After discussing with @jessegreenberg in today's dev a11y meeting, we added this bug as (21) to the quirk bug tracking google doc https://docs.google.com/document/d/1518zv6F0odExFsodShZxwTmWNQk3civuNwtQUR-rEBs/edit.

@loganbraywork please close if that sounds good to you.

[2020-02-04 19:57] zepumph commented on #246
@jessegreenberg and I looked at this a bit more today. We found a patch that fixed this bug in firefox.

<details>

[code]
</details>

We still have some questions though:
* We couldn't reproduce this in Chrome
* We found this bug only to effect Nodes that have a PressListener attached to them (hence why slider and its thumb isn't effected).
* We are curious about why this is different on each pla

[2020-02-04 23:32] zepumph commented on #243
- [ ] https://github.com/phetsims/phet-io-wrappers/commit/e034d5104c2492e54c2e1bb95210063fadf02323 from https://github.com/phetsims/phet-io/issues/1615

[2020-02-04 23:43] zepumph commented on #243
- [ ] https://github.com/phetsims/balancing-act/issues/111

[2020-02-05 04:42] zepumph commented on #100
I'll make sure they end up in the RC.

[2020-02-05 05:12] zepumph commented on #242
I worked on this with @jessegreenberg today, and though we feel like we need to factor out usages of `activeElement` to instead use `Display.focusProperty` (separate issue to come), we don't this that is the direct problem here. Our best guess is that there are nested plaback events that are being pressed twice.

We looked into what the scenery events look like for the GrabDragInteraction (ruler)

[2020-02-06 00:32] zepumph commented on #242
After dragging @chrisklus and @samreid through the depths of many bad solutions, we finally came across an algorithm to make this work.

First, the problem at hand:
The general issue is that alternative input events coming from the PDOM break a foundational assumption that PhET-iO had on scenery inputs. This is that they are always "top level" events and cannot be triggered by other sim code. For

[2020-02-06 01:54] samreid commented on #242
I made minor documentation updates, everything else looks great, nice work!  I tested gravity-and-orbits in the playback wrapper and couldn't break it.  Closing.

[2020-02-06 01:58] samreid commented on #242
Two questions:

a) Do you think it's unnecessary to wrap the other Input.js functions with this push/pop?  I think it's unnecessary but wanted to run it past you.
b) Could we use this new facet to simplify `handlePlaybackEvent` and its dealing with nested events on simulationStarted?

[2020-02-06 18:23] arouinfar commented on #100
Looks good @KatieWoe, thanks!

[2020-02-06 19:53] zepumph commented on #243
- [ ] https://github.com/phetsims/studio/issues/92#issuecomment-583080368

[2020-02-06 21:19] loganbraywork commented on #234
Still occurs for me on the latest sim, also commenting that this occurs in the same exact manner for https://github.com/phetsims/QA/issues/476

[2020-02-07 16:50] BLFiedler opened #247 "GFL Sound Feature Video Script & Recording"
Make sound features video script and review with team

https://drive.google.com/open?id=1zcE1cbsDlgAiAwRxipFJiw5QzBx-weidVG2bD_rojNc

Recording will happen after.

[2020-02-07 17:42] zepumph commented on #245
@jonathanolson and I reviewed this and it looks good. I will take one more look through the MDN docs for window.Event to see if we are missing any others.

[2020-02-07 18:06] zepumph commented on #246
I paired on this with @jonathanolson and we came up with the above solution. It is simple and works well! @jonathanolson also mentioned that @jessegreenberg and my patch above would likely have caused memory leaks since `exit` often wouldn't have shown up.

I'll cherry pick this and have QA test.

[2020-02-07 18:36] terracoda commented on #223
@KatieWoe and @zepumph, FYI, in https://github.com/phetsims/ohms-law/issues/153#issuecomment-583528576, I found that this double counting consistently happens when reading a list of radiobuttons in reverse order with the cursor keys.

I still don't think this needs to be fixed.

[2020-02-07 18:43] terracoda opened #248 "Associate Force Values ul with its h3 heading with aria-labelledby"
In https://github.com/phetsims/ohms-law/issues/153#issuecomment-583528576 , I realized our group naming conventions were not so consistent. For radiobuttons with visible headings it might be a good rule of thumb to use `aria-labelledby` to associate the group of radios with their heading. Where there is no visible heading, we could consider not using `aria-labelledby`.

@zepumph, hopefully, it is

[2020-02-07 23:23] zepumph commented on #243
- [ ] https://github.com/phetsims/phet-io-wrappers/issues/321

[2020-02-07 23:25] jessegreenberg commented on #234
I am able to get this behavior on Windows 10 Firefox and NVDA in molarity. It reads just like @loganbraywork wrote, it seems to read the H1, then the first line of the sim

[2020-02-07 23:29] jessegreenberg commented on #234
I also noticed that this is not happening for the AboutDialog, just the KeyboardHelpDialog.

[2020-02-07 23:45] zepumph commented on #245
I added `type` for clarity, though it doesn't need to be deserialized. Ready to be cherry-picked.

[2020-02-07 23:53] zepumph commented on #248
It is easy to do for this one case. GFL publication is highest priority, so I'm happy to do it this way for the publication. I do though want to discuss further about if this should end up in common code. We should talk about it more over in ohms-law issues, as that is lower priority and we should do that in the most maintainable way.

[2020-02-08 00:04] zepumph commented on #242
Hmm. That is a good question. Remember while testing we found that there was a blur event nested under a mouse event? Wouldn't that blur get hit twice? What would hurt by adding it to all places? As we increase our support for multiple modalities, I wouldn't be surprised if we ran into weird cases in the future. That said I don't think we need to support that now, and it may be best to hold off un

[2020-02-09 20:25] jessegreenberg commented on #234
I spent some time on this today and found some really interesting things. First, I found that the bug happens in this copy of the sim with minimal Javascript without scenery. In this example, when the keybaord help dialog is closed NVDA will read the first sentence in the page. When the about dialog is closed, NVDA will read the first heading in the page.
<details>

[code]
</details>

Second, I wa

[2020-02-10 18:34] terracoda commented on #248
@zepumph, the Force Values group name is working GFL regular.

<img width="1062" alt="Screen Shot 2020-02-10 at 3 02 42 PM" src="https://user-images.githubusercontent.com/1902116/74178639-78ecd580-4c16-11ea-8eb7-f374224dc22d.png">

[2020-02-10 18:38] terracoda commented on #248
@zepumph, things are working as the should be on VO. Should I close this issue or do you need to leave it open for any reason?

[2020-02-10 18:49] terracoda commented on #248
Leaving open for @zepumph to cherry pick.

[2020-02-11 19:42] zepumph commented on #234
After discussing with @jessegreenberg, we feel like we should move on and not fix this problem. Here are some final notes about the bug (many distilled from comments above).

* In the second example above, we could not find a way to stop NVDA from reading the unfocused content, but when we removed the aria-labelledby on the dialog that was being hidden, it ready the heading, whereas when it was pr

[2020-02-11 21:39] zepumph opened #249 "Add marker input to this sim"
Related to https://github.com/phetsims/a11y-research/issues/153, we want to prototype in this sim with marker input and creating tangible controls with paper and computer vision.

[2020-02-11 21:40] zepumph opened #250 "branch: mechamarkers"
For work with https://github.com/phetsims/gravity-force-lab/issues/249 and (parent issue) https://github.com/phetsims/a11y-research/issues/153

[2020-02-11 23:46] zepumph commented on #249
I created a simple slider by making an input group (anchor 21) and and a slider (marker 15). Here is the generated `inputs.txt`

<details>

[code]
</details>

Then I was able to create a private type called `SliderMarker` that could handle that input group and set an AXON/Property based on the slider value. The output of the above commit is that three Properties are controlled by my one tangible s

[2020-02-12 01:38] zepumph commented on #244
From discussing this earlier today with @samreid, we want to support the above patch with the following features:

- [ ] Radio Buttons in studio, default to value of ?phetioDebug, that dictate the `debug` flag of "launched" wrappers.
- [ ] IE opt out of debug:true, with a console.log about it. (in launchSim)
- [ ] In loadWrapperTemplate, opt out of debug:true if on IE, perhaps with an added commen

[2020-02-12 02:23] zepumph commented on #244
I implemented the first two above. Since this code in on the wrapper side, I had to port over IE detection from platform.js. This was less than ideal and made me decide against doing the third bullet with the following thoughts. We don't support our wrapper suite in IE, as no developer client of PhET-iO is using IE. We know this chiefly because we don't support studio in IE. Thus I don't feel like

[2020-02-13 17:28] zepumph commented on #234
I created https://github.com/phetsims/a11y-research/issues/154, I'm going to close this as a "wontfix"

[2020-02-13 17:29] #234 closed

[2020-02-13 18:28] samreid commented on #244
I thought a good name for those radio buttons would be "HTML Output".

[2020-02-13 18:32] samreid commented on #244
Once we move to ES6 modules, will it be easier to reuse the platform.js code in sims and wrappers?

[2020-02-13 18:36] samreid commented on #244
I didn't spot any problems skimming through the change sets.  Can you recommend how these changes can be tested?  Should I try to trick my computer into simulating IE?

[2020-02-13 19:52] #235 closed

[2020-02-13 21:32] zepumph commented on #243
- [ ] https://github.com/phetsims/studio/issues/19

[2020-02-13 22:07] zepumph commented on #244
@samreid and I looked into this together, and decided that a `silent` mode, along with a few other tweaks was really nice. I think this is ready to be cherry-picked to the RC branch.

[2020-02-13 22:08] zepumph commented on #243
- [ ] https://github.com/phetsims/gravity-force-lab/issues/244

[2020-02-13 22:40] zepumph commented on #242
I did not cherry pick the following commits:
https://github.com/phetsims/scenery-phet/commit/d8270ac9df1cf0ac17c30e11b27df728805b6e4f
https://github.com/phetsims/scenery/commit/29656a7482cee60637113a87dd88d2c19436773c
https://github.com/phetsims/scenery/commit/603c857be1acb74ab825850e97eef91050ebeb10

And things are working well.

@samreid please open new issues for any other work you think needs

[2020-02-13 23:23] zepumph commented on #243
Published, see phetsims/QA#480

[2020-02-13 23:23] #243 closed

[2020-02-14 16:26] samreid commented on #242
Everything looks good here, thanks!  No need for side issues that I can think of.  Closing.

[2020-02-14 16:59] zepumph commented on #242
Thanks! Leaving open for QA to close when it is confirmed fixed in the GFL branch.

[2020-02-14 17:00] samreid commented on #242
Thanks!

[2020-02-14 21:27] loganbraywork commented on #246
Appears to be fixed!

[2020-02-14 21:27] #246 closed

[2020-02-14 21:40] loganbraywork commented on #240
Seems to be fixed

[2020-02-14 21:40] #240 closed

[2020-02-14 21:49] KatieWoe commented on #100
This was done in rc.1. This can be closed. Let me know if something else is needed.

[2020-02-14 21:49] #100 closed

[2020-02-17 19:42] zepumph opened #251 "Ready RC.3"
Issues that need to be cherry-picked that aren't in this repo. QA issue https://github.com/phetsims/QA/issues/480

- [x] https://github.com/phetsims/molarity/issues/222

[2020-02-17 20:47] KatieWoe commented on #101
The mass labels can move up and down while moving their sliders. May just be a problem with firefox, hard to tell. For https://github.com/phetsims/QA/issues/480
![bouncingmass](https://user-images.githubusercontent.com/41024075/74685508-020e8a00-518c-11ea-8eb4-af6fa114b3c5.gif)

[2020-02-17 21:10] KatieWoe opened #252 "First sound slightly softer"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/QA/issues/480. Only noticed on Firefox so far.
The first sound produced by the sim seems to be a bit softer than those produced after. Seems rather minor, may be in other sims as it is hard to notice. It does seem familiar, but I couldn't find another issue of it. Probably d

[2020-02-18 00:43] zepumph commented on #252
This is sound related, over to @jbphet. Let me know if I can help.

[2020-02-18 17:14] jbphet commented on #252
This behavior is due to the autoplay policy that is implemented by most browsers these days.  This policy prevents sound from being played by a web page until the user interacts with it.  There are a number of GitHub issues related to this, and perhaps the most relevant is https://github.com/phetsims/tambo/issues/9.  The particular behavior reported in this issue - i.e. that the first sound is som

[2020-02-18 20:49] KatieWoe opened #253 "Ruler behind slider panel can be dragged"
I noticed that you can drag the ruler from behind the slider boxes. Doesn't cause any problems and I don't think it needs anything done if it isn't an easy fix. For https://github.com/phetsims/QA/issues/480
![shoulddrag](https://user-images.githubusercontent.com/41024075/74776723-529dea00-5255-11ea-9ad4-36ca06332182.gif)

[2020-02-18 20:52] zepumph commented on #253
I tried to set both `pickable: false` and `pickable: true` on the mass control panels (the `Panel` itself), and neither worked. I would have thought that either of those would block pointer events from reaching the ruler at a lower z-layer.

[2020-02-18 21:13] samreid commented on #253
Try `Panel.options.backgroundPickable = true`

[2020-02-18 21:24] loganbraywork commented on #245
Appears fixed

[2020-02-18 21:24] #245 closed

[2020-02-18 21:25] loganbraywork commented on #242
Appears fixed

[2020-02-18 21:25] #242 closed

[2020-02-18 22:00] zepumph commented on #253
Thanks @samreid! To add this in only one spot, I did a bit of refactoring too. Both of these can go into the next RC. Thanks all!

[2020-02-18 22:03] zepumph commented on #252
That sounds really good to me. Over to @KatieWoe to document this for QA how she sees fit and/or close.

[2020-02-18 22:03] #252 closed

[2020-02-18 22:27] KatieWoe opened #254 "Dropping Ruler in Full Screen Makes Donk Noise"
**Device**
Jordan
**Browser**
Safari
**OS**
Mac 10.14
**Problem Description**
For https://github.com/phetsims/QA/issues/480.
When safari is in full screen, if you use keyboard nav to "drop" the ruler it makes the "you can't do that" donk sound. It does not do this when picking up the ruler. It still does drop the ruler. Similar to https://github.com/phetsims/molarity/issues/210
**Steps to Reproduc

[2020-02-19 22:17] loganbraywork opened #255 "When slider is disabled and opacity is at 0 the launched html simulation displays a gray, not transparent, slider"
**Test device**
Windows 10 Laptop
**Operating System**
Windows 10
**Browser**
Edge
**Problem description**
For https://github.com/phetsims/QA/issues/480

In Phet-io studio, if the slider is disabled and opacity set to 0, the html version of the sim launches with the slider grayed out, not invisible.
**Steps to reproduce**
1. Go to the mass slider in Phet-io studio
2. Disable the mass slider
3. Set

[2020-02-19 23:12] KatieWoe commented on #244
Looks fixed in rc.2 you do get a warning:
![allowblockedcontent](https://user-images.githubusercontent.com/41024075/74885367-9adf0a00-5332-11ea-9d3e-68a71394e8cd.png)
If you click allow, then it loads

[2020-02-19 23:12] #244 closed

[2020-02-20 16:20] KatieWoe opened #256 "NVDA Ruler seems somewhat unresponsive and causes freeze"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/QA/issues/480
When using keyboard nav to move the ruler when using NVDA there are some responsiveness issues. When you first pick it up, there does not seem to be any indication of this with the border. Using the arrow keys will move the ruler, but often it does not do it fu

[2020-02-20 16:23] KatieWoe commented on #256
These console errors appear:
![consoleerrors](https://user-images.githubusercontent.com/41024075/74955912-9104e780-53c2-11ea-9928-9bf45ef98a9d.png)
If you stop NVDA then the sim freezes and you can't interact with anything after that.

[2020-02-20 16:58] KatieWoe commented on #256
Happens in rc.1 and seems to need nvda to occur

[2020-02-20 17:14] KatieWoe commented on #256
Does not seem to happen with Mac VO + Safari. I also noticed that part of the above problem is that the screen reader doesn't seem to read out as many alerts/information as it should.

[2020-02-20 17:53] zepumph commented on #248
This was added to rc.2:

![image](https://user-images.githubusercontent.com/6856943/74963615-7f214580-53be-11ea-8a91-f1b52462e7fd.png)

Closing

[2020-02-20 17:53] #248 closed

[2020-02-20 17:59] KatieWoe opened #257 "Screen reader appears to check checkbox when it doesn't"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/QA/issues/480. Found with NVDA.
When going through the scene description you can hit a place where the checkbox for constant size looks highlighted and the screen reader reads out the beginning of the section. However, you need to be on the next item to actually be over the

[2020-02-20 18:41] zepumph commented on #256
@KatieWoe can you please reproduce in the debug version of the sim and provide the console error for that?

[2020-02-20 19:23] KatieWoe commented on #256
![moreerrors](https://user-images.githubusercontent.com/41024075/74970553-c9fd8600-53db-11ea-95da-15027d0a675e.png)

[2020-02-20 19:40] zepumph commented on #255
Enabled works by setting the the opacityProperty, so this is a race condition where the opacity is set first, and then the enabledProperty is set, which resets the opacity. @samreid do you think we need to fix this? We have already largely solved this by featuring the enabledProperty.

[2020-02-20 19:43] KatieWoe commented on #256
![stillsame](https://user-images.githubusercontent.com/41024075/74972274-a5ef7400-53de-11ea-8310-fbd291a530d8.png)

[2020-02-20 21:35] KatieWoe opened #258 "Can't compare with diff wrapper"
For https://github.com/phetsims/QA/issues/480. Win 10 Chrome
When discussing with @zepumph he provided a link to use to test the rc2 diff wrapper. When pasting this link into the diff wrapper I got an error. I also tried taking the end of the provided url so that it was the wrapper index url (we have been told to use this in these tests) I still got an error.
![stillcantdiff](https://user-images.g

[2020-02-20 22:34] zepumph commented on #251
- [ ] https://github.com/phetsims/phet-io-wrappers/issues/330
- [ ] https://github.com/phetsims/phet-io-wrappers/issues/317

[2020-02-20 23:39] zepumph commented on #258
This is largely an issue with the documentation.

I recommend running loading the following link, and when you do, you do not need to type anything into the input box (the link has that info built into it): https://phet-dev.colorado.edu/html/gravity-force-lab/2.2.0-rc.2/phet-io/wrappers/diff/?newSimURL=https://phet-dev.colorado.edu/html/gravity-force-lab/2.3.0-dev.2/phet-io/

If you want to load a

[2020-02-21 19:55] KatieWoe commented on #258
My mistake. Closing

[2020-02-21 19:55] #258 closed

[2020-02-22 01:10] zepumph commented on #254
https://github.com/phetsims/gravity-force-lab/issues/256 is making this hard to test. I will take a look over there before handling this one.

[2020-02-22 01:13] zepumph commented on #254
Maybe it is will look something like this in releaseDraggable:

`      event && event.domEvent && event.domEvent.preventDefault();`

[2020-02-22 01:26] zepumph commented on #255
After discussing this with @samreid, he said:

I agree. I think it is more important for the "launch" button to serve as an easy guide to check the customizations and make sure that what they set is as expected. I'm going to close this as a won't fix.

[2020-02-22 01:26] #255 closed

[2020-02-22 01:45] zepumph commented on #251
- [ ] https://github.com/phetsims/axon/issues/287

[2020-02-22 02:05] zepumph commented on #256
For some reason NVDA is sending touch events coming from the PDOM grab button when releasing the ruler. I told scenery to ignore it in the above commit. I also found that SceneryEventIO wasn't as tolerant as its core type was in serialization. above changes coupled with https://github.com/phetsims/axon/issues/287 make me feel confident that this is fixed and ready to move into a the RC branch.

[2020-02-22 02:10] zepumph commented on #256
@KatieWoe thanks for the error logs, they helped in tracking things down.

[2020-02-22 02:16] zepumph commented on #254
After discussing with @jessegreenberg, and reviewing the last comment https://github.com/phetsims/molarity/issues/210#issuecomment-584412281 which caused the 24th bug in https://docs.google.com/document/d/1518zv6F0odExFsodShZxwTmWNQk3civuNwtQUR-rEBs/edit, I think that there is likely nothing to be done here.

I'm interested if you get this when pressing escape and enter/spacebar. From that other i

[2020-02-22 02:25] zepumph commented on #254
I added a potential fix above, but it is very much prototype code. I did this by adding `preventDefault` to the events on release. This didn't work for enter though, when I did this, it took two enter presses to release. I would like some pretty specific answers to some questions to inform how I will go about fixing (or leaving) the code alone.

First, you said "Use keyboard nav to drop ruler". Th

[2020-02-22 02:41] zepumph commented on #257
I can reproduce this very easily.
* Go to firefox
* turn on NVDA
* navigate to the checkbox
* press up arrow once. This moves the virtual cursor to the label from the input (I think)
* The NVDA says "clickable not checked", and when you press enter/space, it doesn't select the input.

@jessegreenberg can you speak to this issue? Is this how screen readers work, so this behavior is expected, or sho

[2020-02-22 02:47] zepumph commented on #257
I could not reproduce this with the following two checkboxes, one is a simple case, and the other is copied from the PDOM:

[code]

[2020-02-24 16:33] KatieWoe commented on #254
Only happens with space. Hard to tell with escape as it exits Full Screen rather than dropping the ruler, but no donk sound happens.

[2020-02-24 19:10] zepumph commented on #254
Does this mean it still happens with space on master?

[2020-02-24 19:11] KatieWoe commented on #254
Sorry, I thought you were asking for clarification on rc.2. Let me check on master.

[2020-02-24 19:12] zepumph commented on #254
I was hoping for both in https://github.com/phetsims/gravity-force-lab/issues/254#issuecomment-589907780:

[2020-02-24 19:34] KatieWoe commented on #254
Donk sound seems fixed in master

[2020-02-26 21:30] zepumph commented on #254
That's great to hear thanks! I will update GrabDragInteraction on master to only preventDefault for the `space` key case.

[2020-02-26 21:57] zepumph commented on #254
After pairing with @KatieWoe, we found that `preventDefault()` did not prevent the "donk" sound when using space to drop the grab/drag button. I added this issue as a reference to number `#24` in https://docs.google.com/document/d/1518zv6F0odExFsodShZxwTmWNQk3civuNwtQUR-rEBs/edit and will mark this as a won't fix and close.

First I will revert my commit above though.

Thanks @KatieWoe for some sp

[2020-02-26 22:00] #254 closed

[2020-02-26 23:27] zepumph commented on #251
- [ ] https://github.com/phetsims/studio/issues/102
- [ ] https://github.com/phetsims/studio/issues/103

[2020-02-26 23:36] zepumph commented on #251
- [ ] https://github.com/phetsims/studio/commit/35d38ed9711abb8262db692eb5ba170bc134d9d2

[2020-02-26 23:48] zepumph commented on #251
As of today, I have three issues out for review, and one unsolved. Then we will be ready for rc.3

[2020-03-02 18:56] zepumph commented on #257
That's right. This isn't getting enabled or disabled in this context.

[2020-03-02 18:57] jessegreenberg commented on #257
Notes from some investigation with @zepumph today:

We are seeing the following DOM events when printing events reaching `display.accessibleDOMELement`
![image](https://user-images.githubusercontent.com/6396244/75707622-335b7f80-5c8d-11ea-98b2-9f464af79437.png)

So we can see that the checkbox is getting two `click` events, but we don't know why. We also see some strange `focus` related events whe

[2020-03-02 20:18] zepumph commented on #257
No AccessibilityTree operations are occurring.

[2020-03-02 20:49] jessegreenberg commented on #257
Stepping through the events, I am seeing that they *do* have different targets. It seems that data-trail-id does only point to the primary sibling.

![image](https://user-images.githubusercontent.com/6396244/75716548-6ad22800-5c9d-11ea-82fc-d105a77147f7.png)

So we are getting a click event on the label, dispatching it through the scene graph. Then getting a click event on the input and dispatchin

[2020-03-03 01:38] zepumph commented on #257
This is working great! Thanks @jessegreenberg for getting to the bottom of things. See https://github.com/phetsims/a11y-research/issues/156 for third party bug report.

[2020-03-03 03:18] zepumph commented on #257
Mirror inputs wrapper helped find a bug in the above commit. Sometimes event.target is null, and that's ok. I committed a fix above to master and the GFL rc branch.

[2020-03-03 03:19] zepumph commented on #251
Closing, see https://github.com/phetsims/QA/issues/485

[2020-03-03 03:19] #251 closed

[2020-03-03 17:38] zepumph opened #259 "Cleanup Interactive Descriptions design doc"
From GFL meeting today, @terracoda wants to go through it and clean it up before leaving this sim.

[2020-03-03 20:31] loganbraywork opened #260 "When launching the sim from Studio or the Wrapper index on Firefox, it initially fails to play audio"
<b>Test Device</b>

Windows 10 laptop

<b>Operating System</b>

Windows 10

<b>Browser</b>

Firefox

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/485

When launching the sim either through studio or using the launch button on the wrapper index, firefox fails to play any sound initially. After switching tabs away from and back to the launched sim sound works

<b>Steps to Re

[2020-03-03 21:35] zepumph commented on #260
I think this is a duplicate of https://github.com/phetsims/phet-io-wrappers/issues/324. @loganbraywork please reopen if you disagree.

[2020-03-03 21:35] #260 closed

[2020-03-03 22:05] KatieWoe commented on #253
Looks good in rc.3

[2020-03-03 22:05] #253 closed

[2020-03-03 23:24] KatieWoe commented on #256
Looks good in rc3

[2020-03-03 23:24] #256 closed

[2020-03-03 23:30] lmulhall-phet opened #261 "State not being transmitted"
For https://github.com/phetsims/QA/issues/485. Seen on macOS + Chrome 80.0.3987.122.

I have no idea how to reproduce this. (Sorry.)

Somehow, the state was not transmitted:

![issue](https://user-images.githubusercontent.com/31285590/75829650-016d1a80-5d6c-11ea-8164-bb0eaf3447da.png)

[2020-03-04 00:28] zepumph commented on #261
The error here is an assertion. In the wrapper code we received a message from the sim that made us think that we had an error, but when we tried to parse the message as an error, it didn't look like an error (i.e. have a message and a stack like all errors should).

I went through the build phet-io.js file from rc.3 and by hand "deminified" the stack shown above it is like so:

[code]
From this w

[2020-03-04 00:32] zepumph commented on #261
@samreid will you please review this sneaky type casting bug. I'm a bit worried about how @lmulhall-phet potentially hit an assertion that was masked by this bug, and that we can't reproduce it. That said I think its priority should reflect its difficultly in reproduction.

I will commit this to the branch, but since there isn't much in the way of reproduce-ability, I don't think QA will need to l

[2020-03-04 00:32] zepumph commented on #261
Please assign this back to me so I can add it to the branch.

[2020-03-04 01:09] zepumph commented on #261
Here is a patch for a test I was going to add to exercise this problem. It involves triggering an assertion in the sim and trying to catch it back on the sim side. Too late though I realized it was a bad test because assertions always have a message. Something like `Assertion failed: . . . `

So I'm even less concerned about this problem now, because it means that somehow a messageless (or stackle

[2020-03-04 02:52] zepumph commented on #261
Update. I don't think this is a fuzz reproducealble bug, as I didn't hit this during fuzzing of the state wrapper for 2:15.

[2020-03-04 17:18] KatieWoe commented on #257
Saw something similar with Jaws, where it seemed to read through and list "bullet" first before the radio button when using keyboard nav, and clicking at the wrong time didn't make the change. Just scrolling with the arrows wouldn't make the change as in normal keyboard nav. Is this acceptable @zepumph?

[2020-03-04 18:15] jessegreenberg commented on #257
Thanks, I am not sure yet if this is an issue, I will take a look.

This surprised us too and we submitted a bug report to Freedom Scientific in https://github.com/phetsims/a11y-research/issues/54. According to JAWS the behavior you described is expected.

[2020-03-04 18:25] KatieWoe commented on #261
Managed to reproduce on Edge. Happens if you try to open the about dialog.
![reproducededge](https://user-images.githubusercontent.com/41024075/75910299-e0a7d200-5e0a-11ea-95e6-aa192b970be2.png)

[2020-03-04 18:55] KatieWoe commented on #261
This will also cause incorrect launches in studio via the same method.
![preventcorrect](https://user-images.githubusercontent.com/41024075/75912832-0df67f00-5e0f-11ea-9766-f1d42b53227f.gif)

[2020-03-04 20:07] zepumph commented on #257
@jessegreenberg are you saying that the first item may be a bug, but the second one definitely isn't?

[2020-03-04 21:55] jessegreenberg commented on #257
That is correct. But I just tested the follwoing HTML with JAWS
<details>

[code]
</details>
And confirmed that it behaves exactly as @KatieWoe describes. So both items in https://github.com/phetsims/gravity-force-lab/issues/257#issuecomment-594675503 are the expected behavior for JAWS.

[2020-03-04 22:44] zepumph commented on #257
Alright great to know. I'm going to close this issue then. Thanks team!

[2020-03-04 22:44] #257 closed

[2020-03-04 23:08] zepumph opened #262 "ready Rc.4"
- [x] https://github.com/phetsims/studio/issues/107 (nothing to cherry-pick, just to confirm fixed in next RC)
- [x] https://github.com/phetsims/studio/issues/102

[2020-03-04 23:35] zepumph commented on #261
I have not yet been able to reproduce this. Can you do it consistently? Can you do it from master? If you can from master that would be a much nicer stack trace.

[2020-03-04 23:36] KatieWoe commented on #261
Consistently yes. Master yes.